openapi: 3.2.0
info:
  title: Overview Tracking API
  version: '1.0'
  description: '> OAS Schema can be downloaded [here](https://stoplight.io/api/v1/projects/automizely/docs-api-aftership-com/nodes/reference/api.json?branch=production%252F2026-07&deref=optimizedBundle)

    <div style="visibility:hidden; height: 0">[url](../../docs/quickstart/authentication.md)</div>'
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/terms
  summary: API Overview
servers:
- url: https://api.aftership.com/tracking/2026-07
  description: API Endpoint
security:
- as-api-key: []
tags:
- name: Tracking
paths:
  /trackings:
    get:
      summary: Get trackings
      responses:
        '200':
          description: Get trackings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracking_response_get_multiple.v1'
              examples:
                get-trackings:
                  value:
                    meta:
                      code: 200
                    data:
                      pagination:
                        total: 2
                        next_cursor: WzE3MTk5OTIwMzIzNTMsImE0NWQ5NDg5ODU4NzQzMjA5YjBjYjRlZjE3ZTBjNGVhIl0=
                        has_next_page: true
                      trackings:
                      - id: 0b02015fc7fd4f3c8d5490cece4d124d
                        legacy_id: my2uktymyz72xld1f7l3h01z
                        created_at: '2023-01-18T08:47:10+00:00'
                        updated_at: '2023-01-18T17:47:10+00:00'
                        tracking_number: '61293150000079650811'
                        slug: fedex
                        active: false
                        custom_fields:
                          store_name: my-store
                        transit_time: 9
                        origin_country_region: CHN
                        origin_state: Beijing
                        origin_city: Beijing
                        origin_postal_code: '065001'
                        origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                        destination_country_region: USA
                        destination_state: New York
                        destination_city: New York City
                        destination_postal_code: '10001'
                        destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
                        courier_destination_country_region: USA
                        courier_estimated_delivery_date:
                          estimated_delivery_date: '2022-01-03T12:11:11+01:00'
                          estimated_delivery_date_min: '2022-01-02T12:11:10+01:00'
                          estimated_delivery_date_max: '2022-01-03T12:11:11+01:00'
                        note: note
                        order_id: 6845a095a27a4caeb27487806f058add
                        order_id_path: https://www.aftership.com/my-orders/6845a095a27a4caeb27487806f058add
                        order_date: '2022-01-20T15:56:12+08:00'
                        shipment_package_count: 1
                        shipment_pickup_date: '2022-01-21T15:00:00'
                        shipment_delivery_date: '2022-01-29T11:23:00'
                        shipment_type: FedEx SmartPost
                        shipment_weight:
                          value: 0.7
                          unit: kg
                        signed_by: Steve Young
                        customers:
                        - role: sender
                          name: Steve Young
                          phone_number: '+8613800138000'
                          email: example@aftership.com
                          language: en
                          id: cust_12345
                        source: api
                        tag: Delivered
                        subtag: Delivered_002
                        subtag_message: Picked up by customer
                        title: '61293150000079650811'
                        tracked_count: 13
                        language: en
                        checkpoints:
                        - created_at: '2023-01-18T08:47:10+00:00'
                          slug: fedex
                          checkpoint_time: '2022-01-01T18:47:10-05:00'
                          location: 13th Street, New York, NY 10011, USA, United States
                          city: New York
                          state: NY
                          postal_code: '10011'
                          coordinate: null
                          country_region: USA
                          country_region_name: United States
                          message: Package delivered
                          tag: Delivered
                          subtag: Delivered_002
                          subtag_message: Picked up by customer
                          raw_tag: RO
                          events:
                          - code: delivered_to_neighbor
                            reason:
                              code: incorrect_missing_address
                          source: carrier
                          hash: a1b2c3d4e5f6789012345678901234567890abcd
                        subscribed_smses:
                        - string
                        subscribed_emails:
                        - string
                        return_to_sender: false
                        order_promised_delivery_date:
                          promised_delivery_date: '2026-01-01'
                          promised_delivery_date_max: null
                          promised_delivery_date_min: null
                        delivery_type: pickup_at_store
                        pickup_location: 13th Street, New York, NY 10011, USA, United States
                        pickup_note: No notes
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                        first_attempted_at: '2022-01-01T17:00:00-05:00'
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                        tracking_account_number: null
                        tracking_key: null
                        tracking_ship_date: '20220101'
                        on_time_status: on-time
                        on_time_difference: 0
                        order_tags:
                        - Exception
                        aftership_estimated_delivery_date:
                          estimated_delivery_date: '2022-01-03'
                          confidence_code: 10001
                          estimated_delivery_date_min: '2022-01-02'
                          estimated_delivery_date_max: '2022-01-04'
                        custom_estimated_delivery_date:
                          type: specific
                          datetime: '2022-01-05'
                          datetime_min: null
                          datetime_max: null
                        order_number: '162654659775'
                        first_estimated_delivery:
                          type: specific
                          source: Carrier EDD
                          datetime: '2022-01-05T12:11:11+01:00'
                          datetime_min: null
                          datetime_max: null
                        latest_estimated_delivery:
                          type: specific
                          source: AfterShip EDD
                          datetime: '2022-01-05T12:11:11+01:00'
                          datetime_min: null
                          datetime_max: null
                          revise_reason: extreme_weather
                        shipment_tags:
                        - Returned
                        courier_connection_id: 8e1261bde336436abbc7cb3eee8cd707
                        last_mile:
                          slug: usps
                          tracking_number: '61293150000079650811'
                          source: system
                          courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                          courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                        first_mile:
                          slug: usps
                          tracking_number: '61293150000079650812'
                          courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650812&cntry_code=US
                          courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650812&cntry_code=US
                        carbon_emissions:
                          unit: kg
                          value: 0.7
                        location_id: bda843ed811541fc852a8447371cf6f2
                        shipping_method: Local Delivery
                        failed_delivery_attempts: 2
                        signature_requirement: signature_required
                        delivery_location_type: null
                        aftership_tracking_url: https://track.happytrading.com/61293150000079650811
                        aftership_tracking_order_url: https://track.happytrading.com/order-status?order-number=1001&code=eyJlbWFpbCI6InRlc3RAZXhhbXBsZS5jb20ifQ==
                        shipment_dimensions:
                          unit: cm
                          length: 30
                          width: 20
                          height: 10
                        proof_of_delivery:
                        - type: image
                          url: https://example.com/pod-image.jpg
                        multi_piece_info:
                          type: master
                          pieces:
                          - tracking_id: bff5a3bac79b472991a204172473a635
                            tracking_number: '61293150000079650811'
                            type: master
                            trackable: true
                          - tracking_id: c79b472991a204172473a635bff5a3ba
                            tracking_number: '61293150000079650812'
                            type: child
                            trackable: true
                        shipment_direction: forward
                        return_shipment:
                          id: a204172473a635bff5a3bac79b472991
                          tracking_number: '61293150000079650813'
                          slug: usps
                        forward_shipment: null
      operationId: get-trackings
      description: 'Get tracking results of multiple trackings.


        <div style="visibility:hidden; height: 0">[url](../../docs/enum/additional_tracking_fields.md)[url](../../docs/enum/confidence_codes.md)[url](../../docs/enum/delivery_sub_statuses.md)[url](../../docs/enum/delivery_statuses.md)[url](../../docs/enum/slug_groups.md)[url](../../model/resource/tracking.json)[url](../../model/resource/checkpoint.json)[url](../../model/resource/courier.json)[url](../../model/resource/notification.json)[url](../../model/enum/additional_fields.v1.json)[url](../../model/enum/slug_group.v1.json)[url](../../model/enum/tag.v1.json)[url](../../reference/api.json/paths/~1trackings/get)[url](../../reference/api.json/paths/~1trackings/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/put)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/delete)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1retrack/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1mark-as-completed/post)[url](../../reference/api.json/paths/~1couriers/get)[url](../../reference/api.json/paths/~1couriers~1detect/post)[url](../../reference/api.json/paths/~1couriers~1all/get)[url](../../reference/api.json/paths/~1last_checkpoint~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1add/post)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1remove/post)

        [url](../../docs/quickstart/authentication.md)

        </div>'
      parameters:
      - schema:
          type: string
          enum:
          - application/json
          example: application/json
          default: application/json
        in: header
        name: Content-Type
        description: 'Content-Type

          '
        required: true
      - schema:
          type: string
          minimum: 1
          example: WzE3MTk5OTIwMzIzNTMsImE0NWQ5NDg5ODU4NzQzMjA5YjBjYjRlZjE3ZTBjNGVhIl0=
        in: query
        name: cursor
        description: A string representing the cursor value for the current page of results.
      - schema:
          type: integer
          minLength: 1
          maxLength: 200
          minimum: 1
          maximum: 200
          default: 100
          example: 100
        in: query
        name: limit
        description: 'Number of trackings each page contain. (Default: 100, Max: 200)'
      - schema:
          type: string
          example: RA123456789US
        in: query
        name: keyword
        description: 'Search the content of the tracking record fields: `tracking_number`, `title`, `order_id`, `customers[x].name`, `custom_fields`, `customers[x].email`, `customers[x].phone_number`'
      - schema:
          type: string
          example: RA123456789US,LE123456789US
        in: query
        name: tracking_numbers
        description: 'Tracking number of shipments. Use comma to separate multiple values (Example: RA123456789US,LE123456789US). Supports up to 50 tracking numbers.'
      - schema:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 1
          example: usps
        in: query
        name: slug
        description: 'Unique courier code Use comma for multiple values. (Example: dhl,ups,usps)'
      - schema:
          type: integer
          example: 1
        in: query
        name: transit_time
        description: 'Total delivery time in days.


          - When the shipment is delivered: Transit time = Delivered date - Picked up date

          - When the shipment is not delivered: Transit time = Current date - Picked up date


          Value as `null` for the shipment without pickup date.'
      - schema:
          type: string
          pattern: ^[A-Z,]+$
          example: USA
        in: query
        name: origin
        description: 'Origin country/region of trackings. Use ISO Alpha-3 (three letters). Use comma for multiple values. (Example: USA,HKG)'
      - schema:
          type: string
          pattern: ^[A-Z,]+$
          example: USA
        in: query
        name: destination
        description: 'Destination country/region of trackings. Use ISO Alpha-3 (three letters). Use comma for multiple values. (Example: USA,HKG)'
      - schema:
          type: string
          enum:
          - Pending
          - InfoReceived
          - InTransit
          - OutForDelivery
          - AttemptFail
          - Delivered
          - AvailableForPickup
          - Exception
          - Expired
          example: InTransit
          pattern: ^[A-Za-z]+$
        in: query
        name: tag
        description: Current status of tracking. Values include `Pending`, `InfoReceived`, `InTransit`, `OutForDelivery`, `AttemptFail`, `Delivered`, `AvailableForPickup`, `Exception`, `Expired` (See tag definition)
      - schema:
          type: string
          example: 2013-03-15T16:41:56%2B08:00
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$
        in: query
        name: created_at_min
        description: 'Start date and time of trackings created. AfterShip only stores data of 120 days. Please make sure the value of the parameter is properly escaped in [URL encoding](https://en.wikipedia.org/wiki/Percent-encoding).(Defaults: 120 days ago, Example: The escaped value of 2013-03-15T16:41:56+08:00 is 2013-03-15T16:41:56%2B08:00)'
      - schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$
          example: 2013-03-15T16:41:56%2B08:00
        in: query
        name: created_at_max
        description: 'End date and time of trackings created. Please make sure the value of the parameter is properly escaped in [URL encoding](https://en.wikipedia.org/wiki/Percent-encoding).(Defaults: now, Example: The escaped value of 2013-04-15T16:41:56+08:00 is 2013-04-15T16:41:56%2B08:00)'
      - schema:
          type: string
          example: 2013-03-15T16:41:56%2B08:00
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$
        in: query
        name: updated_at_min
        description: 'Start date and time of trackings updated. Please make sure the value of the parameter is properly escaped in [URL encoding](https://en.wikipedia.org/wiki/Percent-encoding).(Example: The escaped value of 2013-03-15T16:41:56+08:00 is 2013-03-15T16:41:56%2B08:00)'
      - schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$
          example: 2013-03-15T16:41:56%2B08:00
        in: query
        name: updated_at_max
        description: 'End date and time of trackings updated. Please make sure the value of the parameter is properly escaped in [URL encoding](https://en.wikipedia.org/wiki/Percent-encoding).(Example: The escaped value of 2013-04-15T16:41:56+08:00 is 2013-04-15T16:41:56%2B08:00)'
      - schema:
          type: string
          example: title
          pattern: ^[a-z0-9,]+$
        in: query
        name: fields
        description: 'List of fields to include in the response. Use comma for multiple values. Available options: `title`, `order_id`, `tag`, `checkpoints`. Example: `title,order_id`'
      - schema:
          type: string
          pattern: ^[a-z,]+$
          example: 'true'
        in: query
        name: return_to_sender
        description: Select return to sender, the value should be `true` or `false`, with optional comma separated.
      - schema:
          type: string
          pattern: ^[A-Z,]+$
          example: USA
        in: query
        name: courier_destination_country_region
        description: 'Destination country/region of trackings returned by courier. Use ISO Alpha-3 (three letters). Use comma for multiple values. (Example: USA,HKG)'
      - schema:
          type: string
        in: query
        description: 'Tags you added to your shipments to help categorize and filter them easily. Use a comma to separate multiple values (Example: a,b)'
        name: shipment_tags
      - schema:
          type: string
          example: 6845a095a27a4caeb27487806f058add
        in: query
        name: order_id
        description: 'A globally-unique identifier for the order. Use comma for multiple values.(Example: 6845a095a27a4caeb27487806f058add,4845a095a27a4caeb27487806f058abc)'
      x-stoplight:
        id: jh865r66gc6hi
      tags:
      - Tracking
    post:
      summary: Create a tracking
      operationId: create-tracking
      responses:
        '201':
          description: Tracking object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracking_response.v1'
              examples:
                normal response:
                  value:
                    meta:
                      code: 201
                    data:
                      id: 0b02015fc7fd4f3c8d5490cece4d124d
                      legacy_id: my2uktymyz72xld1f7l3h01z
                      created_at: '2023-01-18T08:47:10+00:00'
                      updated_at: '2023-01-18T17:47:10+00:00'
                      tracking_number: '61293150000079650811'
                      slug: fedex
                      active: false
                      custom_fields:
                        store_name: my-store
                      transit_time: 9
                      origin_country_region: CHN
                      origin_state: Beijing
                      origin_city: Beijing
                      origin_postal_code: '065001'
                      origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                      destination_country_region: USA
                      destination_state: New York
                      destination_city: New York City
                      destination_postal_code: '10001'
                      destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
                      courier_destination_country_region: USA
                      courier_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03T12:11:11+01:00'
                        estimated_delivery_date_min: '2022-01-02T12:11:10+01:00'
                        estimated_delivery_date_max: '2022-01-03T12:11:11+01:00'
                      note: note
                      order_id: 6845a095a27a4caeb27487806f058add
                      order_id_path: https://www.aftership.com/my-orders/6845a095a27a4caeb27487806f058add
                      order_date: '2022-01-20T15:56:12+08:00'
                      shipment_package_count: 1
                      shipment_pickup_date: '2022-01-21T15:00:00'
                      shipment_delivery_date: '2022-01-29T11:23:00'
                      shipment_type: FedEx SmartPost
                      shipment_weight:
                        value: 0.7
                        unit: kg
                      signed_by: Steve Young
                      customers:
                      - role: sender
                        name: Steve Young
                        phone_number: '+8613800138000'
                        email: example@aftership.com
                        language: en
                        id: cust_12345
                      source: api
                      tag: Delivered
                      subtag: Delivered_002
                      subtag_message: Picked up by customer
                      title: '61293150000079650811'
                      tracked_count: 13
                      language: en
                      checkpoints:
                      - created_at: '2023-01-18T08:47:10+00:00'
                        slug: fedex
                        checkpoint_time: '2022-01-01T18:47:10-05:00'
                        location: 13th Street, New York, NY 10011, USA, United States
                        city: New York
                        state: NY
                        postal_code: '10011'
                        coordinate: null
                        country_region: USA
                        country_region_name: United States
                        message: Package delivered
                        tag: Delivered
                        subtag: Delivered_002
                        subtag_message: Picked up by customer
                        raw_tag: RO
                        events:
                        - code: delivered_to_neighbor
                          reason:
                            code: incorrect_missing_address
                        source: carrier
                        hash: a1b2c3d4e5f6789012345678901234567890abcd
                      subscribed_smses:
                      - string
                      subscribed_emails:
                      - string
                      return_to_sender: false
                      order_promised_delivery_date:
                        promised_delivery_date: '2026-01-01'
                        promised_delivery_date_max: null
                        promised_delivery_date_min: null
                      delivery_type: pickup_at_store
                      pickup_location: 13th Street, New York, NY 10011, USA, United States
                      pickup_note: No notes
                      courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                      first_attempted_at: '2022-01-01T17:00:00-05:00'
                      courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      tracking_account_number: null
                      tracking_key: null
                      tracking_ship_date: '20220101'
                      on_time_status: on-time
                      on_time_difference: 0
                      order_tags:
                      - Exception
                      aftership_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03'
                        confidence_code: 10001
                        estimated_delivery_date_min: '2022-01-02'
                        estimated_delivery_date_max: '2022-01-04'
                      custom_estimated_delivery_date:
                        type: specific
                        datetime: '2022-01-05'
                        datetime_min: null
                        datetime_max: null
                      order_number: '162654659775'
                      first_estimated_delivery:
                        type: specific
                        source: Carrier EDD
                        datetime: '2022-01-05T12:11:11+01:00'
                        datetime_min: null
                        datetime_max: null
                      latest_estimated_delivery: null
                      shipment_tags:
                      - Returned
                      courier_connection_id: 8e1261bde336436abbc7cb3eee8cd707
                      last_mile:
                        slug: usps
                        tracking_number: '61293150000079650811'
                        source: system
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      first_mile:
                        slug: usps
                        tracking_number: '61293150000079650812'
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650812&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650812&cntry_code=US
                      carbon_emissions:
                        unit: kg
                        value: 0.7
                      location_id: bda843ed811541fc852a8447371cf6f2
                      shipping_method: Local Delivery
                      failed_delivery_attempts: 2
                      signature_requirement: signature_required
                      delivery_location_type: null
                      aftership_tracking_url: https://track.happytrading.com/61293150000079650811
                      aftership_tracking_order_url: https://track.happytrading.com/order-status?order-number=1001&code=eyJlbWFpbCI6InRlc3RAZXhhbXBsZS5jb20ifQ==
                      shipment_dimensions:
                        unit: cm
                        length: 30
                        width: 20
                        height: 10
                      proof_of_delivery:
                      - type: image
                        url: https://example.com/pod-image.jpg
                      multi_piece_info:
                        type: master
                        pieces:
                        - tracking_id: bff5a3bac79b472991a204172473a635
                          tracking_number: '61293150000079650811'
                          type: master
                          trackable: true
                        - tracking_id: c79b472991a204172473a635bff5a3ba
                          tracking_number: '61293150000079650812'
                          type: child
                          trackable: true
                      shipment_direction: forward
                      return_shipment:
                        id: a204172473a635bff5a3bac79b472991
                        tracking_number: '61293150000079650813'
                        slug: usps
                      forward_shipment: null
      description: 'Create a tracking.


        <div style="visibility:hidden; height: 0">[url](../../docs/enum/additional_tracking_fields.md)[url](../../docs/enum/confidence_codes.md)[url](../../docs/enum/delivery_sub_statuses.md)[url](../../docs/enum/delivery_statuses.md)[url](../../docs/enum/slug_groups.md)[url](../../model/resource/tracking.json)[url](../../model/resource/checkpoint.json)[url](../../model/resource/courier.json)[url](../../model/resource/notification.json)[url](../../model/enum/additional_fields.v1.json)[url](../../model/enum/slug_group.v1.json)[url](../../model/enum/tag.v1.json)[url](../../reference/api.json/paths/~1trackings/get)[url](../../reference/api.json/paths/~1trackings/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/put)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/delete)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1retrack/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1mark-as-completed/post)[url](../../reference/api.json/paths/~1couriers/get)[url](../../reference/api.json/paths/~1couriers~1detect/post)[url](../../reference/api.json/paths/~1couriers~1all/get)[url](../../reference/api.json/paths/~1last_checkpoint~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1add/post)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1remove/post)

        [url](../../docs/quickstart/authentication.md)</div>'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tracking_number
              properties:
                id:
                  type: string
                  x-stoplight:
                    id: 7t9fy06v5ekg7
                  description: Tracking ID that is system-generated by default and can be customized by the user when creating a tracking.
                  example: bff5a3bac79b472991a204172473a635
                  pattern: '[0-9a-zA-Z-_]{1,128}'
                tracking_number:
                  type: string
                  minLength: 1
                  description: 'Tracking number of a shipment.


                    Duplicated tracking numbers, tracking numbers with invalid tracking number format will not be accepted.


                    We only accept tracking numbers with length from 4 to 100


                    We currently support the following characters in a tracking number:


                    - A - Z

                    - 0 - 9

                    - `-` (Hyphen)

                    - . (Period)

                    - _ (Underscore)

                    - / (Slash)'
                slug:
                  type: string
                  description: Unique courier code. Get courier codes [here](https://www.aftership.com/docs/tracking/others/supported-couriers).
                title:
                  type: string
                  minLength: 1
                  description: By default this field shows the `tracking_number`, but you can customize it as you wish with any info (e.g. the order number).
                order_id:
                  type: string
                  minLength: 1
                  description: A globally-unique identifier for the order.
                custom_fields:
                  type: object
                  description: 'Custom fields that accept an object with string field. In order to protect the privacy of your customers, do not include any [personal data](https://www.aftership.com/legal/dpa#:~:text=Personal%20Data%20means,that%20natural%20person) in custom fields.


                    - Maximum charater limit for a key name: 30

                    - Maximum count for a key-value pair in a custom field object: 25

                    - Maximum value length: 512 charaters

                    - Supported value type: String only (object and array are prohibted)'
                  additionalProperties:
                    x-stoplight:
                      id: ojdlar98pvzkw
                    type: string
                order_id_path:
                  type: string
                  minLength: 1
                  description: The URL for the order in your system or store.
                language:
                  type: string
                  minLength: 1
                  description: The recipient’s language. If you set up AfterShip notifications in different languages, we use this to send the recipient tracking updates in their preferred language. Use an [ISO 639-1 Language Code](https://help.aftership.com/hc/en-us/articles/360001623287-Supported-Language-Parameters) to specify the language.
                order_promised_delivery_date:
                  type: object
                  description: The promised delivery date of the order in shipment recipient’s timezone.
                  properties:
                    promised_delivery_date:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: e6hnuyahywsh7
                      description: 'The promised delivery date of the order.

                        It uses the formats:

                        - YYYY-MM-DD

                        - YYYY-MM-DDTHH:mm:ss

                        - YYYY-MM-DDTHH:mm:ssZ'
                      example: 'null'
                    promised_delivery_date_min:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: uu74a45lrvb9a
                      description: "Earliest promised delivery date of the order. \nIt uses the formats:\n- YYYY-MM-DD\n- YYYY-MM-DDTHH:mm:ss\n- YYYY-MM-DDTHH:mm:ssZ"
                      example: '2022-01-02T10:00:00'
                    promised_delivery_date_max:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: 55am8cjum91v6
                      description: "Latest promised delivery date of the order. \nIt uses the formats:\n- YYYY-MM-DD\n- YYYY-MM-DDTHH:mm:ss\n- YYYY-MM-DDTHH:mm:ssZ"
                      example: '2022-01-04T10:00:00'
                pickup_location:
                  type: string
                  minLength: 1
                  description: Shipment pickup location for receiver
                delivery_type:
                  type: string
                  minLength: 1
                  description: 'Shipment delivery type


                    - pickup_at_store

                    - pickup_at_courier

                    - door_to_door'
                  enum:
                  - pickup_at_store
                  - door_to_door
                  - pickup_at_courier
                pickup_note:
                  type: string
                  minLength: 1
                  description: Shipment pickup note for receiver
                tracking_account_number:
                  type: string
                  description: Additional field required by some carriers to retrieve the tracking info. The shipper’s carrier account number. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                tracking_key:
                  type: string
                  description: Additional field required by some carriers to retrieve the tracking info. A type of tracking credential required by some carriers. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                tracking_ship_date:
                  type: string
                  description: 'The date and time when the shipment is shipped by the merchant and ready for pickup by the carrier. The field supports the following formats:

                    - YYYY-MM-DD

                    - YYYY-MM-DDTHH:mm:ss

                    - YYYY-MM-DDTHH:mm:ssZ

                    The field serves two key purposes:

                    - Calculate processing time metrics in the Order-to-delivery Analytics dashboard. To ensure accurate analytics, it''s recommended to include timezone information when configuring this value

                    - Required by certain carriers to retrieve tracking information as an additional tracking field.'
                origin_country_region:
                  type: string
                  description: The [ISO Alpha-3](https://support.aftership.com/en/article/iso3-country-code-rlpi07/) code (3 letters) for the origin country/region. E.g. USA for the United States. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The origin country/region of the shipment. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: CHN
                  x-stoplight:
                    id: uq4ukyviatagh
                origin_state:
                  type: string
                  description: The state of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Beijing
                origin_city:
                  type: string
                  description: The city of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Beijing
                origin_postal_code:
                  type: string
                  description: The postal of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: '065001'
                origin_raw_location:
                  type: string
                  description: The sender address that the shipment is shipping from. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                destination_country_region:
                  type: string
                  description: The [ISO Alpha-3](https://support.aftership.com/en/article/iso3-country-code-rlpi07/) code (3 letters) for the destination country/region. E.g. USA for the United States. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The destination country/region of the shipment. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: USA
                  x-stoplight:
                    id: ercpp086xr1q4
                destination_state:
                  type: string
                  description: The state of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The state/province of the recipient’s address. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: New York
                destination_city:
                  type: string
                  description: The city of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: New York City
                destination_postal_code:
                  type: string
                  description: The postal of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The postal code of the recipient’s address. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: '10001'
                destination_raw_location:
                  type: string
                  description: The shipping address that the shipment is shipping to. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: 13th Street, New York, NY, 10011, USA, United States
                note:
                  type: string
                  description: Text field for the note
                slug_group:
                  type: string
                  description: Slug group is a group of slugs which belong to same courier. For example, when you inpit "fedex-group" as slug_group, AfterShip will detect the tracking with "fedex-uk", "fedex-fims", and other slugs which belong to "fedex". It cannot be used with slug at the same time. ([See slug_groups definition](../../docs/enum/slug_groups.md))
                  example: fedex-group
                order_date:
                  type: string
                  description: Order date in YYYY-MM-DDTHH:mm:ssZ format. e.g. 2021-07-26T11:23:51-05:00
                order_number:
                  type: string
                  description: A unique, human-readable identifier for the order.
                shipment_type:
                  type: string
                  description: The carrier service type for the shipment. If you provide info for this field, AfterShip will not update it with info from the carrier.
                shipment_tags:
                  type: array
                  description: Used to add tags to your shipments to help categorize and filter them easily.
                  maxItems: 50
                  items:
                    type: string
                    maxLength: 32
                courier_connection_id:
                  type: string
                  description: If you’ve connected multiple accounts for a single carrier on AfterShip, you can now use the courier_connection_id field to tell AfterShip which carrier account you’ve used to handle a shipment so we can track it. ([Get your courier connection id](https://admin.aftership.com/carrier-connection))
                location_id:
                  type: string
                  x-stoplight:
                    id: k01wm1whofqee
                  description: "The location_id refers to the place where you fulfilled the items. \n - If you provide a location_id, the system will automatically use it as the tracking's origin address. However, passing both location_id and any origin address information simultaneously is not allowed.\n- Please make sure you add your locations [here](https://admin.aftership.com/settings/locations-and-rules) before passing the location_id and verify that the location's status is active. Learn more about adding locations [here](https://support.aftership.com/en/article/manage-ship-from-locations-via-aftership-tracking-okbhj4/?bust=1702871142396)."
                shipping_method:
                  type: string
                  x-stoplight:
                    id: jk4fjgpsi4agd
                  description: The shipping_method string refers to the chosen method for delivering the package. Merchants typically offer various shipping methods to consumers during the checkout process, such as, Local Delivery, Free Express Worldwide Shipping, etc
                last_mile:
                  type: object
                  x-stoplight:
                    id: wt380ypmoandf
                  description: This field contains information about the last leg of the shipment, starting from the carrier who hands it over to the last-mile carrier, all the way to delivery. Once AfterShip detects that the shipment involves multiple legs and identifies the last-mile carrier, we will populate the last-mile carrier information in this object. Alternatively, the user can provide this information in this field to specify the last-mile carrier, which is helpful if AfterShip is unable to detect it automatically.
                  required:
                  - tracking_number
                  - slug
                  properties:
                    tracking_number:
                      type: string
                      x-stoplight:
                        id: ernzcxdt0ojen
                      description: The tracking number of the last-mile carrier.
                    slug:
                      type: string
                      x-stoplight:
                        id: g2w2ua9kisegq
                      description: The unique code of the carrier responsible for the last-mile of the shipment.  Find all the courier slugs [here](https://www.aftership.com/docs/tracking/others/supported-couriers).
                customers:
                  type: array
                  x-stoplight:
                    id: vk85cip3yx6oc
                  description: The field contains the customer information associated with the tracking. A maximum of three customer objects are allowed.
                  items:
                    x-stoplight:
                      id: m9bfoktl2mdvs
                    type: object
                    properties:
                      role:
                        type: string
                        x-stoplight:
                          id: uobulr8235hho
                        minLength: 1
                        description: The  role of the customer, indicating whether the customer is  an individual or a company.
                      name:
                        type: string
                        x-stoplight:
                          id: cctz1o8tbasrz
                        minLength: 1
                        description: Customer name associated with the tracking.
                      phone_number:
                        type: string
                        x-stoplight:
                          id: jmxhj2gk8gc40
                        description: 'The phone number(s) to receive SMS notifications. Phone numbers should begin with a `+` sign and include the area code.

                          '
                      email:
                        type: string
                        x-stoplight:
                          id: c6ermxud9jvbq
                        description: Email address(es) to receive email notifications.
                      language:
                        type: string
                        x-stoplight:
                          id: kwc8l46fu3dji
                        description: The preferred language of the customer. If you have set up AfterShip notifications in different languages, we use this to send the tracking updates to the customer in their preferred language.
                      id:
                        type: string
                        x-stoplight:
                          id: d4kcstmrid8wp
                        description: The customer's identifier on the merchant or platform (for example, Shopify) side.
                shipment_direction:
                  type: string
                  x-stoplight:
                    id: m2shpdrcrt8fw
                  enum:
                  - forward
                  - return
                  description: 'Indicates the business direction of the shipment in the e-commerce fulfillment lifecycle.


                    Possible values:

                    - `forward`: A forward (outbound-to-customer) shipment created for order fulfillment.

                    - `return`: A return (customer-to-merchant) shipment created for after-sales return or exchange.


                    When provided, this field gives AfterShip additional context about the shipment''s intent, enabling more accurate status identification.'
            examples:
              create-tracking:
                value:
                  slug: dhl
                  tracking_number: '123456789'
                  title: Title Name
                  customers:
                  - role: buyer
                    name: Steve Young
                    email: email@yourdomain.com
                    phone_number: '+18555072501'
                    language: en
                  last_mile:
                    slug: ups
                    tracking_number: '61293150000079650811'
                  tracking_ship_date: '2025-01-09T20:00:00+08:00'
                  order_id: ID 1234
                  order_number: '1234'
                  order_id_path: http://www.aftership.com/order_id=1234
                  custom_fields:
                    product_name: iPhone Case
                    product_price: USD19.99
                  language: en
                  order_promised_delivery_date:
                    promised_delivery_date: '2026-01-01'
                    promised_delivery_date_max: null
                    promised_delivery_date_min: null
                  delivery_type: pickup_at_store
                  pickup_location: Flagship Store
                  pickup_note: Reach out to our staffs when you arrive our stores for shipment pickup
                  origin_country_region: CHN
                  origin_state: Beijing
                  origin_city: Beijing
                  origin_postal_code: '065001'
                  origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                  destination_country_region: USA
                  destination_state: New York
                  destination_city: New York City
                  destination_postal_code: '10001'
                  destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
        description: Create tracking object
      parameters:
      - schema:
          type: string
          default: application/json
          enum:
          - application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      x-stoplight:
        id: sxafu5cay1usl
      tags:
      - Tracking
  /trackings/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: tracking ID
    get:
      summary: Get a tracking by ID
      responses:
        '200':
          description: Tracking object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracking_response.v1'
              examples:
                get-tracking:
                  value:
                    meta:
                      code: 200
                    data:
                      id: 0b02015fc7fd4f3c8d5490cece4d124d
                      legacy_id: my2uktymyz72xld1f7l3h01z
                      created_at: '2023-01-18T08:47:10+00:00'
                      updated_at: '2023-01-18T17:47:10+00:00'
                      tracking_number: '61293150000079650811'
                      slug: fedex
                      active: false
                      custom_fields:
                        store_name: my-store
                      transit_time: 9
                      origin_country_region: CHN
                      origin_state: Beijing
                      origin_city: Beijing
                      origin_postal_code: '065001'
                      origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                      destination_country_region: USA
                      destination_state: New York
                      destination_city: New York City
                      destination_postal_code: '10001'
                      destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
                      courier_destination_country_region: USA
                      courier_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03T12:11:11+01:00'
                        estimated_delivery_date_min: '2022-01-02T12:11:10+01:00'
                        estimated_delivery_date_max: '2022-01-03T12:11:11+01:00'
                      note: note
                      order_id: 6845a095a27a4caeb27487806f058add
                      order_id_path: https://www.aftership.com/my-orders/6845a095a27a4caeb27487806f058add
                      order_date: '2022-01-20T15:56:12+08:00'
                      shipment_package_count: 1
                      shipment_pickup_date: '2022-01-21T15:00:00'
                      shipment_delivery_date: '2022-01-29T11:23:00'
                      shipment_type: FedEx SmartPost
                      shipment_weight:
                        value: 0.7
                        unit: kg
                      signed_by: Steve Young
                      customers:
                      - role: sender
                        name: Steve Young
                        phone_number: '+8613800138000'
                        email: example@aftership.com
                        language: en
                        id: cust_12345
                      source: api
                      tag: Delivered
                      subtag: Delivered_002
                      subtag_message: Picked up by customer
                      title: '61293150000079650811'
                      tracked_count: 13
                      language: en
                      checkpoints:
                      - created_at: '2023-01-18T08:47:10+00:00'
                        slug: fedex
                        checkpoint_time: '2022-01-01T18:47:10-05:00'
                        location: 13th Street, New York, NY 10011, USA, United States
                        city: New York
                        state: NY
                        postal_code: '10011'
                        coordinate: null
                        country_region: USA
                        country_region_name: United States
                        message: Package delivered
                        tag: Delivered
                        subtag: Delivered_002
                        subtag_message: Picked up by customer
                        raw_tag: RO
                        events:
                        - code: delivered_to_neighbor
                          reason:
                            code: incorrect_missing_address
                        source: carrier
                        hash: a1b2c3d4e5f6789012345678901234567890abcd
                      subscribed_smses:
                      - string
                      subscribed_emails:
                      - string
                      return_to_sender: false
                      order_promised_delivery_date:
                        promised_delivery_date: '2026-01-01'
                        promised_delivery_date_max: null
                        promised_delivery_date_min: null
                      delivery_type: pickup_at_store
                      pickup_location: 13th Street, New York, NY 10011, USA, United States
                      pickup_note: No notes
                      courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                      first_attempted_at: '2022-01-01T17:00:00-05:00'
                      courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      tracking_account_number: null
                      tracking_key: null
                      tracking_ship_date: '20220101'
                      on_time_status: on-time
                      on_time_difference: 0
                      order_tags:
                      - Exception
                      aftership_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03'
                        confidence_code: 10001
                        estimated_delivery_date_min: '2022-01-02'
                        estimated_delivery_date_max: '2022-01-04'
                      custom_estimated_delivery_date:
                        type: specific
                        datetime: '2022-01-05'
                        datetime_min: null
                        datetime_max: null
                      order_number: '162654659775'
                      first_estimated_delivery:
                        type: specific
                        source: Carrier EDD
                        datetime: '2022-01-05T12:11:11+01:00'
                        datetime_min: null
                        datetime_max: null
                      latest_estimated_delivery:
                        type: specific
                        source: AfterShip EDD
                        datetime: '2022-01-05T12:11:11+01:00'
                        datetime_min: null
                        datetime_max: null
                        revise_reason: extreme_weather
                      shipment_tags:
                      - Returned
                      courier_connection_id: 8e1261bde336436abbc7cb3eee8cd707
                      last_mile:
                        slug: usps
                        tracking_number: '61293150000079650811'
                        source: system
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      first_mile:
                        slug: usps
                        tracking_number: '61293150000079650812'
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650812&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650812&cntry_code=US
                      carbon_emissions:
                        unit: kg
                        value: 0.7
                      location_id: bda843ed811541fc852a8447371cf6f2
                      shipping_method: Local Delivery
                      failed_delivery_attempts: 2
                      signature_requirement: signature_required
                      delivery_location_type: null
                      aftership_tracking_url: https://track.happytrading.com/61293150000079650811
                      aftership_tracking_order_url: https://track.happytrading.com/order-status?order-number=1001&code=eyJlbWFpbCI6InRlc3RAZXhhbXBsZS5jb20ifQ==
                      shipment_dimensions:
                        unit: cm
                        length: 30
                        width: 20
                        height: 10
                      proof_of_delivery:
                      - type: image
                        url: https://example.com/pod-image.jpg
                      multi_piece_info:
                        type: master
                        pieces:
                        - tracking_id: bff5a3bac79b472991a204172473a635
                          tracking_number: '61293150000079650811'
                          type: master
                          trackable: true
                        - tracking_id: c79b472991a204172473a635bff5a3ba
                          tracking_number: '61293150000079650812'
                          type: child
                          trackable: true
                      shipment_direction: forward
                      return_shipment:
                        id: a204172473a635bff5a3bac79b472991
                        tracking_number: '61293150000079650813'
                        slug: usps
                      forward_shipment: null
      operationId: get-tracking-by-id
      description: 'Get tracking results of a single tracking.


        <div style="visibility:hidden; height: 0">[url](../../docs/enum/additional_tracking_fields.md)[url](../../docs/enum/confidence_codes.md)[url](../../docs/enum/delivery_sub_statuses.md)[url](../../docs/enum/delivery_statuses.md)[url](../../docs/enum/slug_groups.md)[url](../../model/resource/tracking.json)[url](../../model/resource/checkpoint.json)[url](../../model/resource/courier.json)[url](../../model/resource/notification.json)[url](../../model/enum/additional_fields.v1.json)[url](../../model/enum/slug_group.v1.json)[url](../../model/enum/tag.v1.json)[url](../../reference/api.json/paths/~1trackings/get)[url](../../reference/api.json/paths/~1trackings/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/put)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/delete)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1retrack/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1mark-as-completed/post)[url](../../reference/api.json/paths/~1couriers/get)[url](../../reference/api.json/paths/~1couriers~1detect/post)[url](../../reference/api.json/paths/~1couriers~1all/get)[url](../../reference/api.json/paths/~1last_checkpoint~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1add/post)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1remove/post)[url](../../docs/quickstart/authentication.md)</div>'
      parameters:
      - schema:
          type: string
          example: title,order_id
        in: query
        name: fields
        description: 'List of fields to include in the response. Use comma for multiple values. Fields to include: `destination_postal_code`, `tracking_ship_date`, `tracking_account_number`, `tracking_key`, `origin_country_region`, `destination_country_region`, `destination_state`, `title`, `order_id`, `tag`, `checkpoints`'
      - schema:
          type: string
          example: en
        in: query
        name: lang
        description: Translate checkpoint messages from the carrier’s provided language to the target language. Supported target languages include:</br>&nbsp;&nbsp;&nbsp;&nbsp;- English (en)</br>&nbsp;&nbsp;&nbsp;&nbsp;- French (fr)</br>&nbsp;&nbsp;&nbsp;&nbsp;- French Canadian (fr-CA)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Arabic (ar)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Bulgarian (bg)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Catalan (ca)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Croatian (hr)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Czech (cs)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Danish (da)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Dutch (nl)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Estonian (et)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Filipino (tl)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Finnish (fi)</br>&nbsp;&nbsp;&nbsp;&nbsp;- German (de)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Greek (el)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Hebrew (he)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Hindi (hi)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Hungarian (hu)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Indonesian (id)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Italian (it)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Japanese (ja)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Korean (ko)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Latvian (lv)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Lithuanian (lt)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Malay (ms)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Polish (pl)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Portuguese (pt)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Romanian (ro)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Russian (ru)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Serbian (sr)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Slovak (sk)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Slovenian (sl)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Spanish (es)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Swedish (sv)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Thai (th)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Turkish (tr)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Ukrainian (uk)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Vietnamese (vi)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Simplified Chinese (zh-Hans)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Traditional Chinese (zh-Hant)</br>&nbsp;&nbsp;&nbsp;&nbsp;- Norwegian (nb)</br>
      - schema:
          type: string
          default: application/json
          enum:
          - application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      x-stoplight:
        id: bcb1azgtk9n6r
      tags:
      - Tracking
    put:
      summary: Update a tracking by ID
      operationId: update-tracking-by-id
      responses:
        '200':
          description: Update a tracking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracking_response.v1'
              examples:
                update-tracking:
                  value:
                    meta:
                      code: 200
                    data:
                      id: 0b02015fc7fd4f3c8d5490cece4d124d
                      legacy_id: my2uktymyz72xld1f7l3h01z
                      created_at: '2023-01-18T08:47:10+00:00'
                      updated_at: '2023-01-18T17:47:10+00:00'
                      tracking_number: '61293150000079650811'
                      slug: fedex
                      active: false
                      custom_fields:
                        store_name: my-store
                      transit_time: 9
                      origin_country_region: CHN
                      origin_state: Beijing
                      origin_city: Beijing
                      origin_postal_code: '065001'
                      origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                      destination_country_region: USA
                      destination_state: New York
                      destination_city: New York City
                      destination_postal_code: '10001'
                      destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
                      courier_destination_country_region: USA
                      courier_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03T12:11:11+01:00'
                        estimated_delivery_date_min: '2022-01-02T12:11:10+01:00'
                        estimated_delivery_date_max: '2022-01-03T12:11:11+01:00'
                      note: note
                      order_id: 6845a095a27a4caeb27487806f058add
                      order_id_path: https://www.aftership.com/my-orders/6845a095a27a4caeb27487806f058add
                      order_date: '2022-01-20T15:56:12+08:00'
                      shipment_package_count: 1
                      shipment_pickup_date: '2022-01-21T15:00:00'
                      shipment_delivery_date: '2022-01-29T11:23:00'
                      shipment_type: FedEx SmartPost
                      shipment_weight:
                        value: 0.7
                        unit: kg
                      signed_by: Steve Young
                      customers:
                      - role: sender
                        name: Steve Young
                        phone_number: '+8613800138000'
                        email: example@aftership.com
                        language: en
                        id: cust_12345
                      source: api
                      tag: Delivered
                      subtag: Delivered_002
                      subtag_message: Picked up by customer
                      title: '61293150000079650811'
                      tracked_count: 13
                      language: en
                      checkpoints:
                      - created_at: '2023-01-18T08:47:10+00:00'
                        slug: fedex
                        checkpoint_time: '2022-01-01T18:47:10-05:00'
                        location: 13th Street, New York, NY 10011, USA, United States
                        city: New York
                        state: NY
                        postal_code: '10011'
                        coordinate: null
                        country_region: USA
                        country_region_name: United States
                        message: Package delivered
                        tag: Delivered
                        subtag: Delivered_002
                        subtag_message: Picked up by customer
                        raw_tag: RO
                        events:
                        - code: delivered_to_neighbor
                          reason:
                            code: incorrect_missing_address
                        source: carrier
                        hash: a1b2c3d4e5f6789012345678901234567890abcd
                      subscribed_smses:
                      - string
                      subscribed_emails:
                      - string
                      return_to_sender: false
                      order_promised_delivery_date:
                        promised_delivery_date: '2026-01-01'
                        promised_delivery_date_max: null
                        promised_delivery_date_min: null
                      delivery_type: pickup_at_store
                      pickup_location: 13th Street, New York, NY 10011, USA, United States
                      pickup_note: No notes
                      courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                      first_attempted_at: '2022-01-01T17:00:00-05:00'
                      courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      tracking_account_number: null
                      tracking_key: null
                      tracking_ship_date: '20220101'
                      on_time_status: on-time
                      on_time_difference: 0
                      order_tags:
                      - Exception
                      aftership_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03'
                        confidence_code: 10001
                        estimated_delivery_date_min: '2022-01-02'
                        estimated_delivery_date_max: '2022-01-04'
                      custom_estimated_delivery_date:
                        type: specific
                        datetime: '2022-01-05'
                        datetime_min: null
                        datetime_max: null
                      order_number: '162654659775'
                      first_estimated_delivery:
                        type: specific
                        source: Carrier EDD
                        datetime: '2022-01-05T12:11:11+01:00'
                        datetime_min: null
                        datetime_max: null
                      latest_estimated_delivery:
                        type: specific
                        source: AfterShip EDD
                        datetime: '2022-01-05T12:11:11+01:00'
                        datetime_min: null
                        datetime_max: null
                        revise_reason: extreme_weather
                      shipment_tags:
                      - Returned
                      courier_connection_id: 8e1261bde336436abbc7cb3eee8cd707
                      last_mile:
                        slug: usps
                        tracking_number: '61293150000079650811'
                        source: system
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      first_mile:
                        slug: usps
                        tracking_number: '61293150000079650812'
                        courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650812&cntry_code=US
                        courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650812&cntry_code=US
                      carbon_emissions:
                        unit: kg
                        value: 0.7
                      location_id: bda843ed811541fc852a8447371cf6f2
                      shipping_method: Local Delivery
                      failed_delivery_attempts: 2
                      signature_requirement: signature_required
                      delivery_location_type: null
                      aftership_tracking_url: https://track.happytrading.com/61293150000079650811
                      aftership_tracking_order_url: https://track.happytrading.com/order-status?order-number=1001&code=eyJlbWFpbCI6InRlc3RAZXhhbXBsZS5jb20ifQ==
                      shipment_dimensions:
                        unit: cm
                        length: 30
                        width: 20
                        height: 10
                      proof_of_delivery:
                      - type: image
                        url: https://example.com/pod-image.jpg
                      multi_piece_info:
                        type: master
                        pieces:
                        - tracking_id: bff5a3bac79b472991a204172473a635
                          tracking_number: '61293150000079650811'
                          type: master
                          trackable: true
                        - tracking_id: c79b472991a204172473a635bff5a3ba
                          tracking_number: '61293150000079650812'
                          type: child
                          trackable: true
                      shipment_direction: forward
                      return_shipment:
                        id: a204172473a635bff5a3bac79b472991
                        tracking_number: '61293150000079650813'
                        slug: usps
                      forward_shipment: null
      description: 'Update a tracking.


        <div style="visibility:hidden; height: 0">[url](../../docs/enum/additional_tracking_fields.md)[url](../../docs/enum/confidence_codes.md)[url](../../docs/enum/delivery_sub_statuses.md)[url](../../docs/enum/delivery_statuses.md)[url](../../docs/enum/slug_groups.md)[url](../../model/resource/tracking.json)[url](../../model/resource/checkpoint.json)[url](../../model/resource/courier.json)[url](../../model/resource/notification.json)[url](../../model/enum/additional_fields.v1.json)[url](../../model/enum/slug_group.v1.json)[url](../../model/enum/tag.v1.json)[url](../../reference/api.json/paths/~1trackings/get)[url](../../reference/api.json/paths/~1trackings/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/put)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}/delete)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1retrack/post)[url](../../reference/api.json/paths/~1trackings~1{slug}~1{tracking_number}~1mark-as-completed/post)[url](../../reference/api.json/paths/~1couriers/get)[url](../../reference/api.json/paths/~1couriers~1detect/post)[url](../../reference/api.json/paths/~1couriers~1all/get)[url](../../reference/api.json/paths/~1last_checkpoint~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}/get)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1add/post)[url](../../reference/api.json/paths/~1notifications~1{slug}~1{tracking_number}~1remove/post)[url](../../docs/quickstart/authentication.md)</div>'
      parameters:
      - schema:
          type: string
          default: application/json
          enum:
          - application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: By default this field shows the `tracking_number`, but you can customize it as you wish with any info (e.g. the order number).
                order_id:
                  type: string
                  description: A globally-unique identifier for the order.
                order_id_path:
                  type: string
                  description: The URL for the order in your system or store.
                custom_fields:
                  type: object
                  description: 'Custom fields that accept an object with string field. In order to protect the privacy of your customers, do not include any [personal data](https://www.aftership.com/legal/dpa#:~:text=Personal%20Data%20means,that%20natural%20person) in custom fields.


                    - Maximum charater limit for a key name: 30

                    - Maximum count for a key-value pair in a custom field object: 25

                    - Maximum value length: 512 charaters

                    - Supported value type: String only (object and array are prohibted)'
                  additionalProperties:
                    x-stoplight:
                      id: r6bo74xzj8vov
                    type: string
                note:
                  type: string
                  description: 'Text field for the note.

                    Input `""` to clear the value of this field.'
                language:
                  type: string
                  description: The recipient’s language. If you set up AfterShip notifications in different languages, we use this to send the recipient tracking updates in their preferred language. Use an [ISO 639-1 Language Code](https://help.aftership.com/hc/en-us/articles/360001623287-Supported-Language-Parameters) to specify the language.
                order_promised_delivery_date:
                  type: object
                  description: The promised delivery date of the order in shipment recipient’s timezone.
                  properties:
                    promised_delivery_date:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: uen7cbb81yg2p
                      description: "The promised delivery date of the order. \nIt uses the formats:\n- YYYY-MM-DD\n- YYYY-MM-DDTHH:mm:ss\n- YYYY-MM-DDTHH:mm:ssZ"
                      example: 'null'
                    promised_delivery_date_min:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: 7wrdp7b78oicx
                      description: "Earliest promised delivery date of the order. \nIt uses the formats:\n- YYYY-MM-DD\n- YYYY-MM-DDTHH:mm:ss\n- YYYY-MM-DDTHH:mm:ssZ"
                      example: '2022-01-02T10:00:00'
                    promised_delivery_date_max:
                      type:
                      - string
                      - 'null'
                      x-stoplight:
                        id: 3s757q2x3duum
                      description: "Latest promised delivery date of the order. \nIt uses the formats:\n- YYYY-MM-DD\n- YYYY-MM-DDTHH:mm:ss\n- YYYY-MM-DDTHH:mm:ssZ"
                      example: '2022-01-04T10:00:00'
                delivery_type:
                  type: string
                  description: 'Shipment delivery type


                    - `pickup_at_store`

                    - `pickup_at_courier`

                    - `door_to_door`'
                  enum:
                  - pickup_at_store
                  - pickup_at_courier
                  - door_to_door
                pickup_location:
                  type: string
                  description: Shipment pickup location for receiver
                pickup_note:
                  type: string
                  description: Shipment pickup note for receiver
                slug:
                  type: string
                  description: Unique code of each courier. Provide a single courier.(https://admin.aftership.com/settings/couriers). Get a list of courier slug using [GET /couriers](./api.json/paths/~1couriers/get)
                tracking_account_number:
                  type: string
                  description: Additional field required by some carriers to retrieve the tracking info. The shipper’s carrier account number. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                tracking_key:
                  type: string
                  description: Additional field required by some carriers to retrieve the tracking info. A type of tracking credential required by some carriers. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                tracking_ship_date:
                  type: string
                  description: 'The date and time when the shipment is shipped by the merchant and ready for pickup by the carrier. The field supports the following formats:

                    - YYYY-MM-DD

                    - YYYY-MM-DDTHH:mm:ss

                    - YYYY-MM-DDTHH:mm:ssZ

                    The field serves two key purposes:

                    - Calculate processing time metrics in the Order-to-delivery Analytics dashboard. To ensure accurate analytics, it''s recommended to include timezone information when configuring this value

                    - Required by certain carriers to retrieve tracking information as an additional tracking field.'
                order_number:
                  type: string
                  description: A unique, human-readable identifier for the order.
                order_date:
                  type: string
                  description: Order date in YYYY-MM-DDTHH:mm:ssZ format. e.g. 2021-07-26T11:23:51-05:00
                shipment_type:
                  type: string
                  description: The carrier service type for the shipment. If you provide info for this field, AfterShip will not update it with info from the carrier.
                origin_country_region:
                  type: string
                  description: The [ISO Alpha-3](https://support.aftership.com/en/article/iso3-country-code-rlpi07/) code (3 letters) for the origin country/region. E.g. USA for the United States. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The origin country/region of the shipment. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: CHN
                  x-stoplight:
                    id: b5ykjpw0psq2p
                origin_state:
                  type: string
                  description: The state of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Beijing
                origin_city:
                  type: string
                  description: The city of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Beijing
                origin_postal_code:
                  type: string
                  description: The postal of the sender’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: '065001'
                origin_raw_location:
                  type: string
                  description: The sender address that the shipment is shipping from. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                destination_country_region:
                  type: string
                  description: The [ISO Alpha-3](https://support.aftership.com/en/article/iso3-country-code-rlpi07/) code (3 letters) for the destination country/region. E.g. USA for the United States. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The destination country/region of the shipment. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: USA
                  x-stoplight:
                    id: s9b817qva2uwv
                destination_state:
                  type: string
                  description: The state of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The state/province of the recipient’s address. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: New York
                destination_city:
                  type: string
                  description: The city of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: New York City
                destination_postal_code:
                  type: string
                  description: The postal of the recipient’s address. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc. Also the additional field required by some carriers to retrieve the tracking info. The postal code of the recipient’s address. Refer to our article on [additional tracking fields](../../docs/enum/additional_tracking_fields.md) for more details.
                  example: '10001'
                destination_raw_location:
                  type: string
                  description: The shipping address that the shipment is shipping to. This can help AfterShip with various functions like tracking, carrier auto-detection and auto-correction, calculating an EDD, etc.
                  example: 13th Street, New York, NY, 10011, USA, United States
                location_id:
                  type: string
                  x-stoplight:
                    id: 0oextgvwqes8d
                  description: "The location_id refers to the place where you fulfilled the items. \n - If you provide a location_id, the system will automatically use it as the tracking's origin address. However, passing both location_id and any origin address information simultaneously is not allowed.\n- Please make sure you add your locations [here](https://admin.aftership.com/settings/locations-and-rules) before passing the location_id and verify that the location's status is active. Learn more about adding locations [here](https://support.aftership.com/en/article/manage-ship-from-locations-via-aftership-tracking-okbhj4/?bust=1702871142396)."
                shipping_method:
                  type: string
                  x-stoplight:
                    id: jefb36kvnc0qp
                  description: The shipping_method string refers to the chosen method for delivering the package. Merchants typically offer various shipping methods to consumers during the checkout process, such as, Local Delivery, Free Express Worldwide Shipping, etc.
                last_mile:
                  type: object
                  x-stoplight:
                    id: hq2vf1ymhbxms
                  description: 'This field contains information about the last leg of the shipment, starting from the carrier who hands it over to the last-mile carrier, all the way to delivery. Once AfterShip detects that the shipment involves multiple legs and identifies the last-mile carrier, we will populate the last-mile carrier information in this object. Alternatively, the user can provide this information in this field to specify the last-mile carrier, which is helpful if AfterShip is unable to detect it automatically.

                    Input `null` to clear the value of this field.'
                  required:
                  - tracking_number
                  - slug
                  properties:
                    tracking_number:
                      type: string
                      x-stoplight:
                        id: z0j2eay1vy4tj
                      description: The tracking number of the last-mile carrier.
                    slug:
                      type: string
                      x-stoplight:
                        id: u2x27u9pto2qj
                      description: The unique code of the carrier responsible for the last-mile of the shipment.  Find all the courier slugs [here](https://www.aftership.com/docs/tracking/others/supported-couriers).
                customers:
                  type: array
                  x-stoplight:
                    id: csf0gvgomp9u5
                  description: The field contains the customer information associated with the tracking. A maximum of three customer objects are allowed.
                  items:
                    x-stoplight:
                      id: uh8fz8vzvbegq
                    type: object
                    properties:
                      role:
                        type: string
                        x-stoplight:
                          id: 0pt5ukpt1eybl
                        description: The  role of the customer, indicating whether the customer is  an individual or a company.
                      name:
                        type: string
                        x-stoplight:
                          id: pux9hmketvw9d
                        description: Customer name associated with the tracking.
                      phone_number:
                        type: string
                        x-stoplight:
                          id: w1dyguovlebo5
                        description: 'The phone number(s) to receive SMS notifications. Phone numbers should begin with a `+` sign and include the area code.

                          '
                      email:
                        type: string
                        x-stoplight:
                          id: k3d3iyuob6545
                        description: Email address(es) to receive email notifications.
                      language:
                        type: string
                        x-stoplight:
                          id: zzcmfitz9czyd
                        description: The preferred language of the customer. If you have set up AfterShip notifications in different languages, we use this to send the tracking updates to the customer in their preferred language.
                      id:
                        type: string
                        x-stoplight:
                          id: u5kcstmpidwd8
                        description: The customer's identifier on the merchant or platform (for example, Shopify) side.
                shipment_direction:
                  type: string
                  x-stoplight:
                    id: p8shpdrcup2fw
                  enum:
                  - forward
                  - return
                  description: 'Indicates the business direction of the shipment in the e-commerce fulfillment lifecycle.


                    Possible values:

                    - `forward`: A forward (outbound-to-customer) shipment created for order fulfillment.

                    - `return`: A return (customer-to-merchant) shipment created for after-sales return or exchange.


                    When provided, this field gives AfterShip additional context about the shipment''s intent, enabling more accurate status identification.'
            examples:
              update-tracking-request:
                value:
                  title: New Title
                  note: some notes
        description: ''
      x-stoplight:
        id: ambhbdx43wiq2
      tags:
      - Tracking
    delete:
      summary: Delete a tracking by ID
      operationId: delete-tracking-by-id
      responses:
        '200':
          description: Delete tracking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracking_response.v1'
              examples:
                delete tracking:
                  value:
                    meta:
                      code: 200
                    data:
                      id: 0b02015fc7fd4f3c8d5490cece4d124d
                      legacy_id: my2uktymyz72xld1f7l3h01z
                      created_at: '2023-01-18T08:47:10+00:00'
                      updated_at: '2023-01-18T17:47:10+00:00'
                      tracking_number: '61293150000079650811'
                      slug: fedex
                      active: false
                      custom_fields:
                        store_name: my-store
                      transit_time: 9
                      origin_country_region: CHN
                      origin_state: Beijing
                      origin_city: Beijing
                      origin_postal_code: '065001'
                      origin_raw_location: Lihong Gardon 4A 2301, Chaoyang District, Beijing, BJ, 065001, CHN, China
                      destination_country_region: USA
                      destination_state: New York
                      destination_city: New York City
                      destination_postal_code: '10001'
                      destination_raw_location: 13th Street, New York, NY, 10011, USA, United States
                      courier_destination_country_region: USA
                      courier_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03T12:11:11+01:00'
                        estimated_delivery_date_min: '2022-01-02T12:11:10+01:00'
                        estimated_delivery_date_max: '2022-01-03T12:11:11+01:00'
                      note: note
                      order_id: 6845a095a27a4caeb27487806f058add
                      order_id_path: https://www.aftership.com/my-orders/6845a095a27a4caeb27487806f058add
                      order_date: '2022-01-20T15:56:12+08:00'
                      shipment_package_count: 1
                      shipment_pickup_date: '2022-01-21T15:00:00'
                      shipment_delivery_date: '2022-01-29T11:23:00'
                      shipment_type: FedEx SmartPost
                      shipment_weight:
                        value: 0.7
                        unit: kg
                      signed_by: Steve Young
                      customers:
                      - role: sender
                        name: Steve Young
                        phone_number: '+8613800138000'
                        email: example@aftership.com
                        language: en
                        id: cust_12345
                      source: api
                      tag: Delivered
                      subtag: Delivered_002
                      subtag_message: Picked up by customer
                      title: '61293150000079650811'
                      tracked_count: 13
                      language: en
                      checkpoints:
                      - created_at: '2023-01-18T08:47:10+00:00'
                        slug: fedex
                        checkpoint_time: '2022-01-01T18:47:10-05:00'
                        location: 13th Street, New York, NY 10011, USA, United States
                        city: New York
                        state: NY
                        postal_code: '10011'
                        coordinate: null
                        country_region: USA
                        country_region_name: United States
                        message: Package delivered
                        tag: Delivered
                        subtag: Delivered_002
                        subtag_message: Picked up by customer
                        raw_tag: RO
                        events:
                        - code: delivered_to_neighbor
                          reason:
                            code: incorrect_missing_address
                        source: carrier
                        hash: a1b2c3d4e5f6789012345678901234567890abcd
                      subscribed_smses:
                      - string
                      subscribed_emails:
                      - string
                      return_to_sender: false
                      order_promised_delivery_date:
                        promised_delivery_date: '2026-01-01'
                        promised_delivery_date_max: null
                        promised_delivery_date_min: null
                      delivery_type: pickup_at_store
                      pickup_location: 13th Street, New York, NY 10011, USA, United States
                      pickup_note: No notes
                      courier_tracking_link: https://www.fedex.com/apps/fedextrack/?tracknumbers=61293150000079650811&cntry_code=US
                      first_attempted_at: '2022-01-01T17:00:00-05:00'
                      courier_redirect_link: https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=61293150000079650811&cntry_code=US
                      tracking_account_number: null
                      tracking_key: null
                      tracking_ship_date: '20220101'
                      on_time_status: on-time
                      on_time_difference: 0
                      order_tags:
                      - Exception
                      aftership_estimated_delivery_date:
                        estimated_delivery_date: '2022-01-03'
                        confidence_code: 10001
                        estimated_delivery_date_min: '2022-01-02'
                        estimated_delivery_date_max: '2022-01-04'
                      custom_estimated_delivery_date:
                        type: specific
                        datetime: '2022-01-05'
[...]
