openapi: 3.2.0
info:
  title: Overview Couriers API
  version: '1.0'
  summary: API Overview
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/legal/terms-of-service
  description: '> OAS Schema can be downloaded [here](https://stoplight.io/api/v1/projects/automizely/docs-core-postmenapi-com/nodes/reference/api.v3.json?branch=master&deref=optimizedBundle)'
servers:
- description: Sandbox
  url: https://sandbox-api.aftership.com/postmen/v3
- url: https://api.aftership.com/postmen/v3
  description: Production
security:
- as-api-key: []
tags:
- name: Couriers
paths:
  /couriers:
    get:
      summary: Get all couriers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      couriers:
                      - slug: fedex
                        name: FedEx®
                        operations:
                          post@labels: true
                          post@cancel-labels: true
                          post@admin/cancel-labels: false
                          post@admin/labels: true
                          post@rates: true
                          post@manifests: false
                        courier_service_types:
                        - service_type: fedex_europe_first_international_priority
                          service_name: FedEx Europe First International Priority®
                          ship_from.country: All europe countries
                        - service_type: fedex_2_day
                          service_name: FedEx 2Day®
                          ship_from.country: USA, CAN
                        - service_type: fedex_2_day_am
                          service_name: FedEx 2Day® A.M.
                          ship_from.country: USA, CAN
                        - service_type: fedex_distance_deferred
                          service_name: FedEx Distance Deferred
                          ship_from.country: GBR
                        - service_type: fedex_express_saver
                          service_name: FedEx Express Saver®
                          ship_from.country: USA, MEX, IND, COL, DEU, ESP
                        - service_type: fedex_ground
                          service_name: FedEx Ground®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_ground
                          service_name: FedEx International Ground®
                          ship_from.country: All countries
                        - service_type: fedex_next_day_afternoon
                          service_name: FedEx® Next Day by 12 noon
                          ship_from.country: GBR
                        - service_type: fedex_next_day_early_morning
                          service_name: FedEx® Next Day by 9 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_next_day_end_of_day
                          service_name: FedEx® Next Day
                          ship_from.country: GBR
                        - service_type: fedex_next_day_mid_morning
                          service_name: FedEx® Next Day by 10 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_first_overnight
                          service_name: FedEx First Overnight®
                          ship_from.country: USA, CAN, MEX
                        - service_type: fedex_ground_home_delivery
                          service_name: FedEx Home Delivery®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_economy
                          service_name: FedEx International Economy®
                          ship_from.country: All countries
                        - service_type: fedex_international_economy_freight
                          service_name: FedEx International Economy® Freight
                          ship_from.country: All countries
                        - service_type: fedex_international_first
                          service_name: FedEx International First®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority
                          service_name: FedEx International Priority®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_freight
                          service_name: FedEx International Priority® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight
                          service_name: FedEx Priority Overnight®
                          ship_from.country: USA, CAN, AUT, BEL, CZE, DNK, FIN, FRA, DEU, HUN, IND, ITA, LUX, NOR, POL, ESP, SWE, NLD, MEX, COL
                        - service_type: fedex_same_day
                          service_name: FedEx SameDay®
                          ship_from.country: USA, MEX
                        - service_type: fedex_same_day_city
                          service_name: FedEx SameDay® City
                          ship_from.country: USA, MEX
                        - service_type: fedex_standard_overnight
                          service_name: FedEx Standard Overnight®
                          ship_from.country: USA, CAN, IND, MEX, ARE
                        - service_type: fedex_2_day_one_rate
                          service_name: FedEx 2Day® One Rate
                          ship_from.country: USA
                        - service_type: fedex_2_day_am_one_rate
                          service_name: FedEx 2Day® A.M. One Rate
                          ship_from.country: USA
                        - service_type: fedex_express_saver_one_rate
                          service_name: FedEx Express Saver® One Rate
                          ship_from.country: USA
                        - service_type: fedex_first_overnight_one_rate
                          service_name: FedEx First Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_priority_overnight_one_rate
                          service_name: FedEx Priority Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_standard_overnight_one_rate
                          service_name: FedEx Standard Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_international_connect_plus
                          service_name: FedEx International Connect Plus
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_express
                          service_name: FedEx International Priority Express®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_eod
                          service_name: FedEx International Priority® EOD
                          ship_from.country: All countries
                        - service_type: fedex_first_freight
                          service_name: FedEx First Overnight® Freight
                          ship_from.country: All countries
                        - service_type: fedex_freight_priority
                          service_name: FedEx Freight® Priority
                          ship_from.country: All countries
                        - service_type: fedex_freight_economy
                          service_name: FedEx Freight® Economy
                          ship_from.country: All countries
                        - service_type: fedex_1_day_freight
                          service_name: FedEx 1Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_2_day_freight
                          service_name: FedEx 2Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_3_day_freight
                          service_name: FedEx 3Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight_extra_hours
                          service_name: FedEx Priority Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_standard_overnight_extra_hours
                          service_name: FedEx Standard Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_first_overnight_extra_hours
                          service_name: FedEx First Overnight® Extra Hours
                          ship_from.country: All countries
                        courier_box_types:
                        - box_name: FedEx® 10kg Box
                          box_type: fedex_10kg_box
                          box_size_cm:
                            width: '40.16'
                            height: '32.86'
                            depth: '25.8'
                          box_size_in: {}
                        - box_name: FedEx® 25kg Box
                          box_type: fedex_25kg_box
                          box_size_cm:
                            width: '54.76'
                            height: '42.06'
                            depth: '33.49'
                          box_size_in: {}
                        - box_name: FedEx® Box
                          box_type: fedex_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Envelope
                          box_type: fedex_envelope
                          box_size_cm:
                            width: '24.1'
                            height: '31.8'
                            depth: '2.54'
                          box_size_in: {}
                        - box_name: FedEx® Extra Large Box
                          box_type: fedex_extra_large_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Large Box
                          box_type: fedex_large_box
                          box_size_cm:
                            width: '31.4'
                            height: '45.4'
                            depth: '7.6'
                          box_size_in: {}
                        - box_name: FedEx® Medium Box
                          box_type: fedex_medium_box
                          box_size_cm:
                            width: '29.2'
                            height: '33'
                            depth: '6'
                          box_size_in: {}
                        - box_name: FedEx® Pak
                          box_type: fedex_pak
                          box_size_cm:
                            width: '30.5'
                            height: '39.4'
                          box_size_in: {}
                        - box_name: FedEx® Small Box
                          box_type: fedex_small_box
                          box_size_cm:
                            width: '27.6'
                            height: '31.3'
                            depth: '3.8'
                          box_size_in: {}
                        - box_name: FedEx® Tube
                          box_type: fedex_tube
                          box_size_cm:
                            width: '96.5'
                            height: '15.2'
                            depth: '15.2'
                          box_size_in: {}
                        - box_name: Custom
                          box_type: custom
                          box_size_cm: {}
                          box_size_in: {}
                        ship_from: Global
                        ship_to: Global
                        tracking_numbers: false
                        order: 3
                      paper_sizes:
                      - 4x4
                      - 4x6
                      - 4x6.75
                      - 4x8
                      - a4
                      - default
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    type: object
                    properties:
                      couriers:
                        type: array
                        description: The couriers array contains courier information. Please refer to [courier](../model/primitive/courier.v3.json) object for courier object details.
                        items:
                          $ref: '#/components/schemas/Courier.v3'
              examples:
                get couriers response:
                  value:
                    meta:
                      code: 200
                      message: OK
                      details: []
                      retryable: false
                    data:
                      couriers:
                      - slug: fedex
                        name: FedEx®
                        operations:
                          post@cancel-labels: true
                          post@labels: true
                          post@manifests: false
                          post@rates: true
                        ship_from: Global
                        ship_to: Global
                        paper_sizes:
                        - 4x6
                        - 4x6.75
                        - a4
                        - default
                        courier_service_types:
                        - service_type: fedex_europe_first_international_priority
                          service_name: FedEx Europe First International Priority®
                          ship_from.country: All europe countries
                        - service_type: fedex_2_day
                          service_name: FedEx 2Day®
                          ship_from.country: USA, CAN
                        - service_type: fedex_2_day_am
                          service_name: FedEx 2Day® A.M.
                          ship_from.country: USA, CAN
                        - service_type: fedex_distance_deferred
                          service_name: FedEx Distance Deferred
                          ship_from.country: GBR
                        - service_type: fedex_express_saver
                          service_name: FedEx Express Saver®
                          ship_from.country: USA, MEX, IND, COL, DEU, ESP
                        - service_type: fedex_ground
                          service_name: FedEx Ground®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_ground
                          service_name: FedEx International Ground®
                          ship_from.country: All countries
                        - service_type: fedex_next_day_afternoon
                          service_name: FedEx® Next Day by 12 noon
                          ship_from.country: GBR
                        - service_type: fedex_next_day_early_morning
                          service_name: FedEx® Next Day by 9 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_next_day_end_of_day
                          service_name: FedEx® Next Day
                          ship_from.country: GBR
                        - service_type: fedex_next_day_mid_morning
                          service_name: FedEx® Next Day by 10 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_first_overnight
                          service_name: FedEx First Overnight®
                          ship_from.country: USA, CAN, MEX
                        - service_type: fedex_ground_home_delivery
                          service_name: FedEx Home Delivery®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_economy
                          service_name: FedEx International Economy®
                          ship_from.country: All countries
                        - service_type: fedex_international_economy_freight
                          service_name: FedEx International Economy® Freight
                          ship_from.country: All countries
                        - service_type: fedex_international_first
                          service_name: FedEx International First®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority
                          service_name: FedEx International Priority®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_freight
                          service_name: FedEx International Priority® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight
                          service_name: FedEx Priority Overnight®
                          ship_from.country: USA, CAN, AUT, BEL, CZE, DNK, FIN, FRA, DEU, HUN, IND, ITA, LUX, NOR, POL, ESP, SWE, NLD, MEX, COL
                        - service_type: fedex_same_day
                          service_name: FedEx SameDay®
                          ship_from.country: USA, MEX
                        - service_type: fedex_same_day_city
                          service_name: FedEx SameDay® City
                          ship_from.country: USA, MEX
                        - service_type: fedex_standard_overnight
                          service_name: FedEx Standard Overnight®
                          ship_from.country: USA, CAN, IND, MEX, ARE
                        - service_type: fedex_2_day_one_rate
                          service_name: FedEx 2Day® One Rate
                          ship_from.country: USA
                        - service_type: fedex_2_day_am_one_rate
                          service_name: FedEx 2Day® A.M. One Rate
                          ship_from.country: USA
                        - service_type: fedex_express_saver_one_rate
                          service_name: FedEx Express Saver® One Rate
                          ship_from.country: USA
                        - service_type: fedex_first_overnight_one_rate
                          service_name: FedEx First Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_priority_overnight_one_rate
                          service_name: FedEx Priority Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_standard_overnight_one_rate
                          service_name: FedEx Standard Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_international_connect_plus
                          service_name: FedEx International Connect Plus
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_express
                          service_name: FedEx International Priority Express®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_eod
                          service_name: FedEx International Priority® EOD
                          ship_from.country: All countries
                        - service_type: fedex_first_freight
                          service_name: FedEx First Overnight® Freight
                          ship_from.country: All countries
                        - service_type: fedex_freight_priority
                          service_name: FedEx Freight® Priority
                          ship_from.country: All countries
                        - service_type: fedex_freight_economy
                          service_name: FedEx Freight® Economy
                          ship_from.country: All countries
                        - service_type: fedex_1_day_freight
                          service_name: FedEx 1Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_2_day_freight
                          service_name: FedEx 2Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_3_day_freight
                          service_name: FedEx 3Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight_extra_hours
                          service_name: FedEx Priority Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_standard_overnight_extra_hours
                          service_name: FedEx Standard Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_first_overnight_extra_hours
                          service_name: FedEx First Overnight® Extra Hours
                          ship_from.country: All countries
                        courier_box_types:
                        - box_name: FedEx® 10kg Box
                          box_type: fedex_10kg_box
                          box_size_cm:
                            width: '40.16'
                            height: '32.86'
                            depth: '25.8'
                          box_size_in: {}
                        - box_name: FedEx® 25kg Box
                          box_type: fedex_25kg_box
                          box_size_cm:
                            width: '54.76'
                            height: '42.06'
                            depth: '33.49'
                          box_size_in: {}
                        - box_name: FedEx® Box
                          box_type: fedex_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Envelope
                          box_type: fedex_envelope
                          box_size_cm:
                            width: '24.1'
                            height: '31.8'
                            depth: '2.54'
                          box_size_in: {}
                        - box_name: FedEx® Extra Large Box
                          box_type: fedex_extra_large_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Large Box
                          box_type: fedex_large_box
                          box_size_cm:
                            width: '31.4'
                            height: '45.4'
                            depth: '7.6'
                          box_size_in: {}
                        - box_name: FedEx® Medium Box
                          box_type: fedex_medium_box
                          box_size_cm:
                            width: '29.2'
                            height: '33'
                            depth: '6'
                          box_size_in: {}
                        - box_name: FedEx® Pak
                          box_type: fedex_pak
                          box_size_cm:
                            width: '30.5'
                            height: '39.4'
                          box_size_in: {}
                        - box_name: FedEx® Small Box
                          box_type: fedex_small_box
                          box_size_cm:
                            width: '27.6'
                            height: '31.3'
                            depth: '3.8'
                          box_size_in: {}
                        - box_name: FedEx® Tube
                          box_type: fedex_tube
                          box_size_cm:
                            width: '96.5'
                            height: '15.2'
                            depth: '15.2'
                          box_size_in: {}
                        - box_name: Custom
                          box_type: custom
                          box_size_cm: {}
                          box_size_in: {}
                        tracking_numbers: false
      operationId: get-couriers
      description: 'Get all couriers

        <div style="visibility:hidden; height: 0">

        The couriers array contains courier information. Please refer to [Courier](../model/primitive/courier.v3.json) object for courier object details.

        </div>'
      parameters:
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      tags:
      - Couriers
      security:
      - as-api-key: []
components:
  schemas:
    Meta.v3:
      description: Meta data object.
      type: object
      x-examples: {}
      examples:
      - code: 200
        type: OK
        message: Everything worked as expected.
      title: Meta
      x-tags:
      - Envelope
      properties:
        code:
          type: integer
          description: Code of Meta
        message:
          type: string
          description: Message of Meta
        details:
          type: array
          description: Details of Meta
          items:
            $ref: '#/components/schemas/Error.v3'
        retryable:
          type: boolean
          description: Whether this request will be retryable or not
      required:
      - code
      - message
    Courier.v3:
      type: object
      x-examples:
        example-1:
          slug: apc-overnight
          name: APC Overnight
          operations:
            post@labels: true
            post@cancel-labels: true
            post@admin/cancel-labels: false
            post@admin/labels: true
            post@rates: false
            post@manifests: false
          courier_service_types:
          - service_type: apc-overnight_0900_parcel
            service_name: 0900 PARCEL
          - service_type: apc-overnight_1000_parcel
            service_name: 1000 PARCEL
          - service_type: apc-overnight_1200_parcel
            service_name: 1200 PARCEL
          - service_type: apc-overnight_1600_parcel
            service_name: 1600 PARCEL
          - service_type: apc-overnight_1000_courier_pack
            service_name: 1000 COURIER PACK
          - service_type: apc-overnight_1200_courier_pack
            service_name: 1200 COURIER PACK
          - service_type: apc-overnight_1600_courier_pack
            service_name: 1600 COURIER PACK
          - service_type: apc-overnight_0900_saturday_courier_pack
            service_name: 0900 SATURDAY COURIER PACK
          - service_type: apc-overnight_1000_saturday_courier_pack
            service_name: 1000 SATURDAY COURIER PACK
          - service_type: apc-overnight_0900_mail_pack
            service_name: 0900 MAIL PACK
          - service_type: apc-overnight_1000_mail_pack
            service_name: 1000 MAIL PACK
          - service_type: apc-overnight_1200_mail_pack
            service_name: 1200 MAIL PACK
          - service_type: apc-overnight_1600_mail_pack
            service_name: 1600 MAIL PACK
          - service_type: apc-overnight_0900_non_conveyable
            service_name: 0900 NON-CONVEYABLE
          - service_type: apc-overnight_1000_non_conveyable
            service_name: 1000 NON-CONVEYABLE
          - service_type: apc-overnight_1200_non_conveyable
            service_name: 1200 NON-CONVEYABLE
          - service_type: apc-overnight_1600_non_conveyable
            service_name: 1600 NON-CONVEYABLE
          courier_box_types:
          - box_name: Custom
            box_size_cm: {}
            box_size_in: {}
          - box_name: Bag
            box_size_cm: {}
            box_size_in: {}
          - box_name: Carton
            box_size_cm: {}
            box_size_in: {}
          - box_name: Pallet
            box_size_cm: {}
            box_size_in: {}
          ship_from: GBR
          ship_to: Global
          tracking_numbers: false
          order: null
      title: Courier
      x-tags:
      - Primitive
      examples: []
      description: "Courier object: the description of supported couriers\n<div style=\"visibility:hidden; height: 0\">\nCourier slug, please check [supported couriers](https://www.aftership.com/docs/shipping/others/supported-couriers) for details \n</div>"
      properties:
        slug:
          type: string
          description: Courier slug, please check [supported couriers](https://www.aftership.com/docs/shipping/others/supported-couriers) for details
        name:
          type: string
          description: 'Courier slug, please check [supported couriers](https://www.aftership.com/docs/shipping/others/supported-couriers) for details '
        operations:
          type: object
          description: The function that this courier supports
          properties:
            post@labels:
              type: boolean
            post@cancel-labels:
              type: boolean
            post@rates:
              type: boolean
            post@manifests:
              type: boolean
        ship_from:
          type: string
        ship_to:
          type: string
        paper_sizes:
          type: array
          description: This courier supported all paper_sizes
          items:
            type: string
        courier_service_types:
          type: array
          description: This courier supported all servcie_types and service_names
          items:
            type: object
            properties:
              service_type:
                type: string
                description: Service type of this couirer
              service_name:
                type: string
                description: Service name of this couirer
              is_domestic:
                type: string
              ship_from.country:
                type: string
        courier_box_types:
          type: array
          description: This courier supported all box_types
          items:
            type: object
            properties:
              box_name:
                type: string
                description: Box name of this courier
              box_type:
                type: string
                description: Box type of this courier
      required:
      - slug
      - name
      - operations
      - paper_sizes
      - courier_service_types
      - courier_box_types
    Error.v3:
      type: object
      title: Error
      description: Each error object contains a "path" key and an "info" key. The "path" is the JSON path of the request object to indicate the error location. The "info" is a human-readable description of the error.
      examples:
      - path: data.shipment.ship_from.country
        info: data.shipment.ship_from.country is a required property
      additionalProperties: false
      x-tags:
      - Envelope
      properties:
        path:
          type: string
          description: The json path of the request object to indicate the error location
          example: account.email
        info:
          type: string
          description: A human-readable description of the error.
          example: account.email is invalid
  securitySchemes:
    as-api-key:
      name: as-api-key
      type: apiKey
      in: header
