openapi: 3.2.0
info:
  title: Overview Item Tags API
  version: 2026-07
  summary: API Overview
  description: '> OAS Schema can be downloaded here'
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/legal/terms-of-service
servers:
- url: https://api.aftership.com/warranty/2026-07
  description: API Endpoint
security:
- ApiKeyAuth: []
tags:
- name: Item Tags
  description: Public endpoints for reading item tags that can be applied to claim items.
paths:
  /item-tags:
    get:
      tags:
      - Item Tags
      summary: List item tags
      operationId: list-item-tags
      description: Lists existing item tags that can be applied to claim items.
      responses:
        '200':
          description: The item tags for the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    type: object
                    properties:
                      item_tags:
                        type: array
                        items:
                          $ref: '#/components/schemas/ItemTag'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  item_tags:
                  - id: tag_id
                    name: Needs inspection
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
components:
  schemas:
    ItemTag:
      title: ItemTag
      x-stoplight:
        id: 8wwwff48758hx
      type: object
      description: A merchant-defined tag that can be added to claim items.
      properties:
        id:
          type: string
          x-stoplight:
            id: r4fbyaanpn8i9
          description: The unique identifier for the item tag.
        name:
          type: string
          x-stoplight:
            id: 4r1fyg1jjzxon
          description: The name of the item tag.
        created_at:
          type: string
          x-stoplight:
            id: a41sqbbkajk6n
          description: The date and time, formatted in ISO 8601, when the item tag was created.
          format: date-time
          example: '2026-05-19T10:00:00Z'
    Meta_20000:
      description: Meta data object.
      type: object
      x-examples: {}
      examples: []
      title: Meta
      x-tags:
      - Envelope
      properties:
        code:
          type: number
          default: 20000
          example: 20000
        type:
          type: string
          minLength: 1
          example: OK
        message:
          type: string
          minLength: 1
          example: The request was successfully processed by AfterShip.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: as-api-key
