openapi: 3.1.0
info:
  title: API Overview
  version: 2026-07
  summary: API Overview
  description: '> OAS Schema can be downloaded [here](https://stoplight.io/api/v1/projects/automizely/docs-prod-wt-public/nodes/reference/api.json?branch=master&deref=optimizedBundle)'
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/legal/terms-of-service
servers:
- url: https://api.aftership.com/warranty/2026-07
  description: API Endpoint
tags:
- name: Warranty Registrations
  description: Public endpoints for querying and correcting warranty registration data.
- name: Claims
  description: Public endpoints for querying and operating claims.
- name: Claim Shipments
  description: Public endpoints for creating and polling claim shipment resources.
- name: Item Tags
  description: Public endpoints for reading item tags that can be applied to claim items.
- name: Claim Items
  description: Public endpoints for updating item-level claim data.
security:
- ApiKeyAuth: []
paths:
  /claims:
    get:
      tags:
      - Claims
      summary: List claims
      operationId: list-claims
      description: Lists claims for external systems to sync and decide which RMA to inspect or operate next.
      parameters:
      - name: keyword
        in: query
        required: false
        description: Free-text search across searchable claim, order, customer, and item fields.
        schema:
          type: string
        example: RMA-1001
      - name: statuses
        in: query
        required: false
        description: 'Comma-separated claim status values to include. Each value must be one of: under_review, approved, in_process, completed, rejected, canceled.'
        schema:
          type: string
        example: approved,in_process
      - name: claim_created_at_min
        in: query
        required: false
        description: Inclusive lower bound for claim creation time. The date and time, formatted in ISO 8601. Please make sure the value of the parameter is properly escaped in URL encoding.
        schema:
          type: string
          format: date-time
        example: '2026-05-19T10:00:00Z'
      - name: claim_created_at_max
        in: query
        required: false
        description: Exclusive upper bound for claim creation time. The date and time, formatted in ISO 8601. Please make sure the value of the parameter is properly escaped in URL encoding.
        schema:
          type: string
          format: date-time
        example: '2026-05-19T10:00:00Z'
      - name: order_created_at_min
        in: query
        required: false
        description: Inclusive lower bound for order creation time. The date and time, formatted in ISO 8601. Please make sure the value of the parameter is properly escaped in URL encoding.
        schema:
          type: string
          format: date-time
        example: '2026-05-19T10:00:00Z'
      - name: order_created_at_max
        in: query
        required: false
        description: Exclusive upper bound for order creation time. The date and time, formatted in ISO 8601. Please make sure the value of the parameter is properly escaped in URL encoding.
        schema:
          type: string
          format: date-time
        example: '2026-05-19T10:00:00Z'
      - name: resolution_methods
        in: query
        required: false
        description: 'Comma-separated public resolution method values to include. Each value must be one of: repair_item, replace_item, send_repair_kit, issue_store_credit, other.'
        schema:
          type: string
        example: replace_item,repair_item
      - name: warranty_page_ids
        in: query
        required: false
        description: Comma-separated 32-character warranty page IDs.
        schema:
          type: string
        example: 11111111111111111111111111111111,22222222222222222222222222222222
      - name: page
        in: query
        required: false
        description: Page number. page * limit must be less than or equal to 10000.
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 1
        example: 1
      - name: limit
        in: query
        required: false
        description: Number of claims per page. page * limit must be less than or equal to 10000.
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        example: 10
      responses:
        '200':
          description: A paginated list of claim resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    type: object
                    properties:
                      claims:
                        type: array
                        items:
                          $ref: '#/components/schemas/Claim'
                        description: The full Claim resources matching the query.
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: Total number of claims matching the query.
                          page:
                            type: integer
                            description: Current page number.
                          limit:
                            type: integer
                            description: Number of claims per page.
                          has_next_page:
                            type: boolean
                            description: Whether another page is available.
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  claims:
                  - id: 102a899f79c82422c99b1fdc417e01010
                    note: null
                    approval_note: null
                    warranty_page:
                      id: 006b053d93564aaab58f95c0a90e06eb
                      name: Default warranty page
                    items:
                    - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                      source_id: '13501508419800'
                      title: School Bags
                      product_title: School Bags
                      variant_title: '02'
                      quantity: 1
                      unit_price:
                        currency: USD
                        amount: '280.00'
                      discounted_price:
                        currency: USD
                        amount: '280.00'
                      tax:
                        currency: USD
                        amount: '0.00'
                      discounted_price_including_tax:
                        currency: USD
                        amount: '280.00'
                      product_tags:
                      - electronics
                      - warranty-eligible
                      image:
                        url: https://cdn.example.com/products/school-bag.jpg
                      source_variant_id: null
                      sku: 21q9grbnf06
                      issue_description:
                        reason: damaged
                        subreason: null
                        description: The zipper broke after two weeks.
                        files:
                        - url: https://files.example.com/warranty/damage.jpg
                          type: image/jpeg
                      process_item_resolution_method: replace_item
                      process_item_details: null
                      product_source: order
                      shopper_notes: null
                      item_tags:
                      - id: tag_001
                        name: VIP
                        created_at: '2026-05-01T10:00:00Z'
                      merchant_uploaded_image_urls: []
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:00:00Z'
                    order:
                      address:
                        contact_name: Ada Lovelace
                        company_name: null
                        address_line_1: 123 Market St
                        address_line_2: null
                        city: San Francisco
                        state: CA
                        postal_code: '94105'
                        country: USA
                        phone_number: null
                        email: buyer@example.com
                      customer:
                        contact:
                          email: buyer@example.com
                          phone_number: null
                        last_name: Lovelace
                        first_name: Ada
                      order_name: '#1001'
                      place_of_purchase:
                        proof: []
                        option: null
                    status: approved
                    flow_type: required_order_number
                    created_at: '2026-05-19T10:00:00Z'
                    process_at: null
                    rma_number: RMA-1001
                    updated_at: '2026-05-19T10:00:00Z'
                    approved_at: '2026-05-19T10:00:00Z'
                    canceled_at: null
                    rejected_at: null
                    completed_at: null
                    shipping_address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    contact_email: buyer@example.com
                    organization:
                      id: org_001
                    cancel_reason: null
                    reject_reason: null
                    dynamic_fields:
                      order_information: {}
                      additional_information: {}
                    inbound_shipments: []
                    outbound_shipments: []
                    receiving_status: not_received
                    received_at: null
                  pagination:
                    total: 1
                    page: 1
                    limit: 10
                    has_next_page: false
  /claims/{claim_id}:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    get:
      tags:
      - Claims
      summary: Get a claim
      operationId: get-claim
      description: Retrieves the full Claim resource for a single claim.
      responses:
        '200':
          description: The full Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: null
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: approved
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: '2026-05-19T10:00:00Z'
                  canceled_at: null
                  rejected_at: null
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
    patch:
      tags:
      - Claims
      summary: Update a claim
      operationId: patch-claim
      description: Updates the note, contact email, or shipping address for a claim.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                note:
                  type: string
                  maxLength: 2000
                  description: Merchant-facing note attached to the claim. Maximum length is 2000 characters.
                contact_email:
                  type: string
                  description: The claim-level contact email.
                shipping_address:
                  type: object
                  title: PatchClaimShippingAddress
                  description: The shipping address update payload. If this parameter is provided, pass the complete shipping_address object. The response returns the normalized shipping_address resource.
                  properties:
                    first_name:
                      type: string
                      description: The recipient first name.
                    last_name:
                      type: string
                      description: The recipient last name.
                    address_line_1:
                      type: string
                      description: First line of the street address.
                    address_line_2:
                      type: string
                      description: Second line of the street address.
                    city:
                      type: string
                      description: The city, town, or village.
                    state:
                      type: string
                      description: The state, province, or region.
                    country:
                      type: string
                      description: The address country/region in ISO 3166-1 alpha-3 format.
                      example: USA
                    postal_code:
                      type: string
                      description: The postal code of the address.
                    phone_number:
                      type: string
                      description: The recipient phone number.
                  required:
                  - last_name
                  - address_line_1
                  - city
                  - country
                  - postal_code
            example:
              note: Customer confirmed updated contact details.
              contact_email: buyer@example.com
              shipping_address:
                first_name: Ada
                last_name: Lovelace
                address_line_1: 123 Market St
                address_line_2: null
                city: San Francisco
                state: CA
                country: USA
                postal_code: '94105'
                phone_number: '+14155550100'
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: Customer confirmed updated contact details.
                  approval_note: null
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: approved
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: '2026-05-19T10:00:00Z'
                  canceled_at: null
                  rejected_at: null
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
  /orders/warranty-registrations:
    get:
      tags:
      - Warranty Registrations
      summary: Query warranty registrations by order
      operationId: get-order-warranty-registrations
      description: Returns the warranty registration history for each item in the target order. The result includes both valid and invalid registrations, ordered from newest to oldest, and excludes virtual lifetime benefits.
      parameters:
      - name: order_number
        in: query
        required: true
        description: The target order number.
        schema:
          type: string
        example: '1001'
      - name: customer_email
        in: query
        required: true
        description: The customer email on the target order.
        schema:
          type: string
          format: email
        example: shopper@example.com
      responses:
        '200':
          description: Warranty registrations grouped by order item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ecommerce platform order identifier.
                      items:
                        type: array
                        description: The order items with their warranty registration histories.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ecommerce platform order item identifier.
                            product_title:
                              type: string
                              description: The product title of the order item.
                            product_variant_title:
                              type: string
                              description: The product variant title of the order item.
                            sku:
                              type: string
                              description: The item SKU.
                            warranty_registrations:
                              type: array
                              description: Persisted warranty registration history for the item, ordered from newest to oldest.
                              items:
                                $ref: '#/components/schemas/Warranty_registrations'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 0ecb8ff7efa84d7d8f763ed7b89851c8
                  items:
                  - id: 6f2d9a43c1844ab1a9e7604e52b2f1c3
                    product_title: Away Bigger Carry-On
                    product_variant_title: Coast Blue
                    sku: AWAY-BAG-001
                    warranty_registrations:
                    - id: 4b8d1f2a7c3e4a6d9b2f5c1e8d7a4f30
                      registration_number: REG10001
                      plan_name: 10-Year Warranty
                      status: invalid
                      invalidated_at: '2021-04-15T20:02:09Z'
                      invalidated_reason: Manual correction after order review
                      expired_at: '2021-04-15T20:02:09Z'
                      benefits:
                        repair_item:
                          total: 4
                          remaining: 1
                        send_repair_kit:
                          total: 0
                          remaining: 0
                        replace_item:
                          total: 1
                          remaining: 1
  /warranty-registrations/{warranty_registration_id}:
    parameters:
    - name: warranty_registration_id
      in: path
      required: true
      description: The unique identifier of the warranty registration.
      schema:
        type: string
      example: 4b8d1f2a7c3e4a6d9b2f5c1e8d7a4f30
    patch:
      tags:
      - Warranty Registrations
      summary: Update a warranty registration
      operationId: patch-warranty-registration
      description: Updates a warranty registration. Benefit counters must remain greater than or equal to the quantities already consumed by existing warranty claims.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                plan_name:
                  type: string
                  description: The plan name shown to merchants and shoppers.
                expired_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date and time, formatted in ISO 8601, when the warranty registration expires. Null means the plan does not expire.
                  example: '2024-09-27T10:45:30Z'
                benefits:
                  type: object
                  description: The corrected benefit totals. Each total value must be greater than or equal to the quantity already consumed.
                  properties:
                    repair_item:
                      type: object
                      description: The corrected repair item benefit.
                      properties:
                        total:
                          type: integer
                          description: The total free repair count after the correction.
                    send_repair_kit:
                      type: object
                      description: The corrected repair kit benefit.
                      properties:
                        total:
                          type: integer
                          description: The total free repair kit count after the correction.
                    replace_item:
                      type: object
                      description: The corrected replacement benefit.
                      properties:
                        total:
                          type: integer
                          description: The total free replacement count after the correction.
            example:
              plan_name: 10-Year Warranty
              expired_at: '2021-04-15T20:02:09Z'
              benefits:
                repair_item:
                  total: 999999
                send_repair_kit:
                  total: 999999
                replace_item:
                  total: 2
      responses:
        '200':
          description: The updated warranty registration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Warranty_registrations'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 4b8d1f2a7c3e4a6d9b2f5c1e8d7a4f30
                  registration_number: REG10001
                  plan_name: 10-Year Warranty
                  status: valid
                  invalidated_at: null
                  invalidated_reason: null
                  expired_at: '2021-04-15T20:02:09Z'
                  benefits:
                    repair_item:
                      total: 999999
                      remaining: 1
                    send_repair_kit:
                      total: 999999
                      remaining: 0
                    replace_item:
                      total: 2
                      remaining: 2
  /warranty-registrations/{warranty_registration_id}/invalidate:
    parameters:
    - name: warranty_registration_id
      in: path
      required: true
      description: The unique identifier of the warranty registration.
      schema:
        type: string
      example: 4b8d1f2a7c3e4a6d9b2f5c1e8d7a4f30
    post:
      tags:
      - Warranty Registrations
      summary: Invalidate a warranty registration
      operationId: invalidate-warranty-registration
      description: Marks a warranty registration as invalid so it no longer participates in active benefit calculations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: A free-form reason provided by the caller.
              required:
              - reason
            example:
              reason: Manual correction after order review
      responses:
        '200':
          description: The invalidated warranty registration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Warranty_registrations'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 4b8d1f2a7c3e4a6d9b2f5c1e8d7a4f30
                  registration_number: REG10001
                  plan_name: 10-Year Warranty
                  status: invalid
                  invalidated_at: '2021-04-15T20:02:09Z'
                  invalidated_reason: Manual correction after order review
                  expired_at: '2021-04-15T20:02:09Z'
                  benefits:
                    repair_item:
                      total: 4
                      remaining: 1
                    send_repair_kit:
                      total: 0
                      remaining: 0
                    replace_item:
                      total: 2
                      remaining: 2
  /claims/{claim_id}/approve:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Approve a claim
      operationId: approve-claim
      description: 'Approves a claim. Allowed source status: under_review.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer about the claim approval.
                approval_note:
                  type: string
                  maxLength: 1000
                  description: Optional note included with the approval. Maximum length is 1000 characters.
            example:
              notify_customer: true
              approval_note: Approved after merchant review.
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: Approved after merchant review.
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: approved
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: '2026-05-19T10:00:00Z'
                  canceled_at: null
                  rejected_at: null
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
  /claims/{claim_id}/reject:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Reject a claim
      operationId: reject-claim
      description: 'Rejects a claim. Allowed source status: under_review.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer about the claim rejection.
                reject_reason:
                  type: string
                  maxLength: 1000
                  description: Reason for rejecting the claim. Maximum length is 1000 characters.
                permanent_reject:
                  type: boolean
                  description: Whether to permanently reject the related order items. This only takes effect for order-flow claims.
              required:
              - reject_reason
            example:
              notify_customer: true
              reject_reason: The issue is not covered by the warranty policy.
              permanent_reject: false
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: null
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: rejected
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: null
                  canceled_at: null
                  rejected_at: '2026-05-19T10:00:00Z'
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: The issue is not covered by the warranty policy.
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
  /claims/{claim_id}/cancel:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Cancel a claim
      operationId: cancel-claim
      description: 'Cancels a claim. Allowed source statuses: approved, in_process.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer about the claim cancellation.
                cancel_reason:
                  type: string
                  maxLength: 1000
                  description: Reason for canceling the claim. Maximum length is 1000 characters.
              required:
              - cancel_reason
            example:
              notify_customer: true
              cancel_reason: Customer withdrew the claim.
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: null
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: canceled
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: '2026-05-19T10:00:00Z'
                  canceled_at: '2026-05-19T10:00:00Z'
                  rejected_at: null
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: Customer withdrew the claim.
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
  /claims/{claim_id}/resolve:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Resolve a claim
      operationId: resolve-claim
      description: 'Resolves a claim as completed. Allowed source status: in_process.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer about the claim resolution.
            example:
              notify_customer: true
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: null
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags:
                    - id: tag_001
                      name: VIP
                      created_at: '2026-05-01T10:00:00Z'
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: completed
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: '2026-05-19T10:01:00Z'
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:00:00Z'
                  approved_at: '2026-05-19T10:00:00Z'
                  canceled_at: null
                  rejected_at: null
                  completed_at: '2026-05-19T10:03:00Z'
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: not_received
                  received_at: null
  /claims/{claim_id}/receive:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Mark claim as received
      operationId: receive-claim
      description: 'Marks returned claim items as received. Allowed source statuses: approved, in_process. This is a side operation and does not change the main claim status.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer that the returned items were received.
            example:
              notify_customer: true
      responses:
        '200':
          description: The updated Claim resource. The main status remains unchanged, while receiving_status and received_at are updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  note: null
                  approval_note: Approved after reviewing submitted photos.
                  warranty_page:
                    id: 006b053d93564aaab58f95c0a90e06eb
                    name: Default warranty page
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    source_id: '13501508419800'
                    title: School Bags
                    product_title: School Bags
                    variant_title: '02'
                    quantity: 1
                    unit_price:
                      currency: USD
                      amount: '280.00'
                    discounted_price:
                      currency: USD
                      amount: '280.00'
                    tax:
                      currency: USD
                      amount: '0.00'
                    discounted_price_including_tax:
                      currency: USD
                      amount: '280.00'
                    product_tags:
                    - electronics
                    - warranty-eligible
                    image:
                      url: https://cdn.example.com/products/school-bag.jpg
                    source_variant_id: null
                    sku: 21q9grbnf06
                    issue_description:
                      reason: damaged
                      subreason: null
                      description: The zipper broke after two weeks.
                      files:
                      - url: https://files.example.com/warranty/damage.jpg
                        type: image/jpeg
                    process_item_resolution_method: replace_item
                    process_item_details: null
                    product_source: order
                    shopper_notes: null
                    item_tags: []
                    merchant_uploaded_image_urls: []
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
                  order:
                    address:
                      contact_name: Ada Lovelace
                      company_name: null
                      address_line_1: 123 Market St
                      address_line_2: null
                      city: San Francisco
                      state: CA
                      postal_code: '94105'
                      country: USA
                      phone_number: null
                      email: buyer@example.com
                    customer:
                      contact:
                        email: buyer@example.com
                        phone_number: null
                      last_name: Lovelace
                      first_name: Ada
                    order_name: '#1001'
                    place_of_purchase:
                      proof: []
                      option: null
                  status: approved
                  flow_type: required_order_number
                  created_at: '2026-05-19T10:00:00Z'
                  process_at: null
                  rma_number: RMA-1001
                  updated_at: '2026-05-19T10:03:00Z'
                  approved_at: '2026-05-19T10:01:00Z'
                  canceled_at: null
                  rejected_at: null
                  completed_at: null
                  shipping_address:
                    contact_name: Ada Lovelace
                    company_name: null
                    address_line_1: 123 Market St
                    address_line_2: null
                    city: San Francisco
                    state: CA
                    postal_code: '94105'
                    country: USA
                    phone_number: null
                    email: buyer@example.com
                  contact_email: buyer@example.com
                  organization:
                    id: org_001
                  cancel_reason: null
                  reject_reason: null
                  dynamic_fields:
                    order_information: {}
                    additional_information: {}
                  inbound_shipments: []
                  outbound_shipments: []
                  receiving_status: received
                  received_at: '2026-05-19T10:03:00Z'
  /claims/{claim_id}/match-resolution:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Check claim resolution availability
      operationId: check-claim-resolution-availability
      description: Checks which resolution methods are supported by a claim and which stores can be used for processing.
      responses:
        '200':
          description: The supported resolution methods and available stores.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    type: object
                    properties:
                      resolutions:
                        type: array
                        items:
                          type: object
                          properties:
                            resolution_method:
                              type: string
                              description: The public resolution method.
                              enum:
                              - repair_item
                              - replace_item
                              - send_repair_kit
                              - issue_store_credit
                              - other
                            supported:
                              type: boolean
                              description: Whether AfterShip can create the corresponding e-commerce platform resource for this resolution method, such as a replacement order or store credit.
                            stores:
                              type: array
                              description: Stores that can be used when processing this resolution method.
                              items:
                                type: object
                                description: The brief information of the store associated with the original order.
                                properties:
                                  platform:
                                    type: string
                                    description: The e-commerce platform where the store is located.
                                    enum:
                                    - shopify
                                    - bigcommerce
                                    - woocommerce
                                    example: shopify
                                  external_id:
                                    type: string
                                    description: The identifier of the store on the e-commerce platform.
                                    example: cool-shoe-store
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  resolutions:
                  - resolution_method: repair_item
                    supported: true
                    stores: []
                  - resolution_method: replace_item
                    supported: true
                    stores:
                    - platform: shopify
                      external_id: cool-shoe-store
                  - resolution_method: send_repair_kit
                    supported: true
                    stores:
                    - platform: shopify
                      external_id: cool-shoe-store
                  - resolution_method: issue_store_credit
                    supported: true
                    stores:
                    - platform: shopify
                      external_id: cool-shoe-store
                  - resolution_method: other
                    supported: true
                    stores: []
  /claims/{claim_id}/process:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claims
      summary: Process a claim
      operationId: process-claim
      description: 'Processes an approved claim and returns the updated Claim resource. Allowed source status: approved.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_customer:
                  type: boolean
                  description: Whether to notify the customer about the claim processing update.
                items:
                  type: array
                  description: Claim items to process.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the claim item.
                      resolution_method:
                        type: string
                        description: The public resolution method to apply to this item.
                        enum:
                        - repair_item
                        - replace_item
                        - send_repair_kit
                        - issue_store_credit
                        - other
                      process_item_details:
                        type:
                        - string
                        - 'null'
                        maxLength: 1000
                        description: Optional merchant-facing processing note. Maximum length is 1000 characters.
                      replacement_order:
                        type: object
                        description: Replacement order payload for replace_item or send_repair_kit resolutions. Use a store returned by the match-resolution endpoint.
                        properties:
                          store:
                            type: object
                            description: The store selected from POST /claims/{claim_id}/match-resolution.
                            properties:
                              platform:
                                type: string
                                description: The e-commerce platform where the store is located.
                                enum:
                                - shopify
                                - bigcommerce
                                - woocommerce
                                example: shopify
                              external_id:
                                type: string
                                description: The identifier of the store on the e-commerce platform.
                                example: cool-shoe-store
                            required:
                            - platform
                            - external_id
                          items:
                            type: array
                            description: Replacement order item selections.
                            items:
                              type: object
                              properties:
                                external_product_id:
                                  type: string
                                  description: The e-commerce platform product identifier for the replacement item.
                                external_variant_id:
                                  type: string
                                  description: The e-commerce platform variant identifier for the replacement item.
                                quantity:
                                  type: integer
                                  minimum: 1
                                  description: The replacement quantity.
                              required:
                              - external_product_id
                              - external_variant_id
                              - quantity
                        required:
                        - store
                        - items
                      store_credit:
                        type: object
                        description: Store credit payload for issue_store_credit resolution. Use a store returned by the match-resolution endpoint when store selection is required.
                        properties:
                          store:
                            type: object
                            description: The store selected from POST /claims/{claim_id}/match-resolution.
                            properties:
                              platform:
                                type: string
                                description: The e-commerce platform where the store is located.
                                enum:
                                - shopify
                                - bigcommerce
                                - woocommerce
                                example: shopify
                              external_id:
                                type: string
                                description: The identifier of the store on the e-commerce platform.
                                example: cool-shoe-store
                            required:
                            - platform
                            - external_id
                          value:
                            $ref: '#/components/schemas/Money'
                            description: The store credit value.
                        required:
                        - value
                    required:
                    - id
                    - resolution_method
              required:
              - items
            examples:
              replace_item:
                summary: Create a replacement order
                value:
                  notify_customer: true
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    resolution_method: replace_item
                    process_item_details: Create replacement order from API.
                    replacement_order:
                      store:
                        platform: shopify
                        external_id: cool-shoe-store
                      items:
                      - external_product_id: '45234123'
                        external_variant_id: '45234124'
                        quantity: 1
              issue_store_credit:
                summary: Issue store credit
                value:
                  notify_customer: true
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    resolution_method: issue_store_credit
                    store_credit:
                      store:
                        platform: shopify
                        external_id: cool-shoe-store
                      value:
                        amount: '25.00'
                        currency: USD
              other:
                summary: Process with other resolution
                value:
                  notify_customer: false
                  items:
                  - id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                    resolution_method: other
                    process_item_details: Handled outside AfterShip Warranty.
      responses:
        '200':
          description: The updated Claim resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: 102a899f79c82422c99b1fdc417e01010
                  rma_number: RMA-1001
                  status: in_process
                  process_at: '2026-05-19T10:03:00Z'
                  updated_at: '2026-05-19T10:03:00Z'
  /claims/{claim_id}/shipments:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    post:
      tags:
      - Claim Shipments
      summary: Create a claim shipment
      operationId: create-claim-shipment
      description: 'Creates one inbound or outbound shipment for a claim. Allowed source statuses: approved, in_process. AfterShip labels are generated asynchronously; use GET /claims/{claim_id}/shipments/{shipment_id} to poll the result.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: AfterShip generated label
                type: object
                properties:
                  shipment_direction:
                    type: string
                    description: The claim shipment direction. AfterShip-generated labels currently support inbound shipments only.
                    enum:
                    - inbound
                  notify_customer:
                    type: boolean
                    description: Whether to notify the customer about the shipment.
                  label_source:
                    type: string
                    description: Use aftership for AfterShip-generated labels.
                    enum:
                    - aftership
                required:
                - shipment_direction
                - label_source
              - title: Merchant provided label and tracking
                type: object
                properties:
                  shipment_direction:
                    type: string
                    description: The claim shipment direction.
                    enum:
                    - inbound
                    - outbound
                  notify_customer:
                    type: boolean
                    description: Whether to notify the customer about the shipment.
                  label_source:
                    type: string
                    description: Use merchant to submit merchant-provided label and tracking information.
                    enum:
                    - merchant
                  label:
                    type: object
                    description: The shipment label information.
                    properties:
                      url:
                        type: string
                        description: The label URL.
                        example: https://example.com/label.pdf
                    required:
                    - url
                  tracking_slug:
                    type: string
                    description: The tracking slug.
                    example: ups
                  tracking_number:
                    type: string
                    description: The tracking number.
                    example: 1Z999
                required:
                - shipment_direction
                - label_source
                - label
                - tracking_slug
                - tracking_number
            examples:
              auto_inbound_label:
                summary: Generate inbound label with AfterShip
                value:
                  shipment_direction: inbound
                  notify_customer: true
                  label_source: aftership
              manual_inbound_label:
                summary: Upload inbound label manually
                value:
                  shipment_direction: inbound
                  notify_customer: true
                  label_source: merchant
                  label:
                    url: https://example.com/label.pdf
                  tracking_slug: ups
                  tracking_number: 1Z999
              manual_outbound_label:
                summary: Upload outbound label manually
                value:
                  shipment_direction: outbound
                  notify_customer: true
                  label_source: merchant
                  label:
                    url: https://example.com/label.pdf
                  tracking_slug: ups
                  tracking_number: 1Z999
      responses:
        '201':
          description: The created ClaimShipment resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim_shipment'
              examples:
                creating:
                  summary: Auto label is creating
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: shipment_id
                      label:
                        url: null
                        invoice_url: null
                        qrcode: null
                      tracking_number: null
                      tracking_slug: null
                      tracking_status: null
                      tracking_status_updated_at: null
                      item_selections: []
                      ship_from: null
                      ship_to: null
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:00:00Z'
                created:
                  summary: Manual label created
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: shipment_id
                      label:
                        url: https://files.example.com/warranty/label.pdf
                        invoice_url: null
                        qrcode: null
                      tracking_number: 1Z999
                      tracking_slug: ups
                      tracking_status: Pending
                      tracking_status_updated_at: '2026-05-19T10:03:00Z'
                      item_selections: []
                      ship_from: null
                      ship_to: null
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:03:00Z'
  /claims/{claim_id}/shipments/{shipment_id}:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    - name: shipment_id
      in: path
      required: true
      description: The unique identifier of the shipment.
      schema:
        type: string
      example: shipment_id
    get:
      tags:
      - Claim Shipments
      summary: Get claim shipment
      operationId: get-claim-shipment
      description: Gets a claim shipment by ID under a claim. Use this endpoint to poll AfterShip label generation until label_generation_result.status is created or failed.
      responses:
        '200':
          description: The ClaimShipment resource. label_generation_result is returned when the shipment uses AfterShip label generation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    allOf:
                    - $ref: '#/components/schemas/Claim_shipment'
                    - type: object
                      properties:
                        label_generation_result:
                          type:
                          - object
                          - 'null'
                          description: The asynchronous label generation result for shipments created with AfterShip (label_source=aftership). This field is null for merchant-provided labels.
                          properties:
                            status:
                              type: string
                              description: The label generation status.
                              enum:
                              - creating
                              - created
                              - failed
                            failed_detail:
                              type:
                              - object
                              - 'null'
                              description: Failure details when status is failed. The shape can vary by label generation failure reason.
                              additionalProperties: true
              examples:
                creating:
                  summary: Label generation is creating
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: shipment_id
                      label:
                        url: null
                        invoice_url: null
                        qrcode: null
                      tracking_number: null
                      tracking_slug: null
                      tracking_status: null
                      tracking_status_updated_at: null
                      item_selections: []
                      ship_from: null
                      ship_to: null
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:00:00Z'
                      label_generation_result:
                        status: creating
                        failed_detail: null
                created:
                  summary: Label generation created
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: shipment_id
                      label:
                        url: https://files.example.com/warranty/label.pdf
                        invoice_url: null
                        qrcode: null
                      tracking_number: 1Z999
                      tracking_slug: ups
                      tracking_status: Pending
                      tracking_status_updated_at: '2026-05-19T10:03:00Z'
                      item_selections: []
                      ship_from: null
                      ship_to: null
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:03:00Z'
                      label_generation_result:
                        status: created
                        failed_detail: null
                failed:
                  summary: Label generation failed
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: shipment_id
                      label:
                        url: null
                        invoice_url: null
                        qrcode: null
                      tracking_number: null
                      tracking_slug: null
                      tracking_status: null
                      tracking_status_updated_at: null
                      item_selections: []
                      ship_from: null
                      ship_to: null
                      created_at: '2026-05-19T10:00:00Z'
                      updated_at: '2026-05-19T10:03:00Z'
                      label_generation_result:
                        status: failed
                        failed_detail:
                          message: Label generation failed because item weight is missing.
  /item-tags:
    get:
      tags:
      - Item Tags
      summary: List item tags
      operationId: list-item-tags
      description: Lists existing item tags that can be applied to claim items.
      responses:
        '200':
          description: The item tags for the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    type: object
                    properties:
                      item_tags:
                        type: array
                        items:
                          $ref: '#/components/schemas/ItemTag'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  item_tags:
                  - id: tag_id
                    name: Needs inspection
                    created_at: '2026-05-19T10:00:00Z'
                    updated_at: '2026-05-19T10:00:00Z'
  /claims/{claim_id}/items/{item_id}:
    parameters:
    - name: claim_id
      in: path
      required: true
      description: The unique identifier of the claim.
      schema:
        type: string
      example: 102a899f79c82422c99b1fdc417e01010
    - name: item_id
      in: path
      required: true
      description: The unique identifier of the claim item.
      schema:
        type: string
      example: c83fd9f0c4e343de9d21fbf0acf5ebd9
    patch:
      tags:
      - Claim Items
      summary: Update a claim item
      operationId: update-claim-item
      description: Updates item tags or merchant-uploaded images for a claim item. Send either item_tags or merchant_image_urls in one request, not both.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Update item tags
                type: object
                properties:
                  item_tags:
                    type: array
                    maxItems: 10
                    description: Item tags to apply to the claim item. Only item_tags[].id is required in the request. Passing an empty array removes all item tags from the item.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the item tag.
                      required:
                      - id
                required:
                - item_tags
              - title: Update merchant-uploaded images
                type: object
                properties:
                  merchant_image_urls:
                    type: array
                    maxItems: 6
                    description: Merchant-uploaded image URLs to attach to the claim item. Passing an empty array removes all merchant-uploaded images from the item.
                    items:
                      type: string
                required:
                - merchant_image_urls
            examples:
              update_tags:
                summary: Update item tags
                value:
                  item_tags:
                  - id: tag_id
              update_images:
                summary: Update merchant-uploaded images
                value:
                  merchant_image_urls:
                  - https://example.com/warranty/inspection-photo-1.jpg
      responses:
        '200':
          description: The updated claim item resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta_20000'
                  data:
                    $ref: '#/components/schemas/Claim_item'
              example:
                meta:
                  code: 20000
                  type: OK
                  message: The request was successfully processed by AfterShip.
                data:
                  id: c83fd9f0c4e343de9d21fbf0acf5ebd9
                  source_id: '13501508419800'
                  title: School Bags
                  product_title: School Bags
                  variant_title: '02'
                  quantity: 1
                  unit_price:
                    currency: USD
                    amount: '280.00'
                  discounted_price:
                    currency: USD
                    amount: '280.00'
                  tax:
                    currency: USD
                    amount: '0.00'
                  discounted_price_including_tax:
                    currency: USD
                    amount: '280.00'
                  product_tags:
                  - electronics
                  - warranty-eligible
                  image:
                    url: https://cdn.example.com/products/school-bag.jpg
                  source_variant_id: null
                  sku: 21q9grbnf06
                  issue_description:
                    reason: damaged
                    subreason: null
                    description: The zipper broke after two weeks.
                    files:
                    - url: https://files.example.com/warranty/damage.jpg
                      type: image/jpeg
                  process_item_resolution_method: replace_item
                  process_item_details: null
                  product_source: order
                  shopper_notes: null
                  item_tags:
                  - id: tag_id
                    name: Needs inspection
                    created_at: '2026-05-19T10:00:00Z'
                  merchant_uploaded_image_urls: []
                  created_at: '2026-05-19T10:00:00Z'
                  updated_at: '2026-05-19T10:03:00Z'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: as-api-key
  schemas:
    Meta_20000:
      description: Meta data object.
      type: object
      x-examples: {}
      examples: []
      title: Meta
      x-tags:
      - Envelope
      properties:
        code:
          type: number
          default: 20000
          example: 20000
        type:
          type: string
          minLength: 1
          example: OK
        message:
          type: string
          minLength: 1
          example: The request was successfully processed by AfterShip.
    ItemTag:
      title: ItemTag
      x-stoplight:
        id: 8wwwff48758hx
      type: object
      description: A merchant-defined tag that can be added to claim items.
      properties:
        id:
          type: string
          x-stoplight:
            id: r4fbyaanpn8i9
          description: The unique identifier for the item tag.
        name:
          type: string
          x-stoplight:
            id: 4r1fyg1jjzxon
          description: The name of the item tag.
        created_at:
          type: string
          x-stoplight:
            id: a41sqbbkajk6n
          description: The date and time, formatted in ISO 8601, when the item tag was created.
          format: date-time
          example: '2026-05-19T10:00:00Z'
    Address:
      type: object
      x-stoplight:
        id: 7cc87e0eb2a0d
      title: Address
      properties:
        contact_name:
          type:
          - string
          - 'null'
          x-stoplight:
            id: lwugfye8q3bt0
          description: 'The name of the contact person associated with the address.

            '
        company_name:
          type:
          - string
          - 'null'
          x-stoplight:
            id: jozyy6y4x6hal
          description: 'The name of the company or organization associated with the address.

            '
        address_line_1:
          type:
          - string
          - 'null'
          description: First line of the street address.
        address_line_2:
          type:
          - string
          - 'null'
          description: Second line of the street address.
        city:
          type:
          - string
          - 'null'
          title: The City Schema
          description: The location's city, town, or village.
        state:
          title: The State Schema
          description: The state or region of the location, such as a province, state, or prefecture.
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
          title: The Postal_code Schema
          description: The postal code of the location (also known as zip code, postcode, Eircode, etc.).
        country:
          title: The Country Schema
          description: The address country/region in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.
          example: USA
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
          x-stoplight:
            id: lio9zgakvzqhp
          description: 'The contact phone number associated with the address.

            '
        email:
          type:
          - string
          - 'null'
          x-stoplight:
            id: ox7s3omkrkk3f
          description: The email associated with the address.
    Benefit:
      title: Benefit
      type: object
      description: A benefit object containing the configured total quantity and the remaining quantity calculated by the system.
      properties:
        total:
          type: integer
          description: The total benefit quantity. Use -1 for unlimited benefits.
          example: 1
        remaining:
          type: integer
          description: The remaining benefit quantity. Use -1 for unlimited benefits.
          example: 0
      x-examples:
        Example 1:
          total: 1
          remaining: 0
    Money:
      description: The store credit value.
      title: Money
      type: object
      properties:
        amount:
          type: string
          description: The amount represented with two decimal places.
          example: '99.99'
        currency:
          type: string
          description: The currency code, using ISO 4217 standards.
          example: USD
    Claim:
      title: Claim
      x-stoplight:
        id: iidsz0rdrzaox
      type: object
      properties:
        id:
          type: string
        note:
          type: string
        approval_note:
          type:
          - string
          - 'null'
          description: A note included when the claim was approved.
        warranty_page:
          type: object
          description: The warranty page from which the claim was submitted.
          properties:
            id:
              type: string
              description: Unique identifier of the warranty page, UUID v4 without hyphens (e.g. 006b053d93564aaab58f95c0a90e06eb).
            name:
              type: string
              description: Merchant-configured name of the warranty page.
        items:
          type: array
          items:
[...]
