openapi: 3.1.0
x-stoplight:
  id: 07dbd324ec273
info:
  title: API Overview
  version: 2026-07
  summary: API Overview
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/legal/terms-of-service
  description: '> OAS Schema can be downloaded [here](https://stoplight.io/api/v1/projects/automizely/docs-api-automizely-com-commerce/nodes/reference/api.json?branch=testing%2F2026-07&deref=optimizedBundle)'
servers:
- url: https://api.aftership.com/commerce/2026-07
  description: API Endpoint
paths:
  /stores:
    post:
      summary: Create a store
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Store.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20100
                      type: Created
                      message: The request was successful, we created a new resource and the response body contains the representation.
                    data:
                      id: my-store-1
                      created_at: '2024-05-06T12:32:00+01:00'
                      updated_at: '2024-05-06T12:32:00+01:00'
                      source_created_at: '2024-05-06T12:32:00+01:00'
                      source_updated_at: '2024-05-06T12:32:00+01:00'
                      platform: aftership
                      name: My Store
                      owner_email: store_owner@example.com
                      timezone_identifier: America/New_York
                      support_email: support@example.com
                      weight_unit: lb
                      currency: USD
                      phone: '+11234567890'
                      address:
                        street_1: 98 Circle
                        street_2: ''
                        street_3: ''
                        city: Daug City
                        state: New York
                        country_region: USA
                        postal_code: '10001'
                        latitude: 43
                        longitude: -75
                      url: https://www.exmaple.com
                      description: My shop
                      categories:
                      - shoes
                      - bags
      operationId: create-store
      description: 'Create a new store.


        > **Important:** After creating a new store in Commerce API, please contact our support team to configure and enable the specific Commerce API features you need (such as `tracking`, `returns`, etc.) for this store. This configuration is separate from any AfterShip products you may have already subscribed to. <br/>The returned `store.id` value is essential, as you''ll need to include it in the header of all subsequent Commerce API requests as `as-store-id` to identify which store you''re operating on.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - name
              - currency
              properties:
                id:
                  type: string
                  description: "This ID will be used as the `as-store-id` header value when calling other resource endpoints.\n\nA custom identifier for the store. If not provided, the system will generate a UUID. Must be unique within the organization and immutable. \n\nCannot start with the reserved prefix `app-`. \n\nYou can use this ID to manage the resource in subsequent API calls. \n\nThis ID will be used as the `as-store-id` header value when calling other resource endpoints."
                  maxLength: 128
                  pattern: ^[a-zA-Z0-9_-]+$
                  example: my-store-1
                source_created_at:
                  type: string
                  description: Timestamp marking the creation of the store, formatted in [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601).
                  example: '2024-05-06T12:32:00+01:00'
                source_updated_at:
                  type: string
                  description: The timestamp indicating the last update to the store, formatted in [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601).
                  example: '2024-05-06T12:32:00+01:00'
                name:
                  type: string
                  description: The shop's name.
                  maxLength: 256
                  example: My Store
                support_email:
                  type: string
                  description: Support email address for your store.
                  maxLength: 256
                  example: support@example.com
                owner_email:
                  type: string
                  description: The email address of the store owner.
                  maxLength: 256
                  example: store_owner@example.com
                timezone_identifier:
                  type: string
                  description: The name of the timezone of your store located, as defined by the [IANA timezone database standard](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).
                  maxLength: 256
                  default: America/New_York
                weight_unit:
                  type: string
                  description: Unit of measurement for weight used by the store, such as "lb" or "kg"
                  maxLength: 64
                  example: lb
                currency:
                  type: string
                  description: 'Indicates the currency used by the store. The currency should be specified using the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) three-letter currency code (e.g., ''USD'' for US Dollar, ''EUR'' for Euro). '
                  maxLength: 3
                  example: USD
                phone:
                  type: string
                  description: The store's phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                  maxLength: 256
                  example: '+11234567890'
                url:
                  type: string
                  description: The URL of the store.
                  maxLength: 2048
                  example: https://www.example.com
                description:
                  type: string
                  description: The text description of the store.
                  maxLength: 10240
                  example: My shop
                categories:
                  type: array
                  description: The supported product category name of the store.
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 256
                address:
                  description: The physical address of the store.
                  type: object
                  properties:
                    street_1:
                      type: string
                      title: The Street_1 Schema
                      description: First line of the store's street address.
                      maxLength: 256
                    street_2:
                      type: string
                      title: The Street_2 Schema
                      description: Second line of the store's street address.
                      maxLength: 256
                    street_3:
                      type: string
                      title: The Street_3 Schema
                      description: Third line of the store's street address.
                      maxLength: 256
                    city:
                      type: string
                      title: The City Schema
                      description: The city, town, or village where the store is located.
                      maxLength: 256
                    state:
                      type: string
                      title: The State Schema
                      description: Indicates the state or region where the store is located, such as a province, state, or prefecture.
                      maxLength: 256
                    postal_code:
                      type: string
                      title: The Postal_code Schema
                      description: The postal code of the store (also known as zip code, postcode, Eircode, etc.).
                      maxLength: 256
                    country_region:
                      type: string
                      title: The Country Schema
                      description: The store's country/region in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.
                      example: USA
                      pattern: ^[A-Z]{3}$
                    coordinate:
                      type: object
                      description: Store address coordinate.
                      properties:
                        longitude:
                          type: number
                          description: The longitude of the store address.
                        latitude:
                          type: number
                          description: The latitude of the store address.
            examples:
              Example 1:
                value:
                  id: my-store-1
                  source_created_at: '2024-05-06T12:32:00+01:00'
                  source_updated_at: '2024-05-06T12:32:00+01:00'
                  name: My Store
                  support_email: support@example.com
                  owner_email: store_owner@example.com
                  timezone_identifier: America/New_York
                  weight_unit: lb
                  currency: USD
                  phone: '+11234567890'
                  url: https://www.example.com
                  description: My shop
                  categories:
                  - shoes
                  - bags
                  address:
                    street_1: 98 Bofors Circle
                    city: New York
                    state: New York
                    postal_code: '10001'
                    country_region: USA
                    coordinate:
                      latitude: 40
                      longitude: 74
        description: ''
      tags:
      - Stores
      x-stoplight:
        id: hadtz8qj5if6w
    get:
      summary: Get stores
      operationId: get-stores
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                    x-stoplight:
                      id: 43pbqr696s1vw
                  data:
                    type: object
                    x-stoplight:
                      id: i1m9d2a1owenx
                    properties:
                      stores:
                        x-stoplight:
                          id: klhs7crx4ougd
                        type: array
                        items:
                          $ref: '#/components/schemas/Store.v1'
                          x-stoplight:
                            id: 1gviwx15qjg0o
                      pagination:
                        $ref: '#/components/schemas/Pagination.v2'
                        x-stoplight:
                          id: gftlh15a2uix6
                      parameter_string:
                        type: string
                        x-stoplight:
                          id: kflov9vr92k0c
                        description: A string that includes the request parameters.
                        example: page=1&limit=10
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      stores:
                      - id: my-store-1
                        created_at: '2024-05-06T12:32:00+01:00'
                        updated_at: '2024-05-06T12:32:00+01:00'
                        source_created_at: '2024-05-06T12:32:00+01:00'
                        source_updated_at: '2024-05-06T12:32:00+01:00'
                        platform: aftership
                        name: My Store
                        owner_email: store_owner@example.com
                        timezone_identifier: America/New_York
                        support_email: support@example.com
                        weight_unit: lb
                        currency: USD
                        phone: '+11234567890'
                        address:
                          street_1: 98 Circle
                          street_2: ''
                          street_3: ''
                          city: Daug City
                          state: New York
                          country_region: USA
                          postal_code: '10001'
                          latitude: 43
                          longitude: -75
                        url: https://www.exmaple.com
                        description: My shop
                        categories:
                        - shoes
                        - bags
                      pagination:
                        page: 1
                        limit: 10
                        has_next_page: true
                      parameter_string: page=1&limit=10
      x-stoplight:
        id: yc24p1srfyqiv
      description: Get store results with multiple stores.
      parameters:
      - schema:
          type: string
        in: query
        name: limit
        description: The maximum number of results to show on a page.  Default is 10.
      - schema:
          type: string
        in: query
        name: page
        description: Current page of the collection. Default is 1.
      - schema:
          type: string
        in: query
        name: ids[]
        description: 'Each element must contain fewer than 128 characters. The total number of elements should not exceed 50. Each `id` should be used as an independent query parameter in the URL, as demonstrated in the following example: `GET /stores?ids[]=5247009653041&ids[]=5081836323059`'
      tags:
      - Stores
  /stores/{id}:
    get:
      summary: Get store by ID
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Store.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: my-store-1
                      created_at: '2024-05-06T12:32:00+01:00'
                      updated_at: '2024-05-06T12:32:00+01:00'
                      source_created_at: '2024-05-06T12:32:00+01:00'
                      source_updated_at: '2024-05-06T12:32:00+01:00'
                      platform: aftership
                      name: My Store
                      owner_email: store_owner@example.com
                      timezone_identifier: America/New_York
                      support_email: support@example.com
                      weight_unit: lb
                      currency: USD
                      phone: '+11234567890'
                      address:
                        street_1: 98 Circle
                        street_2: ''
                        street_3: ''
                        city: Daug City
                        state: New York
                        country_region: USA
                        postal_code: '10001'
                        latitude: 43
                        longitude: -75
                      url: https://www.exmaple.com
                      description: My shop
                      categories:
                      - shoes
                      - bags
      operationId: get-store-by-id
      description: Get a store by ID.
      parameters: []
      tags:
      - Stores
      x-stoplight:
        id: kepefe38naajo
    patch:
      summary: Update store by ID
      operationId: update-store-by-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Store.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: my-store-1
                      created_at: '2024-05-06T12:32:00+01:00'
                      updated_at: '2024-05-06T12:32:00+01:00'
                      source_created_at: '2024-05-06T12:32:00+01:00'
                      source_updated_at: '2024-05-06T12:32:00+01:00'
                      platform: aftership
                      name: My Store
                      owner_email: store_owner@example.com
                      timezone_identifier: America/New_York
                      support_email: support@example.com
                      weight_unit: lb
                      currency: USD
                      phone: '+11234567890'
                      address:
                        street_1: 98 Circle
                        street_2: ''
                        street_3: ''
                        city: Daug City
                        state: New York
                        country_region: USA
                        postal_code: '10001'
                        latitude: 43
                        longitude: -75
                      url: https://www.exmaple.com
                      description: My shop
                      categories:
                      - shoes
                      - bags
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_updated_at:
                  type: string
                  description: The timestamp indicating the last update to the store, formatted in [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601).
                  example: '2024-05-06T12:32:00+01:00'
                name:
                  type: string
                  description: The shop's name.
                  maxLength: 256
                  example: My Store
                support_email:
                  type: string
                  description: Support email address for your store.
                  maxLength: 256
                  example: support@example.com
                owner_email:
                  type: string
                  description: The email address of the store owner.
                  maxLength: 256
                  example: store_owner@example.com
                timezone_identifier:
                  type: string
                  description: The name of the timezone of your store located, as defined by the [IANA timezone database standard](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).
                  maxLength: 256
                  example: America/New_York
                weight_unit:
                  type: string
                  description: Unit of measurement for weight used by the store, such as "lb" or "kg"
                  maxLength: 64
                  example: lb
                phone:
                  type: string
                  description: The store's phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                  maxLength: 256
                  example: '+11234567890'
                address:
                  description: The physical address of the store.
                  type: object
                  properties:
                    street_1:
                      type: string
                      title: The Street_1 Schema
                      description: First line of the store's street address.
                      maxLength: 256
                    street_2:
                      type: string
                      title: The Street_2 Schema
                      description: Second line of the store's street address.
                      maxLength: 256
                    street_3:
                      type: string
                      title: The Street_3 Schema
                      description: Third line of the store's street address.
                      maxLength: 256
                    city:
                      type: string
                      title: The City Schema
                      description: The city, town, or village where the store is located.
                      maxLength: 256
                    state:
                      type: string
                      title: The State Schema
                      description: Indicates the state or region where the store is located, such as a province, state, or prefecture.
                      maxLength: 256
                    postal_code:
                      type: string
                      title: The Postal_code Schema
                      description: The postal code of the store (also known as zip code, postcode, Eircode, etc.).
                      maxLength: 256
                    country_region:
                      type: string
                      title: The Country Schema
                      description: The store's country/region in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.
                      example: USA
                      pattern: ^[A-Z]{3}$
                    coordinate:
                      type: object
                      description: Store address coordinate.
                      properties:
                        longitude:
                          type: number
                          description: The longitude of the store address.
                        latitude:
                          type: number
                          description: The latitude of the store address.
            examples:
              Example 1:
                value:
                  source_updated_at: '2024-05-06T12:32:00+01:00'
                  name: My Store
                  support_email: support@example.com
                  owner_email: store_owner@example.com
                  timezone_identifier: America/New_York
                  weight_unit: lb
                  phone: '+11234567890'
                  address:
                    street_1: 98 Bofors Circle
                    city: New York
                    state: New York
                    postal_code: '10001'
                    country_region: USA
                    coordinate:
                      latitude: 40
                      longitude: 74
      description: Update a store by ID.
      tags:
      - Stores
      x-stoplight:
        id: 7e8bomqsyg6ku
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: The ID of the store.
  /locations:
    post:
      summary: Create a location
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Location.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20100
                      type: Created
                      message: The request was successful, we created a new resource and the response body contains the representation.
                    data:
                      id: warehouse_1
                      name: SF Warehouse
                      source: manual
                      address:
                        company: AfterShip
                        first_name: John Doe
                        last_name: ''
                        phone: '+14155551234'
                        email: john@example.com
                        street_1: 123 Main St
                        street_2: Suite 100
                        street_3: ''
                        city: San Francisco
                        state: CA
                        country_region: USA
                        postal_code: '94105'
                        coordinate:
                          latitude: 37.7749
                          longitude: -122.4194
                      timezone_identifier: America/New_York
                      opening_hours:
                        sunday:
                          open: false
                          from: null
                          to: null
                        monday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        tuesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        wednesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        thursday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        friday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        saturday:
                          open: false
                          from: null
                          to: null
                      order_processing:
                        enabled: true
                        order_cutoff_time: '14:00'
                        order_processing_duration_days: 0
                      pickup_setting:
                        enabled: true
                        instructions: Please pick up at the front desk.
                        order_processing_duration_seconds_min: 3600
                        order_processing_duration_seconds_max: 7200
                      created_at: '2026-01-01T00:00:00Z'
                      updated_at: '2026-04-24T00:00:00Z'
      operationId: create-location
      description: Create a manual location. Locations created through Commerce API are organization-level resources and are not bound to a store. A custom `id` can be provided, but it cannot start with the reserved prefix `app-`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - name
              - address
              properties:
                id:
                  type: string
                  description: A custom identifier for the location. If not provided, the system will generate a UUID. Must be unique within the organization and immutable. Cannot start with the reserved prefix `app-`.
                  maxLength: 128
                  pattern: ^[a-zA-Z0-9_-]+$
                  example: warehouse_1
                name:
                  type: string
                  description: The location name.
                  maxLength: 256
                  example: SF Warehouse
                address:
                  $ref: '#/components/schemas/Address_with_coordinate.v1'
                  description: The physical address and contact information of the location. For Location resources, `first_name` and `last_name` are joined into one contact name on write; on read, the full contact name is returned as `first_name` and `last_name` is empty. The `type` field is accepted by the schema but not used for Location resources — omit it on write; on read it is always empty.
                timezone_identifier:
                  type: string
                  description: The name of the timezone where the location is located, as defined by the [IANA timezone database standard](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).
                  maxLength: 256
                  example: America/New_York
                opening_hours:
                  $ref: '#/components/schemas/Opening_hours.v1'
                  description: The regular opening hours of the location.
                order_processing:
                  type: object
                  additionalProperties: false
                  description: The order processing setting for this location. When `enabled` is `true`, `order_cutoff_time` and `order_processing_duration_days` are required.
                  properties:
                    enabled:
                      type: boolean
                      description: Whether order processing is enabled for this location.
                      example: true
                    order_cutoff_time:
                      type: string
                      description: The daily cutoff time for processing orders in `HH:mm` format.
                      example: '14:00'
                    order_processing_duration_days:
                      type: integer
                      description: The number of business days needed to process an order. Use `0` when fulfillment can be completed within 1 business day.
                      minimum: 0
                      example: 0
                pickup_setting:
                  type: object
                  additionalProperties: false
                  description: The pickup setting for this location. When `enabled` is `true`, `order_processing_duration_seconds_min` and `order_processing_duration_seconds_max` are required.
                  properties:
                    enabled:
                      type: boolean
                      description: Whether pickup is enabled for this location.
                      example: true
                    instructions:
                      type: string
                      description: Pickup instructions shown to the customer.
                      maxLength: 2048
                      example: Please pick up at the front desk.
                    order_processing_duration_seconds_min:
                      type: integer
                      description: The minimum number of seconds needed before the order is ready for pickup.
                      minimum: 0
                      example: 3600
                    order_processing_duration_seconds_max:
                      type: integer
                      description: The maximum number of seconds needed before the order is ready for pickup.
                      minimum: 0
                      example: 7200
            examples:
              Example 1:
                value:
                  id: warehouse_1
                  name: SF Warehouse
                  address:
                    company: AfterShip
                    first_name: John
                    last_name: Doe
                    phone: '+14155551234'
                    email: john@example.com
                    street_1: 123 Main St
                    street_2: Suite 100
                    street_3: ''
                    city: San Francisco
                    state: CA
                    country_region: USA
                    postal_code: '94105'
                    coordinate:
                      latitude: 37.7749
                      longitude: -122.4194
                  timezone_identifier: America/New_York
                  opening_hours:
                    sunday:
                      open: false
                      from: null
                      to: null
                    monday:
                      open: true
                      from: 09:00
                      to: '18:00'
                    tuesday:
                      open: true
                      from: 09:00
                      to: '18:00'
                    wednesday:
                      open: true
                      from: 09:00
                      to: '18:00'
                    thursday:
                      open: true
                      from: 09:00
                      to: '18:00'
                    friday:
                      open: true
                      from: 09:00
                      to: '18:00'
                    saturday:
                      open: false
                      from: null
                      to: null
                  order_processing:
                    enabled: true
                    order_cutoff_time: '14:00'
                    order_processing_duration_days: 0
                  pickup_setting:
                    enabled: true
                    instructions: Please pick up at the front desk.
                    order_processing_duration_seconds_min: 3600
                    order_processing_duration_seconds_max: 7200
        description: ''
      tags:
      - Locations
      x-stoplight:
        id: create-location
    get:
      summary: Get locations
      operationId: get-locations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    type: object
                    properties:
                      locations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Location.v1'
                      pagination:
                        $ref: '#/components/schemas/Pagination.v2'
                      parameter_string:
                        type: string
                        description: A string that includes the request parameters.
                        example: source=manual&page=1&limit=10
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      locations:
                      - id: warehouse_1
                        name: SF Warehouse
                        source: manual
                        address:
                          company: AfterShip
                          first_name: John Doe
                          last_name: ''
                          phone: '+14155551234'
                          email: john@example.com
                          street_1: 123 Main St
                          street_2: Suite 100
                          street_3: ''
                          city: San Francisco
                          state: CA
                          country_region: USA
                          postal_code: '94105'
                          coordinate:
                            latitude: 37.7749
                            longitude: -122.4194
                        timezone_identifier: America/New_York
                        opening_hours:
                          sunday:
                            open: false
                            from: null
                            to: null
                          monday:
                            open: true
                            from: 09:00
                            to: '18:00'
                          tuesday:
                            open: true
                            from: 09:00
                            to: '18:00'
                          wednesday:
                            open: true
                            from: 09:00
                            to: '18:00'
                          thursday:
                            open: true
                            from: 09:00
                            to: '18:00'
                          friday:
                            open: true
                            from: 09:00
                            to: '18:00'
                          saturday:
                            open: false
                            from: null
                            to: null
                        order_processing:
                          enabled: true
                          order_cutoff_time: '14:00'
                          order_processing_duration_days: 0
                        pickup_setting:
                          enabled: true
                          instructions: Please pick up at the front desk.
                          order_processing_duration_seconds_min: 3600
                          order_processing_duration_seconds_max: 7200
                        created_at: '2026-01-01T00:00:00Z'
                        updated_at: '2026-04-24T00:00:00Z'
                      pagination:
                        page: 1
                        limit: 10
                        has_next_page: false
                      parameter_string: source=manual&page=1&limit=10
      description: Get location results with multiple locations.
      parameters:
      - schema:
          type: string
          enum:
          - manual
          - platform
        in: query
        name: source
        description: Filter locations by source. `manual` means locations created through Commerce API. `platform` means locations imported from ecommerce platforms.
      - schema:
          type: integer
          default: 1
          minimum: 1
          maximum: 200
        in: query
        name: page
        description: Current page of the collection. Default is 1.
      - schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 50
        in: query
        name: limit
        description: The maximum number of results to show on a page. Default is 10, maximum is 50.
      tags:
      - Locations
      x-stoplight:
        id: get-locations
  /locations/{id}:
    get:
      summary: Get location by ID
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Location.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: warehouse_1
                      name: SF Warehouse
                      source: manual
                      address:
                        company: AfterShip
                        first_name: John Doe
                        last_name: ''
                        phone: '+14155551234'
                        email: john@example.com
                        street_1: 123 Main St
                        street_2: Suite 100
                        street_3: ''
                        city: San Francisco
                        state: CA
                        country_region: USA
                        postal_code: '94105'
                        coordinate:
                          latitude: 37.7749
                          longitude: -122.4194
                      timezone_identifier: America/New_York
                      opening_hours:
                        sunday:
                          open: false
                          from: null
                          to: null
                        monday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        tuesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        wednesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        thursday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        friday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        saturday:
                          open: false
                          from: null
                          to: null
                      order_processing:
                        enabled: true
                        order_cutoff_time: '14:00'
                        order_processing_duration_days: 0
                      pickup_setting:
                        enabled: true
                        instructions: Please pick up at the front desk.
                        order_processing_duration_seconds_min: 3600
                        order_processing_duration_seconds_max: 7200
                      created_at: '2026-01-01T00:00:00Z'
                      updated_at: '2026-04-24T00:00:00Z'
      operationId: get-location-by-id
      description: Get a location by ID. Use the `id` value returned in a `Location` resource response, such as from `GET /locations`, as this path parameter.
      parameters: []
      tags:
      - Locations
      x-stoplight:
        id: get-location-by-id
    patch:
      summary: Update location by ID
      operationId: update-location-by-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Location.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: warehouse_1
                      name: SF Warehouse
                      source: manual
                      address:
                        company: AfterShip
                        first_name: John Doe
                        last_name: ''
                        phone: '+14155551234'
                        email: john@example.com
                        street_1: 123 Main St
                        street_2: Suite 100
                        street_3: ''
                        city: San Francisco
                        state: CA
                        country_region: USA
                        postal_code: '94105'
                        coordinate:
                          latitude: 37.7749
                          longitude: -122.4194
                      timezone_identifier: America/New_York
                      opening_hours:
                        sunday:
                          open: false
                          from: null
                          to: null
                        monday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        tuesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        wednesday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        thursday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        friday:
                          open: true
                          from: 09:00
                          to: '18:00'
                        saturday:
                          open: false
                          from: null
                          to: null
                      order_processing:
                        enabled: true
                        order_cutoff_time: '14:00'
                        order_processing_duration_days: 0
                      pickup_setting:
                        enabled: true
                        instructions: Please pick up at the front desk.
                        order_processing_duration_seconds_min: 3600
                        order_processing_duration_seconds_max: 7200
                      created_at: '2026-01-01T00:00:00Z'
                      updated_at: '2026-04-24T00:00:00Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: The location name. This field cannot be patched for platform-sourced locations.
                  maxLength: 256
                  example: SF Warehouse
                address:
                  type: object
                  additionalProperties: false
                  description: Patch the address and contact information of the location. The `address` object itself cannot be `null`; omit a field to keep its current value. For platform-sourced locations, only `email` and `phone` can be patched. For Location resources, `first_name` and `last_name` are joined into one contact name on write; on read, the full contact name is returned as `first_name` and `last_name` is empty. The `type` field is accepted by the schema but not used for Location resources — omit it on write; on read it is always empty.
                  properties:
                    company:
                      type: string
                      description: The name of the company associated to the address.
                      maxLength: 256
                      example: AfterShip
                    first_name:
                      type: string
                      description: The first name of the person associated to the address.
                      maxLength: 256
                      example: John
                    last_name:
                      type: string
                      description: The last name of the person associated to the address.
                      maxLength: 256
                      example: Doe
                    phone:
                      type: string
                      description: The phone number of the person associated to the address.
                      maxLength: 256
                      example: '+14155551234'
                    email:
                      type: string
                      description: The email address of the person associated to the address.
                      maxLength: 256
                      example: john@example.com
                    street_1:
                      type: string
                      description: First line of the street address.
                      maxLength: 256
                      example: 123 Main St
                    street_2:
                      type: string
                      description: Second line of the street address.
                      maxLength: 256
                      example: Suite 100
                    street_3:
                      type: string
                      description: Third line of the street address.
                      maxLength: 256
                      example: ''
                    city:
                      type: string
                      description: The location's city, town, or village.
                      maxLength: 256
                      example: San Francisco
                    state:
                      type: string
                      description: The state or region of the location, such as a province, state, or prefecture.
                      maxLength: 256
                      example: CA
                    country_region:
                      type: string
                      description: The address country/region in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.
                      pattern: ^[A-Z]{3}$
                      example: USA
                    postal_code:
                      type: string
                      description: The postal code of the location.
                      maxLength: 256
                      example: '94105'
                    coordinate:
                      type: object
                      additionalProperties: false
                      description: The coordinate of the address. If `coordinate` is provided, both `latitude` and `longitude` are required.
                      required:
                      - latitude
                      - longitude
                      properties:
                        latitude:
                          type: number
                          description: The latitude of the address.
                          example: 37.7749
                        longitude:
                          type: number
                          description: The longitude of the address.
                          example: -122.4194
                timezone_identifier:
                  type: string
                  description: The name of the timezone where the location is located, as defined by the [IANA timezone database standard](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).
                  maxLength: 256
                  example: America/New_York
                opening_hours:
                  $ref: '#/components/schemas/Opening_hours.v1'
                  description: Patch the regular opening hours of the location. The `opening_hours` object itself cannot be `null`. You may provide only the weekdays to update, but each provided weekday object is replaced atomically and must include `open`. When `open` is `false`, `from` and `to` must be `null` or omitted. When `open` is `true`, `from` and `to` must both be provided in `HH:mm` format or both be `null` for 24-hour operation.
                order_processing:
                  type: object
                  additionalProperties: false
                  description: Patch the order processing setting for this location. The `order_processing` object itself cannot be `null`. Omitted fields keep their current values. Sending only `enabled` toggles the setting without clearing `order_cutoff_time` or `order_processing_duration_days`; when enabling order processing, the final setting must include a valid cutoff time and processing duration.
                  properties:
                    enabled:
                      type: boolean
                      description: Whether order processing is enabled for this location.
                      example: true
                    order_cutoff_time:
                      type: string
                      description: The daily cutoff time for processing orders in `HH:mm` format.
                      example: '14:00'
                    order_processing_duration_days:
                      type: integer
                      description: The number of business days needed to process an order. Use `0` when fulfillment can be completed within 1 business day.
                      minimum: 0
                      example: 0
                pickup_setting:
                  type: object
                  additionalProperties: false
                  description: Patch the pickup setting for this location. The `pickup_setting` object itself cannot be `null`. Omitted fields keep their current values. Sending only `enabled` toggles the setting without clearing existing pickup fields; when enabling pickup, the final setting must include valid minimum and maximum processing durations. This field cannot be patched for platform-sourced locations.
                  properties:
                    enabled:
                      type: boolean
                      description: Whether pickup is enabled for this location.
                      example: true
                    instructions:
                      type: string
                      description: Pickup instructions shown to the customer.
                      maxLength: 2048
                      example: Please pick up at the front desk.
                    order_processing_duration_seconds_min:
                      type: integer
                      description: The minimum number of seconds needed before the order is ready for pickup.
                      minimum: 0
                      example: 3600
                    order_processing_duration_seconds_max:
                      type: integer
                      description: The maximum number of seconds needed before the order is ready for pickup.
                      minimum: 0
                      example: 7200
            examples:
              Example 1:
                value:
                  address:
                    city: San Francisco
                  timezone_identifier: America/New_York
                  opening_hours:
                    monday:
                      open: true
                      from: 09:00
                      to: '18:00'
                  order_processing:
                    enabled: true
                    order_cutoff_time: '14:00'
                    order_processing_duration_days: 0
      description: Update a location by ID. Use the `id` value returned in a `Location` resource response, such as from `GET /locations`, as this path parameter. Omit a field to keep its current value. Top-level objects and scalar fields cannot be set to `null`. For platform-sourced locations, only `address.email`, `address.phone`, `timezone_identifier`, `opening_hours`, and `order_processing` can be patched; other fields are managed by the ecommerce platform.
      parameters: []
      tags:
      - Locations
      x-stoplight:
        id: update-location-by-id
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Location ID. Use the `id` value returned in a `Location` resource response, such as from `GET /locations`, as this path parameter.
  /products:
    post:
      summary: Create a product
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20100
                      type: Created
                      message: The request was successful, we created a new resource and the response body contains the representation.
                    data:
                      id: '546735673'
                      store:
                        id: 0ecb8ff7efa84d7d8f763ed7b21851d1
                      title: Power Mobile Phone
                      slug: power-mobile-phone
                      categories:
                      - mobile-phone
                      tags:
                      - mobile-phone
                      image_urls:
                      - https://example.com/product/image.png
                      url: https://example.com/product/image.png
                      published: true
                      description: string
                      variants:
                      - id: '5634477687'
                        available_quantity: 1
                        sku: SKU001
                        title: Power Mobile Phone
                        price: '10'
                        image_urls:
                        - https://example.com/product/image.png
                        compare_at_price: string
                        weight:
                          unit: kg
                          value: 10
                        allow_backorder: true
                        options:
                        - name: color
                          value: white
                      source_created_at: '2021-04-15T20:02:09Z'
                      source_updated_at: '2021-04-15T20:02:09Z'
                      created_at: '2021-04-15T20:02:09Z'
                      updated_at: '2021-04-15T20:02:09Z'
      operationId: create-product
      description: 'Create a product.


        > If you receive an error message stating **"Precondition failed, the store not found."**, please first create a store using the [Create a store](https://www.aftership.com/docs/commerce/2025-04/hadtz8qj5if6w-create-a-store) API.'
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - image_urls
              - variants
              properties:
                id:
                  type: string
                  description: A custom identifier for the product. If not provided, the system will generate a UUID. Must be unique within the store and immutable. You can use this ID to manage the resource in subsequent API calls.
                  maxLength: 128
                  example: my-custom-id-123
                  pattern: ^[a-zA-Z0-9_-]+$
                title:
                  type: string
                  description: The title of the product.
                  maxLength: 1024
                  example: Power Mobile Phone
                slug:
                  type: string
                  description: URL friendly unique identifier for the product.
                  maxLength: 1024
                  example: power-mobile-phone
                categories:
                  type: array
                  description: The categories associated with the product, used for filtering and search purposes.
                  maxItems: 100
                  items:
                    type: string
                    example: mobile-phone
                tags:
                  type: array
                  description: The tags associated with the product, used for filtering and search purposes.
                  maxItems: 100
                  items:
                    type: string
                    example: mobile-phone
                image_urls:
                  type: array
                  description: URLs of the product images.
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 2048
                    example: https://example.com/product/image.png
                url:
                  type: string
                  description: The URL of the product page in your online storefront.
                  maxLength: 2048
                  example: https://example.com/product/
                published:
                  type: boolean
                  description: To indicate whether the product has been published.
                  default: true
                description:
                  type: string
                  description: Description of the product.
                  maxLength: 10240
                variants:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: Product variant information.
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/Product_variant.v1'
                source_created_at:
                  type: string
                  description: The date and time, formatted in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), indicating when the product was created in your e-commerce system.
                  example: '2021-04-15T20:02:09Z'
                source_updated_at:
                  type: string
                  description: The date and time, formatted in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), indicating when the product was updated in your e-commerce system.
                  example: '2021-04-15T20:02:09Z'
            examples:
              Example 1:
                value:
                  id: '546735673'
                  title: Power Mobile Phone
                  slug: power-mobile-phone
                  categories:
                  - mobile-phone
                  tags:
                  - mobile-phone
                  image_urls:
                  - https://example.com/product/image.png
                  url: https://example.com/product/
                  published: true
                  description: string
                  variants:
                  - id: '5634477687'
                    available_quantity: 1
                    sku: string
                    title: Power Mobile Phone
                    price: '10'
                    image_urls:
                    - https://example.com/product/image.png
                    compare_at_price: string
                    weight:
                      unit: kg
                      value: 10
                    allow_backorder: true
                    options:
                    - name: color
                      value: white
                  source_created_at: '2021-04-15T20:02:09Z'
                  source_updated_at: '2021-04-15T20:02:09Z'
        description: ''
      tags:
      - Products
      x-stoplight:
        id: j3pzfhenf72sv
    get:
      summary: Get products
      operationId: get-products
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                    x-stoplight:
                      id: meta_object_id
                  data:
                    type: object
                    x-stoplight:
                      id: data_object_id
                    properties:
                      products:
                        type: array
                        x-stoplight:
                          id: products_array_id
                        items:
                          $ref: '#/components/schemas/Product.v1'
                          x-stoplight:
                            id: product_item_id
                      pagination:
                        $ref: '#/components/schemas/Pagination.v2'
                        x-stoplight:
                          id: pagination_object_id
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      products:
                      - id: product_id_1
                        title: Example Product 1
                        slug: example-product-1
                        published: true
                      - id: product_id_2
                        title: Example Product 2
                        slug: example-product-2
                        published: false
                      pagination:
                        page: 1
                        limit: 10
                        has_next_page: true
      description: Get product results with multiple products.
      parameters:
      - schema:
          type: integer
          default: 1
          minimum: 1
          maximum: 200
        in: query
        name: page
        description: Page number
      - schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 50
        in: query
        name: limit
        description: Number of products per page
      - schema:
          type: string
          items:
            type: string
          maxItems: 50
        in: query
        name: ids[]
        description: Array of product ID
      - schema:
          type: string
          items:
            type: string
          maxItems: 50
        in: query
        name: slugs[]
        description: Array of product slug
      - schema:
          type: string
        in: query
        name: search
        description: Search term (fuzzy search in title)
      - schema:
          type: boolean
        in: query
        name: published
        description: Filter by published status
      - $ref: '#/components/parameters/as-store-id'
      tags:
      - Products
      x-stoplight:
        id: rloip27l58tm1
  /products/{id}:
    get:
      summary: Get product by ID
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: '546735673'
                      store:
                        id: 0ecb8ff7efa84d7d8f763ed7b21851d1
                      title: Power Mobile Phone
                      slug: power-mobile-phone
                      categories:
                      - mobile-phone
                      tags:
                      - mobile-phone
                      image_urls:
                      - https://example.com/product/image.png
                      url: https://example.com/product/image.png
                      published: true
                      description: string
                      variants:
                      - id: '5634477687'
                        available_quantity: 1
                        sku: SKU001
                        title: Power Mobile Phone
                        price: '10'
                        image_urls:
                        - https://example.com/product/image.png
                        compare_at_price: string
                        weight:
                          unit: kg
                          value: 10
                        allow_backorder: true
                        options:
                        - name: color
                          value: white
                      source_created_at: '2021-04-15T20:02:09Z'
                      source_updated_at: '2021-04-15T20:02:09Z'
                      created_at: '2021-04-15T20:02:09Z'
                      updated_at: '2021-04-15T20:02:09Z'
      operationId: get-product-by-id
      description: Get a product by id.
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      tags:
      - Products
      x-stoplight:
        id: 5pvl2tnkxwt0x
    patch:
      summary: Update product by ID
      operationId: update-product-by-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20000
                      type: OK
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: '546735673'
                      store:
                        id: 0ecb8ff7efa84d7d8f763ed7b21851d1
                      title: Power Mobile Phone
                      slug: power-mobile-phone
                      categories:
                      - mobile-phone
                      tags:
                      - mobile-phone
                      image_urls:
                      - https://example.com/product/image.png
                      url: https://example.com/product/image.png
                      published: true
                      description: string
                      variants:
                      - id: '5634477687'
                        available_quantity: 1
                        sku: SKU001
                        title: Power Mobile Phone
                        price: '10'
                        image_urls:
                        - https://example.com/product/image.png
                        compare_at_price: string
                        weight:
                          unit: kg
                          value: 10
                        allow_backorder: true
                        options:
                        - name: color
                          value: white
                      source_created_at: '2021-04-15T20:02:09Z'
                      source_updated_at: '2021-04-15T20:02:09Z'
                      created_at: '2021-04-15T20:02:09Z'
                      updated_at: '2021-04-15T20:02:09Z'
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      description: Update product by ID.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the product.
                  maxLength: 1024
                  example: Power Mobile Phone
                slug:
                  type: string
                  description: URL friendly unique identifier for the product.
                  maxLength: 1024
                  example: power-mobile-phone
                categories:
                  type: array
                  description: The categories associated with the product, used for filtering and search purposes.
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 256
                    example: mobile-phone
                tags:
                  type: array
                  description: The tags associated with the product, used for filtering and search purposes.
                  maxItems: 100
                  items:
                    type: string
                    example: mobile-phone
                image_urls:
                  type: array
                  description: URLs of the product images.
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 2048
                    example: https://example.com/product/image.png
                url:
                  type: string
                  description: The URL of the product page in your online storefront.
                  maxLength: 2048
                  example: https://example.com/product/
                published:
                  type: boolean
                  description: To indicate whether the product has been published.
                description:
                  type: string
                  description: Description of the product.
                  maxLength: 10240
                source_updated_at:
                  type: string
                  description: The date and time, formatted in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), indicating when the product was updated in your e-commerce system.
                  example: '2021-04-15T20:02:09Z'
                variants:
                  type: array
                  x-stoplight:
                    id: 8pemo4er5lll6
                  description: Array of product variants. When provided, all existing variants will be replaced by this array. Any variants not included in the request will be deleted.
                  items:
                    $ref: '#/components/schemas/Product_variant.v1'
                    x-stoplight:
                      id: 3adlhgb76quwh
            examples:
              Example 1:
                value:
                  title: Power Mobile Phone
                  slug: power-mobile-phone
                  categories:
                  - mobile-phone
                  tags:
                  - mobile-phone
                  image_urls:
                  - https://example.com/product/image.png
                  url: https://example.com/product/
                  published: true
                  description: string
                  source_updated_at: '2021-04-15T20:02:09Z'
      tags:
      - Products
      x-stoplight:
        id: sk8tcmdv5qhz8
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: The ID of the product.
  /products/{id}/variants:
    post:
      summary: Create a new product variant
      description: 'Create a new variant for the specified product. '
      tags:
      - Products
      operationId: create-product-variant
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product_variant.v1'
      responses:
        '201':
          description: Variant created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    type: object
                    properties:
                      variant:
                        $ref: '#/components/schemas/Product_variant.v1'
  /products/{id}/variants/{variant_id}:
    get:
      summary: Get variant by ID
      description: Get a specific variant of a product by its ID.
      tags:
      - Products
      operationId: get-product-variant
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product_variant.v1'
    patch:
      summary: Update product variant
      description: Update a specific variant of a product by its ID.
      tags:
      - Products
      operationId: update-product-variant
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                available_quantity:
                  type: integer
                  description: Available quantity of the product variant.
                  example: 1
                sku:
                  type: string
                  description: The product SKU of the product variant.
                  maxLength: 1024
                  example: SKU001
                title:
                  type: string
                  description: The title of the product variant.
                  maxLength: 1024
                  example: Power Mobile Phone
                price:
                  type: string
                  description: The price of the product variant.
                  maxLength: 100
                  example: '10'
                image_urls:
                  type: array
                  maxItems: 100
                  description: The product image URL of the product variant.
                  items:
                    type: string
                    maxLength: 1024
                    example: https://example.com/product/image.png
                compare_at_price:
                  type: string
                  description: The original price of the item before an adjustment or a sale.
                  maxLength: 100
                weight:
                  $ref: '#/components/schemas/Weight.v1'
                  description: The weight information of the product variant.
                allow_backorder:
                  type: boolean
                  description: To specify whether customers are permitted to place an order for this out-of-stock product variant.
                options:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: The custom product variant properties, such as size, color, and material.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The field name of the custom product property.
                        maxLength: 256
                        example: color
                      value:
                        type: string
                        description: The value of the custom product property.
                        maxLength: 256
                        example: white
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product_variant.v1'
    delete:
      summary: Delete product variant
      description: Delete a specific variant of a product by its ID.
      tags:
      - Products
      operationId: delete-product-variant
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Product_variant.v1'
  /orders:
    post:
      summary: Create an order
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                  data:
                    $ref: '#/components/schemas/Order.v1'
              examples:
                Example 1:
                  value:
                    meta:
                      code: 20100
                      type: Created
                      message: The request was successfully processed by AfterShip.
                    data:
                      id: '5187092316403'
                      store:
                        id: 0ecb8ff7efa84d7d8f763ed7b21851d1
                      name: '#1086'
                      number: '1086'
                      currency: HKD
                      status: open
                      financial_status: unpaid
                      fulfillment_status: unfulfilled
                      order_total: '97'
                      shipping_total: '5'
                      tax_total: '10'
                      discount_total: '1'
                      subtotal: '90'
                      items:
                      - id: '13097711141107'
                        sku: SKU001
                        quantity: 1
                        unit_weight:
                          unit: kg
                          value: 10
                        unit_price:
                          currency: USD
                          amount: '10'
                        product_title: Power Mobile Phone
                        product_variant_title: Power Mobile Phone Pro
                        discount: '10'
                        tax: '10'
                        product_id: '8021450916083'
                        product_variant_id: '43768285298931'
                        hs_code: '554521'
                        origin_country_region: USA
                        image_urls:
                        - https://www.example.com/product/phone/image.jpg
                        product_tags:
                        - mobile-phone
                        product_categories:
                        - mobile-phone
                        returnable_quantity: 1
                      note: Created by AfterShip
                      source_created_at: '2021-04-15T20:02:09Z'
                      source_updated_at: '2021-04-16T20:02:09Z'
                      created_at: '2021-04-15T20:02:09Z'
                      updated_at: '2021-04-16T20:02:09Z'
                      customer:
                        id: '5127837778090'
                        first_name: John
                        last_name: Doe
                        emails:
                        - john.doe@example.com
                        locale: en-US
                        phones:
                        - '+11234567890'
                      shipping_address:
                        type: business
                        street_1: 1234 Elm Street
                        street_2: Apt 5
                        street_3: ''
                        city: New York
                        state: NY
                        postal_code: '10001'
                        country_region: USA
                        company: My Company
                        first_name: John
                        last_name: Doe
                        email: john.doe@example.com
                        phone: '+11234567890'
                      billing_address:
                        type: business
                        street_1: 1234 Elm Street
                        street_2: Apt 5
                        street_3: ''
                        city: New York
                        state: NY
                        postal_code: '10001'
                        country_region: USA
                        company: My Company
                        first_name: John
                        last_name: Doe
                        email: john.doe@example.com
                        phone: '+11234567890'
                      tags:
                      - mobile-phone
                      shipping_method: standard shipping
                      delivery_method: shipping
                      pickup_location:
                        location_id: string
                        address:
                          type: business
                          street_1: 1234 Elm Street
                          street_2: Apt 5
                          street_3: ''
                          city: New York
                          state: NY
                          postal_code: '10001'
                          country_region: USA
                          company: My Company
                          first_name: John
                          last_name: Doe
                          email: john.doe@example.com
                          phone: '+11234567890'
                          coordinate:
                            latitude: 43
                            longitude: -75
                        opening_hours:
                          sunday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          monday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          tuesday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          wednesday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          thursday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          friday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                          saturday:
                            open: true
                            from: '10:30'
                            to: '20:30'
                      pickup_info:
                        instructions: string
                        estimated_ready_for_pickup_at:
                          min: '2019-08-24T14:15:22Z'
                          max: '2019-08-24T14:15:22Z'
                        pickup_deadline_at: '2019-08-24T14:15:22Z'
      operationId: create-order
      description: "Create an order. \n\n> Please refer to the common scenario documentation for the usage of AfterShip Tracking, Shipping and Returns.\n\n> If you receive **41204 error (The store could not be found)**, please create a store with the [Create a store](https://www.aftership.com/docs/commerce/2025-04/hadtz8qj5if6w-create-a-store) endpoint before calling this API.\n\n\n<div style=\"visibility:hidden; height: 0\">[url](../docs/common_scenarios/tracking/bopis.md)</div>"
      parameters:
      - $ref: '#/components/parameters/as-store-id'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - currency
              - number
              - status
              - order_total
              - items
              - delivery_method
              properties:
                id:
                  type: string
                  description: A custom identifier for the order. If not provided, the system will generate a UUID. Must be unique within the store and immutable. You can use this ID to manage the resource in subsequent API calls.
                  maxLength: 128
                  example: my-custom-id-123
                  pattern: ^[a-zA-Z0-9_-]+$
                  x-stoplight:
                    id: mjrpj72to49gw
                name:
                  type: string
                  description: The order name.
                  maxLength: 256
                  example: '#1086'
                currency:
                  type:
                  - string
                  description: Specifies the currency for the order, adhering to the [ISO 4217 Currency Codes standard](https://en.wikipedia.org/wiki/ISO_4217).
                  example: USD
                  pattern: ^[A-Z]{3}$
                number:
                  type: string
                  description: The order number.
                  maxLength: 64
                  example: '1086'
                status:
                  type: string
                  enum:
                  - open
                  - closed
                  - canceled
                  description: The status of the order.
                financial_status:
                  type:
                  - string
                  - 'null'
                  enum:
                  - partially_paid
                  - paid
                  - partially_refunded
                  - refunded
                  - unpaid
                  description: The status of payments associated with the order. Defaults to `null` if not provided.
                fulfillment_status:
                  type:
                  - string
                  - 'null'
                  enum:
                  - unfulfilled
                  - partially_fulfilled
                  - fulfilled
                  description: 'The fulfillment status associated with the order. If not provided, this value is determined automatically. Since fulfillment has not been created at the time of order creation, it defaults to unfulfilled.


                    If you provide a value for this field when creating an order, you are responsible for updating the status manually from then onward. If you want AfterShip to manage the status automatically, do not provide this field when creating orders.'
                order_total:
                  type: string
                  description: "Final amount paid by the customer, including of charges.\n\nFormula: \n`order_total = subtotal + shipping_total + tax_total`"
                  maxLength: 100
                  example: '97'
                subtotal:
                  type: string
                  description: "Total after discounts, excluding taxes and shipping\n\nFormula: \n`subtotal = sum of all items' price`\n\n`1 item price = items.*.unit_price * items.*.quantity - items.*.discount`"
                  maxLength: 100
                  example: '90'
                shipping_total:
                  type: string
                  description: The total shipping fee applied to the price of the order.
                  maxLength: 100
                  example: '5'
                tax_total:
                  type: string
                  description: The sum of all the taxes applied to the order.
                  maxLength: 100
                  example: '10'
                discount_total:
                  type: string
                  description: The total discounts applied to the order. The value should be equal to the sum of all item discounts.
                  maxLength: 100
                  example: '1'
                items:
                  type: array
                  description: Purchased items of the order.
                  maxItems: 300
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/Order_item.v1'
                note:
                  type: string
                  description: A note that the shop owner can optionally attach to the order.
                  maxLength: 5000
                  example: Created by AfterShip
                source_created_at:
                  type: string
                  description: The date and time, formatted in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), indicating when the order was created in your e-commerce system.
                  example: '2021-04-15T20:02:09Z'
                source_updated_at:
                  type: string
                  description: The date and time, formatted in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), indicating when the order was updated in your e-commerce system.
                  example: '2021-04-16T20:02:09Z'
                customer:
                  $ref: '#/components/schemas/Customer.v1'
                  description: Customer information of the order.
                shipping_address:
                  $ref: '#/components/schemas/Address.v1'
                  description: Shipping address of the order.
                billing_address:
                  $ref: '#/components/schemas/Address.v1'
                  description: Billing address of the order.
                tags:
                  type: array
                  description: Tags attached to the order.
                  maxItems: 100
                  items:
                    type: string
                    example: mobile-phone
                shipping_method:
                  type: string
                  description: The name of the shipping method.
                  maxLength: 256
                  example: standard shipping
                delivery_method:
                  type: string
                  x-stoplight:
                    id: ewm9fia1h0hfj
                  enum:
                  - shipping
                  - pickup
                  description: 'Delivery method of the order.


                    For orders requiring shipping to buyers, please specify `shipping`. For Buy Online, Pick Up In Store (BOPIS) orders, please specify `pickup`.


                    For further details on pickup / BOPIS orders, refer to our comprehensive [BOPIS introduction page](../docs/common_scenarios/tracking/bopis.md).

                    '
                  example: shipping
                pickup_location:
                  type: object
                  x-stoplight:
                    id: 2oi1vnzlgtdc3
                  description: 'To indicate the pickup location of the order when the delivery method of the order is `pickup`.


                    For further details on pickup / BOPIS orders, refer to our comprehensive [BOPIS introduction page](../docs/common_scenarios/tracking/bopis.md).'
                  required:
                  - location_id
                  properties:
                    location_id:
                      type: string
                      x-stoplight:
                        id: s961j2vomx6rx
                      description: The unique identifier for the address. You can find or create the corresponding value [here](https://organization.automizely.com/warehouses).
                      example: b1cd63f641844a8e94208bad3c011ea3
                pickup_info:
                  $ref: '#/components/schemas/Pickup.v1'
                  x-stoplight:
                    id: xuy8sphna6ej7
                  description: 'To indicate the detailed pickup instruction of the order when the delivery method of the order is `pickup`.


                    For further details on pickup / BOPIS orders, refer to our comprehensive [BOPIS introduction page](../docs/common_scenarios/tracking/bopis.md).'
                status_timestamps:
                  $ref: '#/components/schemas/Status_timestamps.v1'
                  x-stoplight:
                    id: 8vvvtyweol0o1
                custom_fields:
                  $ref: '#/components/schemas/Order_custom_fields.v1'
                  x-stoplight:
                    id: ep64tykxqyu8q
            examples:
              Example 1:
                value:
                  id: '5187092316403'
                  name: '#1086'
                  number: '1086'
                  currency: USD
                  status: open
                  financial_status: partially_paid
                  fulfillment_status: unfulfilled
                  order_total: '97'
                  shipping_total: '5'
                  tax_total: '10'
                  discount_total: '1'
                  subtotal: '90'
                  items:
                  - id: '13097711141107'
                    sku: SKU001
                    quantity: 1
                    unit_weight:
                      unit: kg
                      value: 10
                    unit_price:
                      currency: USD
                      amount: '10'
                    product_title: Power Mobile Phone
                    product_variant_title: Power Mobile Phone Pro
                    discount: '10'
                    tax: '10'
                    product_id: '8021450916083'
                    product_variant_id: '43768285298931'
                    hs_code: '554521'
                    origin_country_region: USA
                    image_urls:
                    - https://www.example.com/product/phone/image.jpg
                    product_tags:
                    - mobile-phone
                    product_categories:
                    - mobile-phone
                    returnable_quantity: 1
                  note: Created by AfterShip
                  source_created_at: '2021-04-15T20:02:09Z'
                  source_updated_at: '2021-04-16T20:02:09Z'
                  customer:
                    id: '5127837778090'
                    first_name: John
                    last_name: Doe
                    emails:
                    - john.doe@example.com
                    locale: en-US
                    phones:
                    - '+11234567890'
                  shipping_address:
                    type: business
                    street_1: 1234 Elm Street
                    street_2: Apt 5
                    street_3: ''
                    city: New York
                    state: NY
                    postal_code: '10001'
                    country_region: USA
                    company: My Company
                    first_name: John
                    last_name: Doe
                    email: john.doe@example.com
                    phone: '+11234567890'
                  billing_address:
                    type: business
                    street_1: 1234 Elm Street
                    street_2: Apt 5
                    street_3: ''
                    city: New York
                    state: NY
                    postal_code: '10001'
                    country_region: USA
                    company: My Company
                    first_name: John
                    last_name: Doe
                    email: john.doe@example.com
                    phone: '+11234567890'
                  tags:
                  - mobile-phone
                  shipping_method: standard shipping
                  delivery_method: shipping
                  pickup_location:
                    location_id: b1cd63f641844a8e94208bad3c011ea3
                  pickup_info:
                    instructions: string
                    estimated_ready_for_pickup_at:
                      min: '2019-08-24T14:15:22Z'
                      max: '2019-08-24T14:15:22Z'
                    pickup_deadline_at: '2019-08-24T14:15:22Z'
      x-stoplight:
        id: hwj8tr3xn41rq
    get:
      summary: Get orders
      operationId: get-orders
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v1'
                    x-stoplight:
                      id: uhj872nkb4v0x
                  data:
                    type: object
                    x-stoplight:
                      id: zfgwol14rqk1u
                    properties:
                      orders:
                        type: array
                        x-stoplight:
                          id: e5ryg71wgv6j0
                        minItems: 0
                        maxItems: 50
                        items:
                          $ref: '#/components/schemas/Order.v1'
                          x-stoplight:
                            id: dw6s26g5cmgjt
                      pagination:
                        $ref: '#/components/schemas/Pagination.v2'
[...]
