openapi: 3.1.0
info:
  title: API Overview
  version: '1.0'
  summary: API Overview
  contact:
    name: AfterShip Support
    url: https://www.aftership.com/contact-us
    email: support@aftership.com
  termsOfService: https://www.aftership.com/legal/terms-of-service
  description: '> OAS Schema can be downloaded [here](https://stoplight.io/api/v1/projects/automizely/docs-core-postmenapi-com/nodes/reference/api.v3.json?branch=master&deref=optimizedBundle)'
servers:
- description: Sandbox
  url: https://sandbox-api.aftership.com/postmen/v3
- url: https://api.aftership.com/postmen/v3
  description: Production
paths:
  /labels:
    get:
      summary: Get labels
      responses:
        '200':
          description: get labels.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      next_token: eyJjcmVhdGVkX2F0IjoiMjAxNS0xMS0y0000000000oyMC4wNjRaIiwiaWQiOiJlMGU1NGQ3My1iN2Qz0000000000kzZi1lMjgwNzc1ZDdlMDUiLCJ1c2VyX2lkIjoiN0000000000tNjIyNS00ZTBiLTg5ZTQtZTM3N2M3YWM5ZDk4In0=
                      limit: 20
                      created_at_min: '2015-11-26T08:49:15+00:00'
                      created_at_max: '2015-11-27T08:49:15+00:00'
                      labels:
                      - id: ca62aa0d-e8b2-4ea7-b3b1-ee6711d8d7c3
                        status: created
                        tracking_numbers:
                        - 1ZV8E0536793432874
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 14.5
                            unit: kg
                          total_charge:
                            amount: 1168.06
                            currency: HKD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: ups
                            description: ups (Runscope)
                          service_type: ups_expedited
                          service_name: UPS Expedited
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:48:31+00:00'
                        updated_at: '2015-11-27T08:48:35+00:00'
                      - id: de57ca7e-0ca2-4bd9-8e25-cd9502dc66ed
                        status: created
                        tracking_numbers:
                        - '8149526918288889'
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 2
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: hermesworld
                            description: hermesworld (Runscope)
                          service_type: hermesworld_standard
                          service_name: Standard
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:47:20+00:00'
                        updated_at: '2015-11-27T08:47:22+00:00'
                      - id: 72393fe3-be8e-4a7a-8434-1f0b5b56c09e
                        status: cancelled
                        tracking_numbers:
                        - 0470110200793101997414
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge:
                            amount: 16.3
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: endicia
                            description: endicia (Runscope)
                          service_type: endicia_priority_mail_express
                          service_name: Endicia Priority Mail Express
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: 1
                          detailed_charges: []
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:46:56+00:00'
                        updated_at: '2015-11-27T08:47:02+00:00'
                      - id: b69a27fc-a025-4d9b-a122-e009024d7a0c
                        status: created
                        tracking_numbers:
                        - '0020165036'
                        files:
                          label:
                            paper_size: 4x8
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 3.307
                            unit: lb
                          total_charge:
                            amount: 0
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: dhl
                            description: dhl (Runscope)
                          service_type: dhl_express_0900
                          service_name: DHL Express 0900
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:46:39+00:00'
                        updated_at: '2015-11-27T08:46:43+00:00'
                      - id: b8463988-114a-43ff-86f8-66451a20688c
                        status: created
                        tracking_numbers: []
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9
                            unit: lb
                          total_charge:
                            amount: 34.82
                            currency: CAD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: canpar
                            description: canpar (Runscope)
                          service_type: canpar_ground
                          service_name: GROUND
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: '2015-12-02T05:00:00+00:00'
                          transit_time: 3
                          detailed_charges:
                          - type: Freight Charge
                            charge:
                              amount: 30.41
                              currency: CAD
                          - type: Residential Address Charge
                            charge:
                              amount: 2.75
                              currency: CAD
                          - type: GST
                            charge:
                              amount: 1.66
                              currency: CAD
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:44:54+00:00'
                        updated_at: '2015-11-27T08:44:57+00:00'
                      - id: 97c1ce96-1a07-49d4-a4f6-5f5aa0fd2511
                        status: created
                        tracking_numbers:
                        - '984190007700204439'
                        files:
                          label:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 1.3
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: asendia-hk
                            description: asendia-hk (Runscope)
                          service_type: asendia-hk_reg
                          service_name: Registered Mail
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:44:22+00:00'
                        updated_at: '2015-11-27T08:44:23+00:00'
                      - id: d2875fe7-b559-47ff-ae27-c0836aacc586
                        status: created
                        tracking_numbers:
                        - '794666490930'
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 30
                            unit: lb
                          total_charge:
                            amount: 13.56
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: fedex
                            description: fedex (Runscope)
                          service_type: fedex_ground
                          service_name: Fedex Ground
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges:
                          - type: base
                            charge:
                              amount: 13.01
                              currency: USD
                          - type: fedex_ground_fuel
                            charge:
                              amount: 0.55
                              currency: USD
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:42:06+00:00'
                        updated_at: '2015-11-27T08:42:10+00:00'
                      - id: e6c8b70c-f367-4fd6-a6f1-5308aa8fd8a0
                        status: created
                        tracking_numbers:
                        - PREF10000000000148
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9.54
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: spsr
                            description: spsr (Runscope)
                          service_type: spsr_gepintl
                          service_name: GEPINTL
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:42:06+00:00'
                        updated_at: '2015-11-27T08:42:06+00:00'
                      - id: cc96267e-95aa-4594-a9db-92c51e499f70
                        status: cancelled
                        tracking_numbers:
                        - PREF10000000000147
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9.54
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: spsr
                            description: spsr (Runscope)
                          service_type: spsr_gepintl
                          service_name: GEPINTL
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:41:02+00:00'
                        updated_at: '2015-11-27T08:41:05+00:00'
                      - id: 478d1ae0-9a26-4f97-8da2-9b946f711f6c
                        status: created
                        tracking_numbers:
                        - PREF10000000000146
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9.54
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: spsr
                            description: spsr (Runscope)
                          service_type: spsr_gepintl
                          service_name: GEPINTL
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:40:40+00:00'
                        updated_at: '2015-11-27T08:40:47+00:00'
                      - id: c11a5651-7683-4eb7-be6e-daef215f24fd
                        status: created
                        tracking_numbers:
                        - GE874105291HK
                        files:
                          label:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge:
                            amount: 227.75
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: tnt
                            description: tnt (Runscope)
                          service_type: tnt_economy_express
                          service_name: TNT Economy Express
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: 'P13:RATEID: POSTMEN-REF - STANDARD RATES.'
                        created_at: '2015-11-27T08:30:51+00:00'
                        updated_at: '2015-11-27T08:30:57+00:00'
                      - id: 1306e565-fc50-4a65-946f-663a9ffcf80a
                        status: manifested
                        tracking_numbers:
                        - RP200381450SG
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 1.2
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: quantium
                            description: quantium (Runscope)
                          service_type: quantium_registered
                          service_name: ezyparcels Registered
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:29:59+00:00'
                        updated_at: '2015-11-27T08:30:22+00:00'
                      - id: bfda1bc6-4e9b-4703-a3ce-dd5f8189a76b
                        status: created
                        tracking_numbers:
                        - USERREF3629F4C04BEDEEA229
                        files:
                          label:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9.54
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: dhl-global-mail-asia
                            description: dhl-global-mail-asia (Runscope)
                          service_type: dhl-global-mail-asia_plt
                          service_name: Parcel Direct
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:29:38+00:00'
                        updated_at: '2015-11-27T08:29:38+00:00'
                      - id: 821183a2-92df-49ab-bb7c-4770b7aceb05
                        status: created
                        tracking_numbers: []
                        files:
                          label:
                            paper_size: 4x4
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: dpd-uk
                            description: dpd-uk (Runscope)
                          service_type: dpd-uk_parcel_2d
                          service_name: Parcel - Two Day
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:29:35+00:00'
                        updated_at: '2015-11-27T08:29:41+00:00'
                      - id: 2eec8347-8518-45ce-88af-03f4054341b9
                        status: created
                        tracking_numbers:
                        - BLVS1300010000121750
                        files:
                          label:
                            paper_size: 4x4
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 2
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: bpost-international
                            description: bpost-international (Runscope)
                          service_type: bpost-international_minipakeu
                          service_name: MinipakEU
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:29:29+00:00'
                        updated_at: '2015-11-27T08:29:36+00:00'
                      - id: b3d75a21-9d27-4b1b-9592-485667f59e3f
                        status: cancelled
                        tracking_numbers: []
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 9
                            unit: lb
                          total_charge:
                            amount: 34.82
                            currency: CAD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: canpar
                            description: canpar (Runscope)
                          service_type: canpar_ground
                          service_name: GROUND
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: '2015-12-02T05:00:00+00:00'
                          transit_time: 3
                          detailed_charges:
                          - type: Freight Charge
                            charge:
                              amount: 30.41
                              currency: CAD
                          - type: Residential Address Charge
                            charge:
                              amount: 2.75
                              currency: CAD
                          - type: GST
                            charge:
                              amount: 1.66
                              currency: CAD
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:25:07+00:00'
                        updated_at: '2015-11-27T08:25:13+00:00'
                      - id: c841654b-5a2a-4888-a369-56bac91d09d5
                        status: manifested
                        tracking_numbers:
                        - RP200381432SG
                        files:
                          label:
                            paper_size: default
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 1.2
                            unit: kg
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: quantium
                            description: quantium (Runscope)
                          service_type: quantium_registered
                          service_name: ezyparcels Registered
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:25:04+00:00'
                        updated_at: '2015-11-27T08:30:22+00:00'
                      - id: 22e406f5-e4d2-4a1d-9b65-a98557fca6eb
                        status: created
                        tracking_numbers:
                        - BN58705188
                        files:
                          label: null
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: parcelled-in
                            description: parcelled-in (Runscope)
                          service_type: parcelled-in_rush
                          service_name: Rush
                          pickup_deadline: '2015-11-27T02:30:00'
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:24:42+00:00'
                        updated_at: '2015-11-27T08:24:42+00:00'
                      - id: 9b4b8c9c-41d2-467b-b4b2-97834046b7c7
                        status: manifested
                        tracking_numbers:
                        - 0470110200882101123951
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge:
                            amount: 16.3
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: endicia
                            description: endicia (Runscope)
                          service_type: endicia_priority_mail_express
                          service_name: Endicia Priority Mail Express
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: 1
                          detailed_charges: []
                          error_message: null
                          info_message: null
                        created_at: '2015-11-27T08:24:39+00:00'
                        updated_at: '2015-11-27T08:24:52+00:00'
                      - id: e0e54d73-b7d3-4972-893f-e280775d7e05
                        status: created
                        tracking_numbers:
                        - '49950452315'
                        files:
                          label:
                            paper_size: 4x6
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice:
                            paper_size: a4
                            url: https://sandbox-download.postmen.com/invoice/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight: null
                          total_charge: null
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: purolator
                            description: purolator (Runscope)
                          service_type: purolator_ground_us
                          service_name: Ground US
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: No rate quotes returned from carrier.
                        created_at: '2015-11-27T08:24:20+00:00'
                        updated_at: '2015-11-27T08:24:23+00:00'
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    type: object
                    properties:
                      next_token:
                        type: string
                      limit:
                        type: integer
                      created_at_min:
                        type: string
                      created_at_max:
                        type: string
                      labels:
                        type: array
                        description: This array contains all labels data. Please refer to [label](../model/resource/label.v3.json)  object for label object details.
                        items:
                          $ref: '#/components/schemas/Label.v3'
              examples:
                example-1:
                  value:
                    meta:
                      code: 200
                      type: OK
                      message: Everything worked as expected.
                    data:
                      next_token: string
                      limit: 0
                      created_at_min: string
                      created_at_max: string
                      labels:
                      - id: 3318b97b-150f-4205-840d-a6d966b9e0ea
                        status: created
                        tracking_numbers:
                        - '3884930103'
                        files:
                          label:
                            paper_size: 4x8
                            url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                            file_type: pdf
                          invoice: null
                          customs_declaration: null
                          manifest: null
                        rate:
                          charge_weight:
                            value: 3.307
                            unit: lb
                          total_charge:
                            amount: 0
                            currency: USD
                          shipper_account:
                            id: 00000000-0000-0000-0000-000000000000
                            slug: dhl
                            description: DHL Sandbox
                          service_type: dhl_express_0900
                          service_name: DHL Express 0900
                          pickup_deadline: null
                          booking_cut_off: null
                          delivery_date: null
                          transit_time: null
                          detailed_charges: []
                          error_message: null
                          info_message: null
                        created_at: '2015-09-09T07:54:13.024Z'
                        updated_at: '2015-09-09T07:54:24.569Z'
                        ship_date: '2015-09-09'
      operationId: get-labels
      description: "Get labels.\n\n<div style=\"visibility:hidden; height: 0\">\nThis array contains all labels data. Please refer to [label](../model/resource/label.v3.json) object for label object details. \n</div>"
      parameters:
      - schema:
          type: string
        in: query
        name: shipper_account_id
        description: Shipper account ID
      - schema:
          type: string
          enum:
          - creating
          - created
          - cancelling
          - cancelled
          - manifesting
          - manifested
          - failed
        in: query
        name: status
        description: Label status
      - schema:
          type: string
        in: query
        name: limit
        description: Number of records per page
      - schema:
          type: string
        in: query
        name: created_at_min
        description: 'Start date and time of the record created (format YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DDTHH:MM:SS+00:00, default: 24hrs ago)'
      - schema:
          type: string
        in: query
        name: created_at_max
        description: 'End date and time of the record created (format YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DDTHH:MM:SS+00:00, default: NOW())'
      - schema:
          type: string
        in: query
        name: s
        description: Partial search of tracking_number or reference
      - schema:
          type: string
        in: query
        name: next_token
        description: Next token
      - schema:
          type: string
          example: application/json
          default: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      x-internal: false
      tags:
      - Labels
      security:
      - as-api-key: []
    parameters: []
    post:
      summary: Create a label
      operationId: post-labels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      id: 3318b97b-150f-4205-840d-a6d966b9e0ea
                      status: created
                      tracking_numbers:
                      - '3884930103'
                      files:
                        label:
                          paper_size: 4x8
                          url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                          file_type: pdf
                        invoice: null
                        customs_declaration: null
                        manifest: null
                      rate:
                        charge_weight:
                          value: 3.307
                          unit: lb
                        total_charge:
                          amount: 0
                          currency: USD
                        shipper_account:
                          id: 00000000-0000-0000-0000-000000000000
                          slug: dhl
                          description: DHL Sandbox
                        service_type: dhl_express_0900
                        service_name: DHL Express 0900
                        pickup_deadline: null
                        booking_cut_off: null
                        delivery_date: null
                        transit_time: null
                        detailed_charges: []
                        error_message: null
                        info_message: null
                      created_at: '2015-09-09T07:54:13.024Z'
                      updated_at: '2015-09-09T07:54:24.569Z'
                      ship_date: '2015-09-09'
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    $ref: '#/components/schemas/Label.v3'
              examples:
                example-1:
                  value:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      id: 3318b97b-150f-4205-840d-a6d966b9e0ea
                      status: created
                      tracking_numbers:
                      - '3884930103'
                      files:
                        label:
                          paper_size: 4x8
                          url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                          file_type: pdf
                        invoice: null
                        customs_declaration: null
                        manifest: null
                      rate:
                        charge_weight:
                          value: 3.307
                          unit: lb
                        total_charge:
                          amount: 0
                          currency: USD
                        shipper_account:
                          id: 00000000-0000-0000-0000-000000000000
                          slug: dhl
                          description: DHL Sandbox
                        service_type: dhl_express_0900
                        service_name: DHL Express 0900
                        pickup_deadline: null
                        booking_cut_off: null
                        delivery_date: null
                        transit_time: null
                        detailed_charges: []
                        error_message: null
                        info_message: null
                      created_at: '2022-05-09T07:54:13.024Z'
                      updated_at: '2022-09-09T07:54:24.569Z'
                      ship_date: '2022-09-09'
                    custom_fields:
                      ship_code: '01'
      description: 'Create a label.


        <div style="visibility:hidden; height: 0">This array contains service_options object. Please refer to [all service options](../docs/enum/all-service-options.md) and [service options list](../docs/enum/service-types-and-service-options-lists.md) for details.

        This array contains reference data. Please refer to [reference](../model/premitive/reference.v3.json)  object for label object details.</div>'
      parameters:
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  billing:
                    paid_by: shipper
                  customs:
                    billing:
                      paid_by: recipient
                    terms_of_trade: ddu
                    purpose: gift
                  return_shipment: false
                  is_document: false
                  service_type: dhl_express_worldwide
                  paper_size: 4x8
                  shipper_account:
                    id: 00000000-0000-0000-0000-000000000000
                  references:
                  - referenceid
                  shipment:
                    parcels:
                    - description: Food XS
                      box_type: custom
                      weight:
                        value: 2
                        unit: kg
                      dimension:
                        width: 20
                        height: 40
                        depth: 40
                        unit: cm
                      items:
                      - description: Food Bar
                        origin_country: USA
                        quantity: 2
                        price:
                          amount: 3
                          currency: USD
                        weight:
                          value: 0.6
                          unit: kg
                        sku: Epic_Food_Bar
                        hs_code: '123412'
                    ship_from:
                      contact_name: Nottingham Inc.
                      company_name: Nottingham Inc.
                      street1: 2511 S. Main St.
                      city: Grove
                      state: OK
                      postal_code: '74344'
                      country: USA
                      phone: 1-403-504-5496
                      email: test@test.com
                      type: business
                    ship_to:
                      contact_name: Rick McLeod (RM Consulting)
                      street1: 71 Terrace Crescent NE
                      street2: This is the second streeet
                      city: Medicine Hat
                      state: Alberta
                      postal_code: T1C1Z9
                      country: CAN
                      phone: 1-403-504-5496
                      email: test@test.test
                      type: residential
                  service_options:
                  - type: dangerous_goods
                    un_number: '3480'
                    packing_group: II
                    packing_instruction: PI965
                  - type: paperless_invoice
                    enabled: true
                  - type: saturday_delivery
                    enabled: true
                  - type: insurance
                    insured_value:
                      amount: 500
                      currency: USD
                  - type: pickup
                    start_time: '11:12:11'
                    end_time: '18:00:23'
              properties:
                billing:
                  $ref: '#/components/schemas/Billing.v3'
                customs:
                  $ref: '#/components/schemas/Customs.v3'
                return_shipment:
                  type: boolean
                  description: (set to false if not provided)
                is_document:
                  type: boolean
                  description: If the shipment is document type. (set to false if not provided)
                service_type:
                  type: string
                paper_size:
                  type: string
                shipper_account:
                  type: object
                  properties:
                    id:
                      type: string
                references:
                  type: array
                  items:
                    type: string
                shipment:
                  $ref: '#/components/schemas/Shipment.v3'
                invoice:
                  $ref: '#/components/schemas/Invoice.v3'
                service_options:
                  type: array
                  description: This array contains service_options object. Please refer to [all service options](/docs/shipping/enum/all-service-options) and [service types and service options list](/docs/shipping/enum/service-options-lists) for details.
                  items:
                    type: object
                file_type:
                  type: string
                  enum:
                  - pdf
                  - zpl
                ship_date:
                  type: string
                  description: Ship Date in YYYY-MM-DD, if not provided, will be today of the shipper account timezone
                order_number:
                  type: string
                  description: A user-defined order number used to identify an order.
                order_id:
                  type: string
                  description: Unique identification of the order.
                custom_fields:
                  type: object
                  x-stoplight:
                    id: 2tdvhnb47lf6k
                  additionalProperties:
                    type: string
                  description: 'Custom fields that accept an object with string field.


                    - Maximum charater limit for a key name: 30

                    - Maximum count for a key-value pair in a custom field object: 25

                    - Maximum value length: 512 charaters

                    - Supported value type: String only (object and array are prohibited)'
                files:
                  $ref: '#/components/schemas/Input_files.v3'
                  x-stoplight:
                    id: alsibm32aw646
                print_options:
                  type: object
                  x-stoplight:
                    id: mncji8f0x261x
                  properties:
                    qr_code:
                      type: object
                      x-stoplight:
                        id: wnihchzz69v00
                      description: 'Whether to return the qr_code when creating a label

                        - Supported slug: `arvato`, `canada-post`, `dpd-uk`, `evri`, `vesyl`, `usps`, `poste-italiane`, `pitney-bowes`, `dpd-nl`, `dpd-prt`, `mondialrelay`'
                      properties:
                        enabled:
                          type: boolean
                          x-stoplight:
                            id: i0niqd8ap9xdt
                automatic:
                  type: boolean
                  description: When set to `true`, automation rules configured for the organization will be applied to this label request. Enterprise only.
            examples:
              example-1:
                value:
                  return_shipment: false
                  is_document: false
                  service_type: ups_ground
                  paper_size: 4x6
                  shipper_account:
                    id: 3ba41ff5-59a7-4ff0-8333-64a4375c7f21
                  references:
                  - refernce1
                  shipment:
                    ship_from:
                      contact_name: AfterShip Shipping
                      company_name: AfterShip Shipping
                      street1: 230 W 200 S LBBY
                      city: Salt Lake City
                      state: UT
                      postal_code: '84101'
                      country: USA
                      phone: '19835553752'
                      email: test@test.com
                    ship_to:
                      contact_name: AfterShip Shipping
                      company_name: AfterShip Shipping
                      street1: 230 W 200 S LBBY
                      city: Salt Lake City
                      state: UT
                      postal_code: '84101'
                      country: USA
                      phone: '19835553752'
                      email: test@test.com
                    parcels:
                    - box_type: custom
                      dimension:
                        width: 10
                        height: 10
                        depth: 10
                        unit: cm
                      items:
                      - description: Food Bar
                        quantity: 1
                        price:
                          currency: USD
                          amount: 100
                        item_id: '1234567'
                        origin_country: CHN
                        weight:
                          unit: kg
                          value: 1
                        sku: imac2014
                        hs_code: '100630'
                        return_reason: too big
                      description: Food XS
                      weight:
                        unit: kg
                        value: 1
                  custom_fields:
                    ship_code: '01'
                  print_options:
                    qr_code:
                      enabled: true
          application/xml:
            schema:
              type: object
              properties: {}
        description: Create a label object.
      tags:
      - Labels
      security:
      - as-api-key: []
  /labels/{id}:
    get:
      summary: Get a label
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      id: 3318b97b-150f-4205-840d-a6d966b9e0ea
                      status: created
                      tracking_numbers:
                      - '3884930103'
                      files:
                        label:
                          paper_size: 4x8
                          url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                          file_type: pdf
                        invoice: null
                        customs_declaration: null
                        manifest: null
                      rate:
                        charge_weight:
                          value: 3.307
                          unit: lb
                        total_charge:
                          amount: 0
                          currency: USD
                        shipper_account:
                          id: 00000000-0000-0000-0000-000000000000
                          slug: dhl
                          description: DHL Sandbox
                        service_type: null
                        service_name: null
                        pickup_deadline: null
                        booking_cut_off: null
                        delivery_date: null
                        transit_time: null
                        detailed_charges: []
                        error_message: null
                        info_message: null
                      created_at: '2015-09-09T07:54:13.024Z'
                      updated_at: '2015-09-09T07:54:24.569Z'
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    $ref: '#/components/schemas/Label.v3'
              examples:
                example-1:
                  value:
                    meta:
                      code: 200
                      type: OK
                      message: Everything worked as expected.
                    data:
                      id: 3318b97b-150f-4205-840d-a6d966b9e0ea
                      status: created
                      tracking_numbers:
                      - '3884930103'
                      files:
                        label:
                          paper_size: 4x8
                          url: https://sandbox-download.postmen.com/label/2015-11-27/00000000-0000-0000-0000-000000000000-1441785264309885.pdf
                          file_type: pdf
                        invoice: null
                        customs_declaration: null
                        manifest: null
                      rate:
                        charge_weight:
                          value: 3.307
                          unit: lb
                        total_charge:
                          amount: 0
                          currency: USD
                        shipper_account:
                          id: 00000000-0000-0000-0000-000000000000
                          slug: dhl
                          description: DHL Sandbox
                        service_type: dhl_express_0900
                        service_name: DHL Express 0900
                        pickup_deadline: null
                        booking_cut_off: null
                        delivery_date: null
                        transit_time: null
                        detailed_charges: []
                        error_message: null
                        info_message: null
                      created_at: '2015-09-09T07:54:13.024Z'
                      updated_at: '2015-09-09T07:54:24.569Z'
                      ship_date: '2015-09-09'
      operationId: get-label
      description: Get a label.
      parameters:
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      tags:
      - Labels
      security:
      - as-api-key: []
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Label id
  /couriers:
    get:
      summary: Get all couriers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      couriers:
                      - slug: fedex
                        name: FedEx®
                        operations:
                          post@labels: true
                          post@cancel-labels: true
                          post@admin/cancel-labels: false
                          post@admin/labels: true
                          post@rates: true
                          post@manifests: false
                        courier_service_types:
                        - service_type: fedex_europe_first_international_priority
                          service_name: FedEx Europe First International Priority®
                          ship_from.country: All europe countries
                        - service_type: fedex_2_day
                          service_name: FedEx 2Day®
                          ship_from.country: USA, CAN
                        - service_type: fedex_2_day_am
                          service_name: FedEx 2Day® A.M.
                          ship_from.country: USA, CAN
                        - service_type: fedex_distance_deferred
                          service_name: FedEx Distance Deferred
                          ship_from.country: GBR
                        - service_type: fedex_express_saver
                          service_name: FedEx Express Saver®
                          ship_from.country: USA, MEX, IND, COL, DEU, ESP
                        - service_type: fedex_ground
                          service_name: FedEx Ground®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_ground
                          service_name: FedEx International Ground®
                          ship_from.country: All countries
                        - service_type: fedex_next_day_afternoon
                          service_name: FedEx® Next Day by 12 noon
                          ship_from.country: GBR
                        - service_type: fedex_next_day_early_morning
                          service_name: FedEx® Next Day by 9 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_next_day_end_of_day
                          service_name: FedEx® Next Day
                          ship_from.country: GBR
                        - service_type: fedex_next_day_mid_morning
                          service_name: FedEx® Next Day by 10 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_first_overnight
                          service_name: FedEx First Overnight®
                          ship_from.country: USA, CAN, MEX
                        - service_type: fedex_ground_home_delivery
                          service_name: FedEx Home Delivery®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_economy
                          service_name: FedEx International Economy®
                          ship_from.country: All countries
                        - service_type: fedex_international_economy_freight
                          service_name: FedEx International Economy® Freight
                          ship_from.country: All countries
                        - service_type: fedex_international_first
                          service_name: FedEx International First®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority
                          service_name: FedEx International Priority®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_freight
                          service_name: FedEx International Priority® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight
                          service_name: FedEx Priority Overnight®
                          ship_from.country: USA, CAN, AUT, BEL, CZE, DNK, FIN, FRA, DEU, HUN, IND, ITA, LUX, NOR, POL, ESP, SWE, NLD, MEX, COL
                        - service_type: fedex_same_day
                          service_name: FedEx SameDay®
                          ship_from.country: USA, MEX
                        - service_type: fedex_same_day_city
                          service_name: FedEx SameDay® City
                          ship_from.country: USA, MEX
                        - service_type: fedex_standard_overnight
                          service_name: FedEx Standard Overnight®
                          ship_from.country: USA, CAN, IND, MEX, ARE
                        - service_type: fedex_2_day_one_rate
                          service_name: FedEx 2Day® One Rate
                          ship_from.country: USA
                        - service_type: fedex_2_day_am_one_rate
                          service_name: FedEx 2Day® A.M. One Rate
                          ship_from.country: USA
                        - service_type: fedex_express_saver_one_rate
                          service_name: FedEx Express Saver® One Rate
                          ship_from.country: USA
                        - service_type: fedex_first_overnight_one_rate
                          service_name: FedEx First Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_priority_overnight_one_rate
                          service_name: FedEx Priority Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_standard_overnight_one_rate
                          service_name: FedEx Standard Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_international_connect_plus
                          service_name: FedEx International Connect Plus
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_express
                          service_name: FedEx International Priority Express®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_eod
                          service_name: FedEx International Priority® EOD
                          ship_from.country: All countries
                        - service_type: fedex_first_freight
                          service_name: FedEx First Overnight® Freight
                          ship_from.country: All countries
                        - service_type: fedex_freight_priority
                          service_name: FedEx Freight® Priority
                          ship_from.country: All countries
                        - service_type: fedex_freight_economy
                          service_name: FedEx Freight® Economy
                          ship_from.country: All countries
                        - service_type: fedex_1_day_freight
                          service_name: FedEx 1Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_2_day_freight
                          service_name: FedEx 2Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_3_day_freight
                          service_name: FedEx 3Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight_extra_hours
                          service_name: FedEx Priority Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_standard_overnight_extra_hours
                          service_name: FedEx Standard Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_first_overnight_extra_hours
                          service_name: FedEx First Overnight® Extra Hours
                          ship_from.country: All countries
                        courier_box_types:
                        - box_name: FedEx® 10kg Box
                          box_type: fedex_10kg_box
                          box_size_cm:
                            width: '40.16'
                            height: '32.86'
                            depth: '25.8'
                          box_size_in: {}
                        - box_name: FedEx® 25kg Box
                          box_type: fedex_25kg_box
                          box_size_cm:
                            width: '54.76'
                            height: '42.06'
                            depth: '33.49'
                          box_size_in: {}
                        - box_name: FedEx® Box
                          box_type: fedex_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Envelope
                          box_type: fedex_envelope
                          box_size_cm:
                            width: '24.1'
                            height: '31.8'
                            depth: '2.54'
                          box_size_in: {}
                        - box_name: FedEx® Extra Large Box
                          box_type: fedex_extra_large_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Large Box
                          box_type: fedex_large_box
                          box_size_cm:
                            width: '31.4'
                            height: '45.4'
                            depth: '7.6'
                          box_size_in: {}
                        - box_name: FedEx® Medium Box
                          box_type: fedex_medium_box
                          box_size_cm:
                            width: '29.2'
                            height: '33'
                            depth: '6'
                          box_size_in: {}
                        - box_name: FedEx® Pak
                          box_type: fedex_pak
                          box_size_cm:
                            width: '30.5'
                            height: '39.4'
                          box_size_in: {}
                        - box_name: FedEx® Small Box
                          box_type: fedex_small_box
                          box_size_cm:
                            width: '27.6'
                            height: '31.3'
                            depth: '3.8'
                          box_size_in: {}
                        - box_name: FedEx® Tube
                          box_type: fedex_tube
                          box_size_cm:
                            width: '96.5'
                            height: '15.2'
                            depth: '15.2'
                          box_size_in: {}
                        - box_name: Custom
                          box_type: custom
                          box_size_cm: {}
                          box_size_in: {}
                        ship_from: Global
                        ship_to: Global
                        tracking_numbers: false
                        order: 3
                      paper_sizes:
                      - 4x4
                      - 4x6
                      - 4x6.75
                      - 4x8
                      - a4
                      - default
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    type: object
                    properties:
                      couriers:
                        type: array
                        description: The couriers array contains courier information. Please refer to [courier](../model/primitive/courier.v3.json) object for courier object details.
                        items:
                          $ref: '#/components/schemas/Courier.v3'
              examples:
                get couriers response:
                  value:
                    meta:
                      code: 200
                      message: OK
                      details: []
                      retryable: false
                    data:
                      couriers:
                      - slug: fedex
                        name: FedEx®
                        operations:
                          post@cancel-labels: true
                          post@labels: true
                          post@manifests: false
                          post@rates: true
                        ship_from: Global
                        ship_to: Global
                        paper_sizes:
                        - 4x6
                        - 4x6.75
                        - a4
                        - default
                        courier_service_types:
                        - service_type: fedex_europe_first_international_priority
                          service_name: FedEx Europe First International Priority®
                          ship_from.country: All europe countries
                        - service_type: fedex_2_day
                          service_name: FedEx 2Day®
                          ship_from.country: USA, CAN
                        - service_type: fedex_2_day_am
                          service_name: FedEx 2Day® A.M.
                          ship_from.country: USA, CAN
                        - service_type: fedex_distance_deferred
                          service_name: FedEx Distance Deferred
                          ship_from.country: GBR
                        - service_type: fedex_express_saver
                          service_name: FedEx Express Saver®
                          ship_from.country: USA, MEX, IND, COL, DEU, ESP
                        - service_type: fedex_ground
                          service_name: FedEx Ground®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_ground
                          service_name: FedEx International Ground®
                          ship_from.country: All countries
                        - service_type: fedex_next_day_afternoon
                          service_name: FedEx® Next Day by 12 noon
                          ship_from.country: GBR
                        - service_type: fedex_next_day_early_morning
                          service_name: FedEx® Next Day by 9 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_next_day_end_of_day
                          service_name: FedEx® Next Day
                          ship_from.country: GBR
                        - service_type: fedex_next_day_mid_morning
                          service_name: FedEx® Next Day by 10 a.m.
                          ship_from.country: GBR
                        - service_type: fedex_first_overnight
                          service_name: FedEx First Overnight®
                          ship_from.country: USA, CAN, MEX
                        - service_type: fedex_ground_home_delivery
                          service_name: FedEx Home Delivery®
                          ship_from.country: USA, CAN
                        - service_type: fedex_international_economy
                          service_name: FedEx International Economy®
                          ship_from.country: All countries
                        - service_type: fedex_international_economy_freight
                          service_name: FedEx International Economy® Freight
                          ship_from.country: All countries
                        - service_type: fedex_international_first
                          service_name: FedEx International First®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority
                          service_name: FedEx International Priority®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_freight
                          service_name: FedEx International Priority® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight
                          service_name: FedEx Priority Overnight®
                          ship_from.country: USA, CAN, AUT, BEL, CZE, DNK, FIN, FRA, DEU, HUN, IND, ITA, LUX, NOR, POL, ESP, SWE, NLD, MEX, COL
                        - service_type: fedex_same_day
                          service_name: FedEx SameDay®
                          ship_from.country: USA, MEX
                        - service_type: fedex_same_day_city
                          service_name: FedEx SameDay® City
                          ship_from.country: USA, MEX
                        - service_type: fedex_standard_overnight
                          service_name: FedEx Standard Overnight®
                          ship_from.country: USA, CAN, IND, MEX, ARE
                        - service_type: fedex_2_day_one_rate
                          service_name: FedEx 2Day® One Rate
                          ship_from.country: USA
                        - service_type: fedex_2_day_am_one_rate
                          service_name: FedEx 2Day® A.M. One Rate
                          ship_from.country: USA
                        - service_type: fedex_express_saver_one_rate
                          service_name: FedEx Express Saver® One Rate
                          ship_from.country: USA
                        - service_type: fedex_first_overnight_one_rate
                          service_name: FedEx First Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_priority_overnight_one_rate
                          service_name: FedEx Priority Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_standard_overnight_one_rate
                          service_name: FedEx Standard Overnight® One Rate
                          ship_from.country: USA
                        - service_type: fedex_international_connect_plus
                          service_name: FedEx International Connect Plus
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_express
                          service_name: FedEx International Priority Express®
                          ship_from.country: All countries
                        - service_type: fedex_international_priority_eod
                          service_name: FedEx International Priority® EOD
                          ship_from.country: All countries
                        - service_type: fedex_first_freight
                          service_name: FedEx First Overnight® Freight
                          ship_from.country: All countries
                        - service_type: fedex_freight_priority
                          service_name: FedEx Freight® Priority
                          ship_from.country: All countries
                        - service_type: fedex_freight_economy
                          service_name: FedEx Freight® Economy
                          ship_from.country: All countries
                        - service_type: fedex_1_day_freight
                          service_name: FedEx 1Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_2_day_freight
                          service_name: FedEx 2Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_3_day_freight
                          service_name: FedEx 3Day® Freight
                          ship_from.country: All countries
                        - service_type: fedex_priority_overnight_extra_hours
                          service_name: FedEx Priority Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_standard_overnight_extra_hours
                          service_name: FedEx Standard Overnight® Extra Hours
                          ship_from.country: All countries
                        - service_type: fedex_first_overnight_extra_hours
                          service_name: FedEx First Overnight® Extra Hours
                          ship_from.country: All countries
                        courier_box_types:
                        - box_name: FedEx® 10kg Box
                          box_type: fedex_10kg_box
                          box_size_cm:
                            width: '40.16'
                            height: '32.86'
                            depth: '25.8'
                          box_size_in: {}
                        - box_name: FedEx® 25kg Box
                          box_type: fedex_25kg_box
                          box_size_cm:
                            width: '54.76'
                            height: '42.06'
                            depth: '33.49'
                          box_size_in: {}
                        - box_name: FedEx® Box
                          box_type: fedex_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Envelope
                          box_type: fedex_envelope
                          box_size_cm:
                            width: '24.1'
                            height: '31.8'
                            depth: '2.54'
                          box_size_in: {}
                        - box_name: FedEx® Extra Large Box
                          box_type: fedex_extra_large_box
                          box_size_cm: {}
                          box_size_in: {}
                        - box_name: FedEx® Large Box
                          box_type: fedex_large_box
                          box_size_cm:
                            width: '31.4'
                            height: '45.4'
                            depth: '7.6'
                          box_size_in: {}
                        - box_name: FedEx® Medium Box
                          box_type: fedex_medium_box
                          box_size_cm:
                            width: '29.2'
                            height: '33'
                            depth: '6'
                          box_size_in: {}
                        - box_name: FedEx® Pak
                          box_type: fedex_pak
                          box_size_cm:
                            width: '30.5'
                            height: '39.4'
                          box_size_in: {}
                        - box_name: FedEx® Small Box
                          box_type: fedex_small_box
                          box_size_cm:
                            width: '27.6'
                            height: '31.3'
                            depth: '3.8'
                          box_size_in: {}
                        - box_name: FedEx® Tube
                          box_type: fedex_tube
                          box_size_cm:
                            width: '96.5'
                            height: '15.2'
                            depth: '15.2'
                          box_size_in: {}
                        - box_name: Custom
                          box_type: custom
                          box_size_cm: {}
                          box_size_in: {}
                        tracking_numbers: false
      operationId: get-couriers
      description: 'Get all couriers

        <div style="visibility:hidden; height: 0">

        The couriers array contains courier information. Please refer to [Courier](../model/primitive/courier.v3.json) object for courier object details.

        </div>'
      parameters:
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      tags:
      - Couriers
      security:
      - as-api-key: []
  /cancel-labels:
    get:
      summary: Get the cancelled labels
      responses:
        '200':
          description: Get cancelled labels object.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      next_token: eyJjcmVhdGVkX2F0IjoiMjAxNS0000000000Njo1MjozNC4zNjFaIiwiaWQiOiIwNGZlNDgz0000000000QxYzItYWUxOC1kNTEzZjNmMWNmMWEiLCJ1c2Vy0000000000RjNDY4NTAtNjIyNS00ZTBiLTg5ZTQtZTM3N2M3YWM5ZDk4In0=
                      limit: 20
                      created_at_min: '2015-11-26T08:58:59+00:00'
                      created_at_max: '2015-11-27T08:58:59+00:00'
                      cancel-labels:
                      - id: 0e37b87a-684e-43cd-aaba-f0718e066519
                        status: cancelled
                        label:
                          id: 166218cd-3e0a-4753-ac26-89ddabcd1dda
                        created_at: '2015-11-27T08:55:13+00:00'
                        updated_at: '2015-11-27T08:55:14+00:00'
                      - id: d05971fb-fddf-4243-ad58-7f34401b1da9
                        status: cancelled
                        label:
                          id: 0426d03a-ae0d-4818-801c-4e92b31450da
                        created_at: '2015-11-27T08:52:35+00:00'
                        updated_at: '2015-11-27T08:52:37+00:00'
                      - id: cb404620-890b-4d37-9692-34ea08c4f111
                        status: cancelled
                        label:
                          id: df5769b0-60d0-4daf-8bad-bd164d64e12b
                        created_at: '2015-11-27T08:52:08+00:00'
                        updated_at: '2015-11-27T08:52:09+00:00'
                      - id: 5472583e-3e55-492f-b1ab-5208de524e4e
                        status: cancelled
                        label:
                          id: 72393fe3-be8e-4a7a-8434-1f0b5b56c09e
                        created_at: '2015-11-27T08:47:01+00:00'
                        updated_at: '2015-11-27T08:47:02+00:00'
                      - id: d4811447-fa1b-42a9-9820-09dfd57ed8e0
                        status: cancelled
                        label: null
                        created_at: '2015-11-27T08:41:05+00:00'
                        updated_at: '2015-11-27T08:41:05+00:00'
                      - id: 28e02aea-cd0c-4553-8a63-52bc98c29420
                        status: cancelled
                        label:
                          id: b3d75a21-9d27-4b1b-9592-485667f59e3f
                        created_at: '2015-11-27T08:25:12+00:00'
                        updated_at: '2015-11-27T08:25:13+00:00'
                      - id: 39b4be71-f3d8-4d33-be15-fbf7be0b41d0
                        status: cancelled
                        label:
                          id: d88e9447-c84e-4e97-8d1f-ba98038a7a9e
                        created_at: '2015-11-27T08:22:35+00:00'
                        updated_at: '2015-11-27T08:22:37+00:00'
                      - id: 6941fcfa-6e14-406c-9e9f-4a6f4fb550c1
                        status: cancelled
                        label:
                          id: 2d4caaf4-1231-412d-bb94-62bae88ba785
                        created_at: '2015-11-27T08:22:09+00:00'
                        updated_at: '2015-11-27T08:22:09+00:00'
                      - id: 263123da-c0c0-4fd1-bf1d-3936a788d272
                        status: cancelled
                        label:
                          id: 9fc1f61b-7542-4015-a3dd-5dc4d4e8689b
                        created_at: '2015-11-27T08:17:00+00:00'
                        updated_at: '2015-11-27T08:17:01+00:00'
                      - id: 38b34575-2081-4333-8779-78cab4d9a642
                        status: cancelled
                        label: null
                        created_at: '2015-11-27T08:11:04+00:00'
                        updated_at: '2015-11-27T08:11:04+00:00'
                      - id: 2944f236-6420-4f9f-8c20-b06daaf39f39
                        status: cancelled
                        label:
                          id: b05b2f29-9ed1-4844-90f6-a1ff13af56bb
                        created_at: '2015-11-27T07:55:12+00:00'
                        updated_at: '2015-11-27T07:55:13+00:00'
                      - id: 0c074025-c4d9-47ce-bb89-ae854abe1a1b
                        status: cancelled
                        label:
                          id: 04b151b1-deb1-41e8-afbe-726df8a7ff54
                        created_at: '2015-11-27T07:52:37+00:00'
                        updated_at: '2015-11-27T07:52:38+00:00'
                      - id: 7c78c2a8-0ff0-4c80-bb99-9ae9037034e4
                        status: cancelled
                        label:
                          id: 2afe41d0-70fe-4130-8e76-8d305e1f15dc
                        created_at: '2015-11-27T07:47:02+00:00'
                        updated_at: '2015-11-27T07:47:02+00:00'
                      - id: a0dd6cd0-00c6-4502-ba45-73369a010ca7
                        status: cancelled
                        label: null
                        created_at: '2015-11-27T07:41:04+00:00'
                        updated_at: '2015-11-27T07:41:04+00:00'
                      - id: 78e50de5-f5e9-455c-922d-2de14fe91952
                        status: cancelled
                        label:
                          id: b09f1969-e77f-42dc-94d0-32fe5d4b3337
                        created_at: '2015-11-27T07:25:13+00:00'
                        updated_at: '2015-11-27T07:25:14+00:00'
                      - id: a4a13f7a-66b1-410c-824c-b9edf9aada3a
                        status: cancelled
                        label:
                          id: 9f783f53-c336-4de7-ad6d-b617614ba269
                        created_at: '2015-11-27T07:22:35+00:00'
                        updated_at: '2015-11-27T07:22:36+00:00'
                      - id: f3a97cbe-8792-478c-bfc2-7ab9be026760
                        status: cancelled
                        label:
                          id: 7350085b-a11c-4b63-874e-15a542ee73d2
                        created_at: '2015-11-27T07:17:00+00:00'
                        updated_at: '2015-11-27T07:17:00+00:00'
                      - id: 0f3f06c6-b52d-4fcb-a6a9-7f606991d79c
                        status: cancelled
                        label: null
                        created_at: '2015-11-27T07:11:04+00:00'
                        updated_at: '2015-11-27T07:11:04+00:00'
                      - id: 371186a1-67f3-434c-af79-18ce78ece73e
                        status: cancelled
                        label:
                          id: 1e0af41f-e3d8-42ce-958c-117ebb72ebc5
                        created_at: '2015-11-27T06:55:13+00:00'
                        updated_at: '2015-11-27T06:55:13+00:00'
                      - id: 04fe4835-8527-41c2-ae18-d513f3f1cf1a
                        status: cancelled
                        label:
                          id: f6a3d017-dd7f-42b9-abeb-c8104c130e0a
                        created_at: '2015-11-27T06:52:34+00:00'
                        updated_at: '2015-11-27T06:52:35+00:00'
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    type: object
                    properties:
                      next_token:
                        type: string
                      limit:
                        type: integer
                      created_at_min:
                        type: string
                      created_at_max:
                        type: string
                      cancel_labels:
                        type: array
                        description: The array contains cancel_lebels object information. Please refer to [cancel label](../model/resource/cancel_label.v3.json) object for details.
                        items:
                          $ref: '#/components/schemas/Cancel_label.v3'
              examples:
                get cancel label response:
                  value:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      next_token: eyJjcmVhdGVkX2F0IjoiMjAxNS0000000000Njo1MjozNC4zNjFaIiwiaWQiOiIwNGZlNDgz0000000000QxYzItYWUxOC1kNTEzZjNmMWNmMWEiLCJ1c2Vy0000000000RjNDY4NTAtNjIyNS00ZTBiLTg5ZTQtZTM3N2M3YWM5ZDk4In0=
                      limit: 20
                      created_at_min: '2022-02-26T08:58:59+00:00'
                      created_at_max: '2022-02-27T08:58:59+00:00'
                      cancel-labels:
                      - id: 0e37b87a-684e-43cd-aaba-f0718e066519
                        status: cancelled
                        label:
                          id: 166218cd-3e0a-4753-ac26-89ddabcd1dda
                        created_at: '2022-02-27T08:55:13+00:00'
                        updated_at: '2022-02-27T08:55:14+00:00'
                      - id: d05971fb-fddf-4243-ad58-7f34401b1da9
                        status: cancelled
                        label:
                          id: 0426d03a-ae0d-4818-801c-4e92b31450da
                        created_at: '2022-02-27T08:52:35+00:00'
                        updated_at: '2022-02-27T08:52:37+00:00'
      operationId: get-cancel-labels
      description: 'Get all the cancelled labels.

        <div style="visibility:hidden; height: 0">

        The array contains cancel_lebels object information. Please refer to [cancel label](../model/resource/cancel_label.v3.json) object for details.

        </div>'
      parameters:
      - schema:
          type: string
        in: query
        name: shipper_account_id
        description: Shipper account ID
      - schema:
          type: string
          enum:
          - cancelling
          - cancelled
          - failed
        in: query
        name: status
        description: Cancel Label status
      - schema:
          type: string
        in: query
        name: limit
        description: Number of records per page
      - schema:
          type: string
        in: query
        name: created_at_min
        description: 'Start date and time of the record created (format YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DDTHH:MM:SS+00:00, default: 24hrs ago)'
      - schema:
          type: string
        in: query
        name: created_at_max
        description: 'End date and time of the record created (format YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DDTHH:MM:SS+00:00, default: NOW())'
      - schema:
          type: string
        in: query
        name: next_token
        description: Next token
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      x-internal: false
      tags:
      - Cancel Labels
      security:
      - as-api-key: []
    parameters: []
    post:
      summary: Cancel a label
      operationId: post-cancel-labels
      responses:
        '200':
          description: Cancel a label.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    meta:
                      code: 200
                      message: OK
                      details: []
                    data:
                      id: 00000000-0000-0000-0000-000000000000
                      status: cancelled
                      label:
                        id: 00000000-0000-0000-0000-000000000000
                      created_at: '2015-11-20T09:13:09+00:00'
                      updated_at: '2015-11-20T09:13:09+00:00'
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta.v3'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                        - cancelling
                        - cancelled
                        - failed
                      refund_status:
                        type: string
                      label:
                        type: object
                        properties:
                          id:
                            type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
              examples:
                example-1:
                  value:
                    meta:
                      code: 200
                      type: OK
                      message: Everything worked as expected.
                    data:
                      id: 00000000-0000-0000-0000-000000000000
                      status: cancelled
                      label:
                        id: 00000000-0000-0000-0000-000000000000
                      created_at: '2022-02-11T08:10:47+00:00'
                      updated_at: '2022-02-11T08:10:47+00:00'
      description: Cancel a label.
      parameters:
      - schema:
          type: string
          default: application/json
          example: application/json
        in: header
        name: Content-Type
        description: Content-Type
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  label:
                    id: 00000000-0000-0000-0000-000000000000
              properties:
                label:
                  type: object
                  properties:
                    id:
                      type: string
            examples:
              example-1:
                value:
                  label:
                    id: 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              type: object
              properties: {}
        description: Cancel a label.
      tags:
      - Cancel Labels
      security:
      - as-api-key: []
  /cancel-labels/{id}:
    get:
      summary: Get a cancelled label
      responses:
        '200':
[...]
